{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block nav_aside %}{% endblock %}
{% block body %}
    <!-- Content -->
    <div class="container-xxl zindex-0" style="z-index: 0 !important;">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">

          {% if error %}
            <div class="alert alert-danger alert-dismissible">
              <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                {% if error.code == constant('App\\Constant\\CodeErreurConstant::EMAIL_NO_CONFIRMED') %}
                <div class="mt-3">
                  <small>
                    Vous rencontrez des problème pour recevoir votre mail de confirmation ?
                  </small>
                  <small>
                    vérifiez vos SPAM ou <a href="{{ path('app_send_mail', {'code_situation': error.code}) }}">recevez à nouveau le mail de confirmation</a>
                  </small>
                </div>
                {% elseif error.code == constant('App\\Constant\\CodeErreurConstant::INCORRECT_PASSWORD') %}
                  <div class="mt-3">
                    <small>
                      Vous rencontrez des problème pour vous connecter ?
                    </small>
                    <small>
                        <a href="{{ path('app_send_mail', {'code_situation': error.code}) }}">Réinitialiser mon mot de passe</a>
                    </small>
                  </div>
                {% endif %}

              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>
          {% endif %}

          <!-- Login -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              {% include 'includes/logo_home.html.twig' %}
              <!-- /Logo -->

              <p class="mb-4 has-text-centered">Connectez vous avec vos identifiants</p>

              <form class="mb-3" method="POST">
                <div class="mb-3">
                  <label for="inputEmail" class="form-label">Email</label>
                  <input
                          value="{{ last_username }}"
                          name="email"
                          id="inputEmail"
                          class="form-control input has-text-centered"
                          autocomplete="email"
                          required
                          autofocus>
                </div>
                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Mot de passe</label>
                    <a role="link" href="{{ path('app_send_mail', {'code_situation': constant('App\\Constant\\CodeErreurConstant::INCORRECT_PASSWORD') }) }}">
                      <small>Mot de passe oublié ?</small>
                    </a>
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                            type="password"
                            name="password"
                            id="inputPassword"
                            class="form-control input has-text-centered"
                            autocomplete="current-password"
                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                            required
                    >
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>

{#                <div class="mb-3">#}
{#                  <div class="form-check">#}
{#                    <input class="form-check-input" type="checkbox" id="remember-me" />#}
{#                    <label class="form-check-label" for="remember-me"> Se souvenir de moi </label>#}
{#                  </div>#}
{#                </div>#}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="mb-3">
                  <button class="btn btn-primary d-grid w-100" type="submit">Se connecter</button>
                </div>
              </form>

              <p class="text-center">
                <span>Vous n'avez pas encore de compte ?</span>
                <a href="{{ path('app_register') }}">
                  <span>Créer mon compte</span>
                </a>
              </p>
            </div>
          </div>
          <!-- /Login -->
        </div>
      </div>
    </div>

    <!-- / Content -->
{% endblock %}
