{% extends 'base.html.twig' %}

{% block title %}Connexion espace gestionnaire{% endblock %}
{% block title_main %}Connexion à votre espace gestionnaire{% endblock %}
{% block nav_aside %}{% endblock %}
{% block body %}
    <div class="is-flex is-justify-content-center is-align-items-center" style="height: 100%;">
        <form class="column is-one-third is-one-quarter-desktop" method="post" onsubmit="isLoading(this)">
            <h1 class="title has-text-centered">Bienvenue sur votre l'outil de gestion immobilière</h1>
            {% if error %}
                <div class="tag is-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes déjà connecté sous <b>{{ app.user.username }}</b>, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% else %}
                <div class="field">
                    <label class="label is-size-7">Adresse mail</label>
                    <p class="control has-icons-left has-icons-right">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input is-small has-text-centered" autocomplete="email" required autofocus>
                        <span class="icon is-small is-left">
                        <i class="fas fa-at"></i>
                    </span>
                    </p>
                </div>
                <div class="field">
                    <label class="label is-size-7">Mot de passe</label>
                    <p class="control has-icons-left">
                        <input type="password" name="password" id="inputPassword" class="form-control input is-small has-text-centered" autocomplete="current-password" required>
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    </p>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="field has-text-centered">
                    <p class="control">
                        <button class="button is-success is-small btn-submit">
                            Se connecter
                        </button>
                    </p>
                </div>
            {% endif %}




            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

        </form>
    </div>

{% endblock %}
