{% extends 'base.html.twig' %}

  {% if code_error is defined %}
    {% if code_error == constant('App\\Constant\\CodeErreurConstant::INCORRECT_PASSWORD') %}
      {% set msg_indication = 'Envoyer un mail pour réinitialiser votre mot de passe' %}
      {% set title = 'Réinitialiser votre mot de passe' %}
    {% elseif code_error == constant('App\\Constant\\CodeErreurConstant::EMAIL_NO_CONFIRMED') %}
      {% set msg_indication = 'Envoyer un mail de confirmation' %}
      {% set title = 'Confirmer votre adresse Email' %}
    {% endif %}
  {% endif %}

{% block title %}{{ title|default('') }}{% endblock %}
{% block nav_aside %}{% endblock %}
{% block body %}

    <!-- Content -->
    <div class="container-xxl zindex-0" style="z-index: 0 !important;">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">

          {% if error is defined and error%}
            <div class="alert alert-danger alert-dismissible">
              <span>{{ error.message }}</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
        {% endif %}

          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              {% include 'includes/logo_home.html.twig' %}
              <!-- /Logo -->

              <p class="mb-4 has-text-centered">{{ msg_indication|default('') }}</p>

              {{ form_start(form) }}

              {{ form_row(form.email) }}

              <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgot_password') }}">

              <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit">Envoyer</button>
              </div>

              {{ form_end(form) }}

              <p class="text-center mt-3">
                <span>Vous avez déjà un compte ?</span>
                <a href="{{ path('app_login') }}">
                  <span>Connectez-vous</span>
                </a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- / Content -->
{% endblock %}
