{% extends 'base.html.twig' %}

{% block title %}Edition d'une facture{% endblock %}

{% block title_main %}Edition d'une facture{% endblock %}

{% block body %}

        <div class="hero-body">
            <div class="column py-0 px-0 has-text-centered is-flex is-justify-content-center is-white">
                {% form_theme form 'themes/form/form_errors.html.twig' %}
                {{ form_start(form, {'attr': {'class': 'is-half column py-0 px-0'}}) }}
                <div class="field">
                    <div class="control">
                        {{ form_widget(form.client_name, {'attr': {'class':'input has-text-centered', 'placeholder': 'Nom du client'}}) }}
                        {{ form_errors(form.client_name) }}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        {{ form_widget(form.phone, {'attr': {'class':'input has-text-centered', 'placeholder': 'Numéro de telephone'}}) }}
                        {{ form_errors(form.phone) }}
                    </div>
                </div>

                <div class="field">

                    <div class="control">
                        {{ form_widget(form.email, {'attr': {'class':'input has-text-centered', 'placeholder': 'Adresse email'}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        {{ form_widget(form.adresse, {'attr': {'class':'input has-text-centered', 'placeholder': 'Adresse postale'}}) }}
                        {{ form_errors(form.adresse) }}
                    </div>
                </div>

                <div class="is-flex-desktop field">

                    <div class="column">
                        <label class="label has-text-light is-size-7">Quantité</label>
                        <div class="field">
                            <div class="control">
                                {{ form_widget(form.quantity_1, {'attr': {'class':'input is-small has-text-centered', 'placeholder': 'Quantité'}}) }}
                            </div>
                            {{ form_errors(form.quantity_1) }}
                        </div>

                        <label class="label has-text-light is-size-7">Prix unitaire HT</label>
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                {{ form_widget(form.price_unit_ht_1, {'attr': {'class':'input is-small has-text-centered', 'placeholder': 'Prix unitaire HT'}}) }}
                            </p>
                            <p class="control" title="Devis en Euros">
                                <a class="button is-small is-static">
                                    €
                                </a>
                            </p>
                        </div>
                        {{ form_errors(form.price_unit_ht_1) }}
                    </div>

                    <div class="field column is-three-quarters-desktop">
                        <div class="control">
                            {{ form_widget(form.description_1, {'attr': {'class':'textarea has-text-centered', 'placeholder': 'Description du produit / service', 'style':'resize:none;'}}) }}
                            {{ form_errors(form.description_1) }}
                        </div>
                    </div>

                </div>



                <div class="control">
                    <button class="button is-success">Editer le devis</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

{% endblock %}
