{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block title_main %}Création de votre compte{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<div class="is-flex is-justify-content-center is-align-items-center">
    {{ form_start(registrationForm, {'attr' : {'class': 'column is-one-third'}}) }}
    <div class="field">
        <label class="label is-size-7">{{ form_label(registrationForm.email) }}</label>
        <p class="control has-icons-left has-icons-right">
            {{ form_widget(registrationForm.email, {'attr' : {'class': 'form-control input is-small'}}) }}
            <span class="icon is-small is-left">
                <i class="fas fa-at"></i>
            </span>
        </p>
        {% if form_errors(registrationForm.email) %}
            <span class="tag is-danger">
                {{ form_errors(registrationForm.email) }}
            </span>
        {% endif %}
    </div>

    <div class="field">
        <label class="label is-size-7">{{ form_label(registrationForm.gender) }}</label>
        <div class="control has-icons-left">
            <div class="select is-fullwidth is-small">
                {{ form_widget(registrationForm.gender, {'attr' : {'class': 'form-control select'}}) }}
            </div>
            <span class="icon is-small is-left">
                <i class="fas fa-venus-mars"></i>
            </span>
        </div>
        {% if form_errors(registrationForm.gender) %}
            <span class="tag is-danger">
                {{ form_errors(registrationForm.gender) }}
            </span>
        {% endif %}
    </div>

    <div class="field">
        <label class="label is-size-7">{{ form_label(registrationForm.lastName) }}</label>
        <p class="control has-icons-left has-icons-right">
            {{ form_widget(registrationForm.lastName, {'attr' : {'class': 'form-control input is-small'}}) }}
            <span class="icon is-small is-left">
                <i class="fas fa-id-card"></i>
            </span>
        </p>
        {% if form_errors(registrationForm.lastName) %}
            <span class="tag is-danger">
                {{ form_errors(registrationForm.lastName) }}
            </span>
        {% endif %}
    </div>

    <div class="field">
        <label class="label is-size-7">{{ form_label(registrationForm.firstName) }}</label>
        <p class="control has-icons-left has-icons-right">
            {{ form_widget(registrationForm.firstName, {'attr' : {'class': 'form-control input is-small'}}) }}
            <span class="icon is-small is-left">
                <i class="far fa-id-card"></i>
            </span>
        </p>
        {% if form_errors(registrationForm.firstName) %}
            <span class="tag is-danger">
                {{ form_errors(registrationForm.firstName) }}
            </span>
        {% endif %}
    </div>

    <div class="field">
        <label class="label is-size-7">{{ form_label(registrationForm.phoneNumber) }}</label>
        <p class="control has-icons-left has-icons-right">
            {{ form_widget(registrationForm.phoneNumber, {'attr' : {'class': 'form-control input is-small'}}) }}
            <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
            </span>
        </p>
        {% if form_errors(registrationForm.phoneNumber) %}
            <span class="tag is-danger">
                {{ form_errors(registrationForm.phoneNumber) }}
            </span>
        {% endif %}
    </div>

    <div class="field">
        <label class="label is-size-7">{{ form_label(registrationForm.plainPassword.first) }}</label>
        <p class="control has-icons-left has-icons-right">
            {{ form_widget(registrationForm.plainPassword.first, {'attr' : {'class': 'form-control input is-small'}}) }}
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
        </p>
        {% if form_errors(registrationForm.plainPassword.first) %}
            <span class="tag is-danger">
                {{ form_errors(registrationForm.plainPassword.first) }}
            </span>
        {% endif %}
    </div>

    <div class="field">
        <label class="label is-size-7">{{ form_label(registrationForm.plainPassword.second) }}</label>
        <p class="control has-icons-left has-icons-right">
            {{ form_widget(registrationForm.plainPassword.second, {'attr' : {'class': 'form-control input is-small'}}) }}
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
        </p>
        {% if form_errors(registrationForm.plainPassword.second) %}
            <span class="tag is-danger">
                {{ form_errors(registrationForm.plainPassword.second) }}
            </span>
        {% endif %}

    </div>

    <div class="field has-text-centered">
        <button type="submit" class="button is-success is-small">Valider</button>
    </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
