{% import 'includes/macros.html.twig' as macros %}

{% if row.vars.name == 'comptabilite' %}
    {% set class_1 = 'row' %}
{% else %}
    {% set class_1 = 'col-xxl' %}
{% endif %}
<div class="card accordion-item {% if loop.index == 1 %}active{% endif %} mb-3">
    <h2 class="accordion-header" id="heading-{{ row.vars.name }}">
        <button type="button" class="accordion-button is-size-5 has-text-weight-bold" data-bs-toggle="collapse" data-bs-target="#accordion-{{ row.vars.name }}" aria-expanded="true" aria-controls="accordion-{{ row.vars.name }}" role="tabpanel">
            {{ form_label(row) }}
        </button>
    </h2>
    <div id="accordion-{{ row.vars.name }}" class="accordion-collapse collapse {% if loop.index == 1 %}show{% endif %}" data-bs-parent="#accordionMain">
        <div class="accordion-body">
            <div class="{{ class_1 }}">
                {% if row is defined %}
                    {{ macros.form_section_template(row) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>