{% set logement_status_color = '' %}
{% if bien_immo.locataires is empty %}
    {% set logement_status_color = 'primary' %}
{% else %}
    {% set logement_status_color = 'primary' %}
{% endif %}
{% set last_quittance = bien_immo.quittances|sort((a, b) => a.date <=> b.date)|last %}

<div class="card mb-5 {#{% if last_quittance and last_quittance.payed %}has-background-success-light{% endif %}#}">
    <header class="card-header has-background-{{ logement_status_color }} mb-1">
        <p class="card-header-title has-text-light has-icons-left is-flex-direction-column-touch">

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {% if bien_immo.user %}
                    <a href="{{ path('user_edit', {'id': bien_immo.user.id }) }}#gestionnaire" class="has-text-primary has-text-weight-normal has-background-light is-flex is-justify-content-center is-align-items-center hovertext" data-hover="Voir le gestionnaire {{ bien_immo.user }}" style="padding: 5px;width:35px;height:35px;border-radius: 50%;">
                        <b>{{ bien_immo.user.firstname|first|capitalize }}{{ bien_immo.user.lastname|first|capitalize }}</b>
                    </a>
                {% else %}
                    <a class="has-text-primary has-text-weight-normal has-background-grey-lighter is-flex is-justify-content-center is-align-items-center hovertext not-allowed-onhover" disabled data-hover="Sans gestionnaire" style="padding: 5px;width:35px;height:35px;border-radius: 50%;">
                        <i class="is-size-7">N/A</i>
                    </a>
                {% endif %}
            {% endif %}

            <span class="is-expanded column is-flex-desktop px-0 py-0 is-justify-content-center">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-lg {% if bien_immo.locataires is empty %}fa-home{% else %}fa-house-user{% endif %}"></i>
                    </span>
                    <span class="font-custom">{{ bien_immo.street }}</span>
                </span>
            </span>

            {% if bien_immo.type %}
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-warehouse"></i>
                    </span>
                    <span class="font-custom">{{ bien_immo.type }}
                        {% if bien_immo.superficie != 0 %}
                            <span class="is-italic">({{ bien_immo.superficie }}m²)</span>
                        {% endif %}
                    </span>
                </span>
            {% endif %}

        </p>
    </header>

    <div class="card-content px-0 py-0">
        <div class="content card-childs-even">

            {{ include('immo/bien_card/street_row.html.twig') }}

            {{ include('immo/bien_card/locataire_row.html.twig') }}

            {{ include('immo/bien_card/loyer_row.html.twig') }}

            {{ include('immo/bien_card/syndic_row.html.twig') }}

            {{ include('immo/bien_card/quittance_row.html.twig') }}

        </div>
    </div>

    <footer class="card-footer card-footer-column-mobil">
        <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}#logement" class="card-footer-item bg-primary-onhover text-white-onhover text-bold-onhover has-text-centered is-flex-direction-column">
            <span>
                <i class="fas fa-lg fa-cogs"></i>
            </span>
            <span class="is-size-7">
                Gérer ce logement
            </span>
        </a>
        <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}#files" class="card-footer-item bg-primary-onhover text-white-onhover text-bold-onhover has-text-centered is-flex-direction-column">
            <span>
                <i class="fas fa-lg fa-folder-open"></i>
            </span>
            <span class="is-size-7">
                Documents
            </span>
        </a>
        {% if bien_immo.locataires is not empty %}
            <a href="{{ path('quittances_edit_new_quittance', {'loc_id': bien_immo.locataires.current.id}) }}" class="card-footer-item bg-primary-onhover text-white-onhover text-bold-onhover has-text-centered is-flex is-flex-direction-column">
                <span>
                    <i class="fas fa-lg fa-file-signature"></i>
                </span>
                <span class="is-size-7">
                    Editer une quittance
                </span>
            </a>
        {% endif %}
    </footer>

</div>
