<div class="card">
    <header class="card-header has-background-dark">
        <p class="card-header-title has-text-light is-justify-content-center">
            {{ bien_immo.building }}
        </p>
    </header>
    <div class="card-content has-background-light">
        <div class="content">
            Adresse : <b>{{ bien_immo.street }}, {{ bien_immo.cp }} {{ bien_immo.city }}</b><br>
            Loyer : <b>{{ bien_immo.loyerHc }} €</b><br>
            Charges : <b>{{ bien_immo.charges }} €</b><br>
            Loyer TTC : <b>{{ bien_immo.loyerHc + bien_immo.charges }} €</b><br>
            Locataire :
            {% if bien_immo.locataires.current %}
                <a href="{{ path('locataire_show', {'id': bien_immo.locataires.current.id}) }}" class="tag is-dark">{{ bien_immo.locataires.current.firstName }} {{ bien_immo.locataires.current.lastName }}</a>
            {% else %}
                Sans locataire
            {% endif %}
        </div>
    </div>
    <footer class="card-footer">
        <a href="{{ path('bien_immo_show', {'id': bien_immo.id}) }}" class="card-footer-item has-background-dark has-text-light bg-info-onhover">Détails</a>
        <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}" class="card-footer-item has-background-dark has-text-light bg-info-onhover">Gérer ce logement</a>
    </footer>
</div>