{% set logement_status_color = '' %}
{% if bien_immo.locataires is empty %}
    {% set logement_status_color = 'light' %}
{% else %}
    {% set logement_status_color = 'info' %}
{% endif %}
<div class="card mb-5">
    <header class="card-header has-background-dark">
        <p class="card-header-title has-text-{{ logement_status_color }} has-icons-left is-flex-direction-column-touch">

            <span class="is-expanded column px-0 py-0 is-flex is-justify-content-center">
                <span class="icon-text has-text-{{ logement_status_color }}">
                    <span class="icon">
                        <i class="fas fa-lg {% if bien_immo.locataires is empty %}fa-home{% else %}fa-house-user{% endif %}"></i>
                    </span>
                    <span class="is-uppercase">{{ bien_immo.street }}</span>
                </span>
            </span>

            {% if bien_immo.type %}
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-warehouse"></i>
                    </span>
                    <span class="has-text-weight-bold">{{ bien_immo.type }}
                        {% if bien_immo.superficie != 0 %}
                            <span class="has-text-weight-bold is-size-7">({{ bien_immo.superficie }}m²)</span>
                        {% endif %}
                    </span>
                </span>
            {% endif %}

        </p>
    </header>
    <div class="card-content">
        <div class="content">
            Adresse : <b>{{ bien_immo.street }}, {{ bien_immo.cp }} {{ bien_immo.city }}</b><br>
            Loyer : <b>{{ bien_immo.loyerHc }} €</b><br>
            Charges : <b>{{ bien_immo.charges }} €</b><br>
            Loyer TTC : <b>{{ bien_immo.loyerTtc|number_format(2) }} €</b><br>
            Locataire :
            {% if bien_immo.locataires.current %}
                <a href="{{ path('locataire_edit', {'id': bien_immo.locataires.current.id}) }}" class="has-text-{{ logement_status_color }} has-text-weight-bold show-on-hover" title="Voir les détails du locataire">
                    <span>{{ bien_immo.locataires.current }}</span>
                    <span class="icon show-on-hover-target is-hidden-touch">
                        <i class="fas fa-search"></i>
                    </span>
                </a>
            {% else %}
                <a class="text-info-onhover show-on-hover" href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}#logement" title="Ajouter un locataire">
                    <span class="is-italic">Sans locattaire</span>
                    <span class="icon show-on-hover-target is-hidden-touch">
                        <i class="fas fa-user-plus add-loc"></i>
                    </span>
                    <span class="icon is-hidden-desktop">
                        <i class="fas fa-user-plus add-loc"></i>
                    </span>
                </a>
            {% endif %}
            <br>
            Syndic/Syndicat :
            {% if bien_immo.copropriete and bien_immo.copropriete.name %}
                <b class="is-uppercase">{{ bien_immo.copropriete.name }}</b>
            {% else %}
                <i>N/A</i>
            {% endif %}
        </div>
    </div>
    <footer class="card-footer is-flex-direction-column-mobil card-footer-column-mobil">
        <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}" class="card-footer-item has-background-dark has-text-light bg-info-onhover has-text-centered">Gérer ce logement</a>
        {% if bien_immo.locataires is not empty %}
            <a href="{{ path('quittances_edit_new_quittance', {'loc_id': bien_immo.locataires.current.id}) }}" class="card-footer-item has-background-dark has-text-light bg-info-onhover has-text-centered is-flex is-flex-direction-column">
                <span>Editer une quittance</span>
            </a>
        {% endif %}
    </footer>
</div>
