{% set logement_status_color = '' %}
{% if bien_immo.locataires is empty %}
    {% set logement_status_color = 'light' %}
{% else %}
    {% set logement_status_color = 'primary' %}
{% endif %}

<div class="card mb-5">
    <header class="card-header has-background-{{ logement_status_color }} mb-1">
        <p class="card-header-title has-text-light has-icons-left is-flex-direction-column-touch">

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {% if bien_immo.user %}
                    <a href="{{ path('user_edit', {'id': bien_immo.user.id }) }}#gestionnaire" class="has-text-primary has-text-weight-normal has-background-light is-flex is-justify-content-center is-align-items-center hovertext" data-hover="Voir le gestionnaire {{ bien_immo.user }}" style="padding: 5px;width:35px;height:35px;border-radius: 50%;">
                        <b>{{ bien_immo.user.firstname|first|capitalize }}{{ bien_immo.user.lastname|first|capitalize }}</b>
                    </a>
                {% elseif bien_immo.locataires.current.user %}
                    <a href="{{ path('user_edit', {'id': bien_immo.locataires.current.user.id }) }}#gestionnaire" class="has-text-primary has-text-weight-normal has-background-light is-flex is-justify-content-center is-align-items-center hovertext" data-hover="Voir le gestionnaire {{ bien_immo.locataires.current.user }}" style="padding: 5px;width:35px;height:35px;border-radius: 50%;">
                        <b>{{ bien_immo.locataires.current.user.firstname|first|capitalize }}{{ bien_immo.locataires.current.user.lastname|first|capitalize }}</b>
                    </a>
                {% else %}
                    <a class="has-text-primary has-text-weight-normal has-background-grey-lighter is-flex is-justify-content-center is-align-items-center hovertext not-allowed-onhover" disabled data-hover="Sans gestionnaire" style="padding: 5px;width:35px;height:35px;border-radius: 50%;">
                        <i class="is-size-7">N/A</i>
                    </a>
                {% endif %}
            {% endif %}

            <span class="is-expanded column is-flex-desktop px-0 py-0 is-flex is-justify-content-center">
                <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}#logement" class="icon-text has-text-light">
                    <span class="icon">
                        <i class="fas fa-lg {% if bien_immo.locataires is empty %}fa-home{% else %}fa-house-user{% endif %}"></i>
                    </span>
                    <span class="is-uppercase"><b>{{ bien_immo.street }}</b></span>
                </a>
            </span>

            {% if bien_immo.type %}
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-warehouse"></i>
                    </span>
                    <span class="has-text-weight-bold">{{ bien_immo.type }}
                        {% if bien_immo.superficie != 0 %}
                            <span class="is-italic">({{ bien_immo.superficie }}m²)</span>
                        {% endif %}
                    </span>
                </span>
            {% endif %}

        </p>
    </header>

    <div class="card-content px-0 py-0">
        <div class="content card-childs-even">

            <div class="column is-flex px-0 pt-0 pb-1">
                <div class="column is-4-desktop is-3-mobile px-1 py-1 has-text-light is-flex is-justify-content-center is-align-items-center">
                    <span class="is-hidden-touch">
                        Adresse
                    </span>
                    <span class="is-hidden-desktop">
                        <i class="fas fa-2x fa-map-marked-alt"></i>
                    </span>
                </div>
                <div class="column px-5 py-1 is-flex-mobile is-justify-content-center is-align-items-center is-expanded has-text-centered">
                    <a href="https://maps.google.com/?q={{ bien_immo.street }}, {{ bien_immo.cp }} {{ bien_immo.city }}" onclick="window.open(
                        this.href,
                        'newwindow',
                        'width=1000,height=600');
                        return false;"
                       class="has-text-info has-text-weight-bold show-on-hover" title="Voir les détails du logement">
                        <span>{{ bien_immo.street }}, {{ bien_immo.cp }} {{ bien_immo.city }}</span>
                        <span class="icon show-on-hover-target is-hidden-touch">
                        <i class="fas fa-search"></i>
                    </span>
                    </a>
                </div>
            </div>

            <div class="column is-flex px-0 pt-0 pb-1">

                <div class="column is-4-desktop is-3-mobile px-1 py-1 has-text-light is-flex is-justify-content-center is-align-items-center hovertext" data-hover="Locataire occupant">
                    <span class="is-hidden-touch">
                        Locataire
                    </span>
                    <span class="is-hidden-desktop">
                        <i class="fas fa-2x fa-user"></i>
                    </span>
                </div>

                <div class="column px-5 py-1 is-flex is-justify-content-center is-align-items-center is-expanded has-text-centered">
                    {% if bien_immo.locataires.current %}
                        <a href="{{ path('locataire_edit', {'id': bien_immo.locataires.current.id}) }}#locataire" class="column is-expanded px-0 py-0 has-text-info has-text-weight-bold show-on-hover" title="Voir les détails du locataire">
                            <span>{{ bien_immo.locataires.current }}</span>
                            <span class="icon show-on-hover-target is-hidden-touch">
                                <i class="fas fa-search"></i>
                            </span>
                        </a>
                        {% if bien_immo.locataires.current.email %}
                            <a href="mailto:{{ bien_immo.locataires.current.email }}" class="px-1 py-0 is-4-desktop is-flex is-justify-content-center is-align-items-center has-text-centered text-info-onhover hovertext" data-hover="{{ bien_immo.locataires.current.email }}">
                                <span class="icon">
                                    <i class="fas fa-lg fa-envelope"></i>
                                </span>
                            </a>
                        {% endif %}
                        {% if bien_immo.locataires.current.phone %}
                            <a href="tel:{{ bien_immo.locataires.current.phone }}" class="px-1 py-0 is-4-desktop is-flex is-justify-content-center is-align-items-center has-text-centered text-info-onhover hovertext" data-hover="{{ bien_immo.locataires.current.phone }}">
                                <span class="icon">
                                    <i class="fas fa-lg fa-phone"></i>
                                </span>
                            </a>
                        {% endif %}
                    {% else %}
                        <a class="text-info-onhover show-on-hover" href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}#logement" title="Ajouter un locataire">
                            <span class="is-italic">Sans locattaire</span>
                            <span class="icon show-on-hover-target is-hidden-touch">
                                <i class="fas fa-user-plus add-loc"></i>
                            </span>
                            <span class="icon is-hidden-desktop">
                                <i class="fas fa-user-plus add-loc"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>

            </div>

            <div class="column is-flex px-0 pt-0 pb-1">
                <div class="column is-4-desktop is-3-mobile px-1 py-1 has-text-light is-flex is-justify-content-center is-align-items-center help-mouse-hover hovertext" data-hover="Charges incluses">
                    <span class="is-hidden-touch">
                        Loyer *
                    </span>
                    <span class="is-hidden-desktop">
                        <i class="fas fa-2x fa-hand-holding-usd"></i>
                    </span>
                </div>
                <div class="column px-5 py-1 is-flex-mobile is-justify-content-center is-align-items-center is-expanded has-text-centered">
                    <b>{{ bien_immo.loyerTtc|number_format(2) }} €</b>
                </div>
            </div>

            <div class="column is-flex px-0 pt-0 pb-1">
                <div class="column is-4-desktop is-3-mobile px-1 py-1 has-text-light is-flex is-justify-content-center is-align-items-center hovertext" data-hover="Société de Syndic">
                    <span class="is-hidden-touch">
                        Syndic
                    </span>
                    <span class="is-hidden-desktop">
                        <i class="fas fa-2x fa-hands-helping"></i>
                    </span>
                </div>
                <div class="column px-5 py-1 is-flex is-justify-content-center is-align-items-center is-expanded has-text-centered">
                    {% if bien_immo.copropriete and bien_immo.copropriete.name %}
                        <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}#copropriete" class="column is-expanded px-0 py-0 has-text-info has-text-weight-bold show-on-hover" title="Voir les détails de la copropriété">
                            <span><b class="is-uppercase">{{ bien_immo.copropriete.name }}</b></span>
                            <span class="icon show-on-hover-target is-hidden-touch">
                            <i class="fas fa-search"></i>
                        </span>
                        </a>
                        {% if bien_immo.copropriete.email %}
                            <a href="mailto:{{ bien_immo.copropriete.email }}" class="px-1 py-0 is-4-desktop is-flex is-justify-content-center is-align-items-center has-text-centered text-info-onhover hovertext" data-hover="{{ bien_immo.copropriete.email }}">
                                <span class="icon">
                                    <i class="fas fa-lg fa-envelope"></i>
                                </span>
                            </a>
                        {% endif %}
                        {% if bien_immo.copropriete.phone %}
                            <a href="tel:{{ bien_immo.copropriete.phone }}" class="px-1 py-0 is-4-desktop is-flex is-justify-content-center is-align-items-center has-text-centered text-info-onhover hovertext" data-hover="{{ bien_immo.copropriete.phone }}">
                                <span class="icon">
                                    <i class="fas fa-lg fa-phone"></i>
                                </span>
                            </a>
                        {% endif %}
                    {% else %}
                        <i>N/A</i>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    <footer class="card-footer card-footer-column-mobil">
        <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}#logement" class="card-footer-item bg-primary-onhover text-white-onhover text-bold-onhover has-text-centered">
            <span class="is-hidden-touch">
                Gérer ce logement
            </span>
            <span class="is-hidden-desktop">
                <i class="fas fa-2x fa-cogs"></i>
            </span>
        </a>
        <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}#files" class="card-footer-item bg-primary-onhover text-white-onhover text-bold-onhover has-text-centered">
            <span class="is-hidden-touch">
                Documents
            </span>
            <span class="is-hidden-desktop">
                <i class="fas fa-2x fa-folder-open"></i>
            </span>
        </a>
        {% if bien_immo.locataires is not empty %}
            <a href="{{ path('quittances_edit_new_quittance', {'loc_id': bien_immo.locataires.current.id}) }}" class="card-footer-item bg-primary-onhover text-white-onhover text-bold-onhover has-text-centered is-flex is-flex-direction-column">
                <span class="is-hidden-touch">
                    Editer une quittance
                </span>
                <span class="is-hidden-desktop">
                    <i class="fas fa-2x fa-file-signature"></i>
                </span>
            </a>
        {% endif %}
    </footer>
</div>
