{% extends 'base.html.twig' %}

{% block title %}Immobilier{% endblock %}

{% block body %}
    <div class="hero-body">
        <div class="column">

            <div class="is-flex-desktop is-justify-content-space-between">
                <div class="column has-text-centered-touch">
                    <a href="{{ path('bien_immo_new') }}" class="button is-light is-outlined">Ajouter un bien</a>
                    <a href="{{ path('locataire_new') }}" class="button is-light is-outlined">Ajouter un locataire</a>
                </div>
                <div class="column has-text-right-desktop has-text-centered-touch">
                    <a href="{{ path('bien_immo_index') }}" class="button is-light is-outlined">Vos biens</a>
                    <a href="{{ path('locataire_index') }}" class="button is-light is-outlined">Vos locataires</a>
                </div>
            </div>
            <div class="column">

                    {% set total_loyer_ttc = 0 %}
                    {% set total_loyer_hc = 0 %}
                    {% set total_charges = 0 %}
                    {% for bien_immo in bien_immos %}
                        {% set total_loyer_ttc =  total_loyer_ttc + (bien_immo.loyerHc + bien_immo.charges) %}
                        {% set total_loyer_hc =  total_loyer_hc + bien_immo.loyerHc %}
                        {% set total_charges =  total_charges + bien_immo.charges %}
                            <div class="column">
                                {{ include('immo/biens_card.html.twig') }}
                            </div>

{#                        <tr>#}
{#                            <td>{{ bien_immo.building }}</td>#}
{#                            <td>{{ bien_immo.street }}</td>#}
{#                            <td>{{ bien_immo.cp }}</td>#}
{#                            <td>{{ bien_immo.city }}</td>#}
{#                            <td>{{ bien_immo.loyerHc }} €</td>#}
{#                            <td>{{ bien_immo.charges }} €</td>#}
{#                            <td>{{ bien_immo.loyerHc + bien_immo.charges }} €</td>#}
{#                            <td>#}
{#                                <a href="{{ path('bien_immo_show', {'id': bien_immo.id}) }}">Détails</a>#}
{#                                <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}">Modifier</a>#}
{#                            </td>#}
{#                        </tr>#}
                    {% else %}

                        <span>Vous n'avez aucun Biens immobiliers enreggistrés</span>

                    {% endfor %}

{#                            {{ total_loyer_hc }} €#}

{#                            {{ total_charges }} €#}

{#                            {{ total_loyer_ttc }} €#}

            </div>
        </div>

    </div>
{% endblock %}
