{% extends 'base.html.twig' %}

{% block title %}Immobilier{% endblock %}

{% block title_main %}Votre gestion immobilière{% endblock %}

{% block body %}

{#            <div class="column is-flex-desktop is-align-items-center is-flex-direction-column px-0 py-0">#}

    {#
                <div class="is-flex-tablet is-justify-content-center">
                    <div class="tags has-addons mb-0 mx-1">
                        <span class="tag is-light has-text-weight-bold">Nombre total de biens immobiliers</span>
                        <span class="tag is-dark">{{ biens_immos.getTotalItemCount }}</span>
                    </div>
                    <div class="tags has-addons mb-0 mx-1">
                        <span class="tag is-light has-text-weight-bold">Nombre total de locataires</span>
                        <span class="tag is-dark">{{ locataires.getTotalItemCount }}</span>
                    </div>
                </div>
      #}

    <div class="tags mb-2 is-justify-content-center">
        <span class="tag hovertext borderless-radius" data-hover="Trier les biens immobiliers">
            <span class="icon">
                <i class="fas fa-sort-amount-down"></i> :
            </span>
        </span>
        <span class="tag borderless-radius">{{ knp_pagination_sortable(biens_immos, 'A-Z', 'street') }}</span>
        <span class="tag borderless-radius">{{ knp_pagination_sortable(biens_immos, 'Type', 'type') }}</span>
        <span class="tag borderless-radius">{{ knp_pagination_sortable(biens_immos, 'Superficie', 'superficie') }}</span>
        {#                    <span class="tag borderless-radius">{{ knp_pagination_sortable(biens_immos, 'Loyer HC', 'loyer_hc') }}</span>#}
        {#                    <span class="tag borderless-radius">{{ knp_pagination_sortable(biens_immos, 'Charges', 'charges') }}</span>#}
        <span class="tag borderless-radius">{{ knp_pagination_sortable(biens_immos, 'Loyer', 'loyer_ttc') }}</span>
        <span class="tag borderless-radius">{{ knp_pagination_sortable(biens_immos, 'Syndic/Syndicat', 'copropriete.name') }}</span>
        {#<span class="tag borderless-radius">{{ knp_pagination_sortable(biens_immos, 'Payée', 'quittances.last.payed') }}</span>#}
    </div>
    {#                <span class="">{{ knp_pagination_filter(biens_immos, ['building']) }}</span>#}


    <div class="column is-flex-desktop is-flex-direction-row-reverse is-justify-content-center px-0 py-0">

        <div class="column is-full-mobile is-4-tablet is-3-desktop is-2-fullhd">
            {{ include('immo/side_infos.html.twig') }}
        </div>

        <div class="column px-0 py-0 is-flex-desktop is-flex-direction-column is-half is-full-touch">

            {{ knp_pagination_render(biens_immos) }}

            {% set total_loyer_ttc = 0 %}
            {% set total_loyer_hc = 0 %}
            {% set total_charges = 0 %}
            {% for bien_immo in biens_immos %}
                {% set total_loyer_ttc =  total_loyer_ttc + (bien_immo.loyerHc + bien_immo.charges) %}
                {% set total_loyer_hc =  total_loyer_hc + bien_immo.loyerHc %}
                {% set total_charges =  total_charges + bien_immo.charges %}
                <div class="column is-full">
                    {{ include('immo/biens_card.html.twig') }}
                </div>
            {% else %}

                <div class="column is-flex is-justify-content-center is-align-items-center is-flex-direction-column box-shadow-bulma has-background-info border-radius-2px">
                <span class="icon-text px-3 py-2 has-text-light is-flex is-justify-content-center is-align-items-center has-text-centered" style="line-height: normal">
                    <span class="icon">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span>
                        <b>Vous n'avez aucun Biens immobiliers enregistrés</b>
                    </span>
                </span>
                    <a href="{{ path('bien_immo_new') }}#logement" class="button is-small is-info is-light">Ajouter un bien immobilier</a>
                </div>

            {% endfor %}

            <div class="mb-6">
                {{ knp_pagination_render(biens_immos) }}
            </div>
        </div>

    </div>

{#            </div>#}

{% endblock %}
