{% extends 'base.html.twig' %}

{% block title %}{{ entreprise.name }}{% endblock %}
{% block title_main_background_img %};background: center / cover no-repeat url({{ vich_uploader_asset(entreprise, 'imageFile') }});{% endblock %}
{#{% block title_main_background_layer %}background: rgba(2, 18, 34, 0.9);{% endblock %}#}
{% block title_main %}{{ entreprise.name }}{% endblock %}

{% block body %}
    <div class="hero-body">

        <div class="column is-flex-desktop">
            <a href="{{ path('entreprenariat_devis', {'id': entreprise.id,'entreprise_name': entreprise.name|replace({' ': ''}) }) }}" class="column is-flex is-justify-content-center is-align-items-center px-0 py-0 mx-1 my-1 is-relative is-blurred-desktop remove-blurred-onhover has-background-light" style="height: 50vh;background: center / contain no-repeat url({{ asset('build/images/undraw_agreement_re_d4dv.64f9ddd0.svg') }})">
                <span class="has-text-centered is-absolute is-top is-size-3 is-bold px-3 mx-4 my-4 has-text-info" style="background: rgba(255,255,255,.5);border-radius: 5px">Devis</span>
            </a>
            <a href="#" class="column is-flex is-justify-content-center is-align-items-center px-0 py-0 mx-1 my-1 is-relative is-blurred-desktop remove-blurred-onhover has-background-light" style="height: 50vh;background: center / contain no-repeat url({{ asset('build/images/undraw_receipt_re_fre3.82030704.svg') }})">
                <span class="has-text-centered is-absolute is-top is-size-3 is-bold px-3 mx-4 my-4 has-text-info" style="background: rgba(255,255,255,.5);border-radius: 5px">Factures</span>
            </a>
        </div>

    </div>
{% endblock %}
