{% extends 'base.html.twig' %}

{% block title %}Quittances de loyers{% endblock %}

{% block title_main %}Liste des <b>Quittances de loyers</b>{% endblock %}

{% block body %}

    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            {% if bien_immo is defined %}
                <h4 class="fw-bold py-3 mb-4">
                    <span class="text-muted fw-light">Biens Immobiliers / Quittances / </span>
                    {% if bien_immo.id %}
                        {{ bien_immo.adresse }}
                        <a class=""
                           href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}"
                           data-bs-toggle="tooltip"
                           data-bs-offset="0,4"
                           data-bs-placement="bottom"
                           data-bs-html="true"
                           title="<small>Modifier le logement</small>"
                        >
                            <i class="bx bx-sm bxs-edit-alt"></i>
                        </a>
                    {% endif %}
                </h4>
            {% else %}
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Biens Immobiliers / </span>Quittances</h4>
            {% endif %}
            <div class="row">

                <div class="accordion" id="biensAccordion">
                    {% for bienImmo in app.user.biensimmos %}
                        {% set locataire = bienImmo.locataire %}
                        {% set bienImmoTarget = false %}
                        {% if bien_immo is defined and bienImmo.id == bien_immo.id %}
                            {% set bienImmoTarget = true %}
                        {% endif %}

                        <div id="bienImmo{{ bienImmo.id }}" class="card accordion-item">
                            <h2 class="accordion-header" id="heading{{ bienImmo.id }}">
                                <button type="button" class="accordion-button {% if not bienImmoTarget %}collapsed{% endif %}" data-bs-toggle="collapse" data-bs-target="#accordion{{ bienImmo.id }}" aria-expanded="{% if bienImmoTarget %}true{% else %}false{% endif %}" aria-controls="accordion{{ bienImmo.id }}" role="tabpanel">
                                    {{ bienImmo }}
                                    <div class="mx-2 btn-group-sm">
                                        <a href="{{ path('bien_immo_edit', {'id': bienImmo.id}) }}"
                                           class="btn btn-outline-primary"
                                           data-bs-toggle="tooltip"
                                           data-bs-offset="0,4"
                                           data-bs-placement="top"
                                           data-bs-html="true"
                                           title="<small>Modifier ce logement</small>"
                                        >
                                            <span class="tf-icons bx bxs-edit-alt"></span>
                                        </a>
                                        {% if locataire is defined and locataire %}
                                            <a href="{{ path('quittances_edit_new_quittance', {'loc_id': locataire.id}) }}"
                                               class="btn btn-outline-primary"
                                               data-bs-toggle="tooltip"
                                               data-bs-offset="0,4"
                                               data-bs-placement="top"
                                               data-bs-html="true"
                                               title="<small>Editer une nouvelle quittance</small>"
                                            >
                                                <span class="tf-icons bx bxs-file"></span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </button>
                            </h2>

                            <div id="accordion{{ bienImmo.id }}" class="accordion-collapse collapse {% if bienImmoTarget %}show{% endif %}">
                                <div class="accordion-body">
                                    {{ include('quittances/quittances_table.html.twig') }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    {% if bien_immo is defined %}#}
{#        <script>#}
{#            let divBienImmoTarget = document.getElementById('bienImmo'+{{ bien_immo.id }});#}
{#            let divAccordionTarget = document.getElementById('accordion'+{{ bien_immo.id }});#}
{#            divBienImmoTarget.classList.add('active');#}
{#            divAccordionTarget.classList.add('show');#}
{#        </script>#}
{#    {% endif %}#}
{#{% endblock %}#}
