{% extends 'base.html.twig' %}

{% block title %}Quittances de loyers{% endblock %}

{% block title_main %}Liste des <b>Quittances de loyers</b>{% endblock %}

{% block body %}

    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            {% if bien_immo is defined %}
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Immobilier / Quittances / </span>{% if bien_immo.id %}{{ bien_immo.adresse }}{% endif %}</h4>
            {% else %}
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Immobilier / </span>Quittances</h4>
            {% endif %}
            <div class="row">

                <div class="accordion" id="biensAccordion">
                    {% for bienImmo in app.user.biensimmos %}
                        {% set quittances = bienImmo.quittances %}
                        {% set locataire = bienImmo.locataire %}
                        {% set bienImmoTarget = false %}
                        {% if bien_immo is defined and bienImmo.id == bien_immo.id %}
                            {% set bienImmoTarget = true %}
                        {% endif %}

                        <div id="bienImmo{{ bienImmo.id }}" class="card accordion-item">
                            <h2 class="accordion-header" id="heading{{ bienImmo.id }}">
                                <button type="button" class="accordion-button {% if not bienImmoTarget %}collapsed{% endif %}" data-bs-toggle="collapse" data-bs-target="#accordion{{ bienImmo.id }}" aria-expanded="{% if bienImmoTarget %}true{% else %}false{% endif %}" aria-controls="accordion{{ bienImmo.id }}" role="tabpanel">
                                    {{ bienImmo }}
                                </button>
                            </h2>

                            <div id="accordion{{ bienImmo.id }}" class="accordion-collapse collapse {% if bienImmoTarget %}show{% endif %}">
                                <div class="accordion-body">
                                    {{ include('quittances/quittances_table.html.twig') }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    {% if bien_immo is defined %}#}
{#        <script>#}
{#            let divBienImmoTarget = document.getElementById('bienImmo'+{{ bien_immo.id }});#}
{#            let divAccordionTarget = document.getElementById('accordion'+{{ bien_immo.id }});#}
{#            divBienImmoTarget.classList.add('active');#}
{#            divAccordionTarget.classList.add('show');#}
{#        </script>#}
{#    {% endif %}#}
{#{% endblock %}#}