{% set quittances = bienImmo.quittances %}
{% if quittances|length == 0 and locataire %}
        {% set message_txt = 'Vous n\'avez aucun quittances éditées pour ce logement' %}
        {% set btn_url = path('quittances_edit_new_quittance', {'loc_id': locataire.id}) %}
        {% set btn = "<a href='"~btn_url~"' class='btn is-small btn-primary'>Editer une quittance dès maintenant</a>" %}
    <div class="alert alert-primary" role="alert">
        <div class="d-flex">
            <span class="badge badge-center rounded-pill bg-primary border-label-primary p-3 me-2"><i class="bx bx-lg bx-info-circle"></i></span>
            <h6 class="alert-heading d-flex align-items-center fw-bold mb-1">Pour votre information...</h6>
        </div>
        <div class="d-flex flex-column">
            <p class="has-text-centered">{{ message_txt|raw }}</p>
            {{ btn|raw }}
        </div>
    </div>
{% else %}

    {% if not locataire %}
        {% set message_txt = 'Ce bien ne possède pas de locataire<br> vous pouvez en ajouter un depuis la page d\'édition du logement' %}
        {% set btn_url = path('bien_immo_edit', {'id': bienImmo.id}) %}
        {% set btn = "<a href='"~btn_url~"' class='btn is-small btn-primary'>Ajouter un locataire</a>" %}
        <div class="alert alert-primary" role="alert">
            <div class="d-flex">
                <span class="badge badge-center rounded-pill bg-primary border-label-primary p-3 me-2"><i class="bx bx-lg bx-info-circle"></i></span>
                <h6 class="alert-heading d-flex align-items-center fw-bold mb-1">Pour votre information...</h6>
            </div>
            <div class="d-flex flex-column">
                <p class="has-text-centered">{{ message_txt|raw }}</p>
                {{ btn|raw }}
            </div>
        </div>
    {% else %}

        <div class="perfect-scrollbar table-responsive">
            <table class="table table-hover table-sm dataTable">
                <caption>
                    <small>
                        Vous avez un total de {{ quittances.count }} quittances enregistrées pour ce logement
                    </small>
                </caption>
                <thead>
                <tr>
                    <th>
                        <span>Actions</span>
                    </th>
                    <th>
                        <span>
                            Année
                        </span>
                    </th>
                    <th>
                        <span>
                            Mois
                        </span>
                    </th>
                    <th>
                        <span>
                            Statut
                        </span>
                    </th>
                    <th>
                        <span>
                            Date d'édition
                        </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for quittance in quittances %}
                    <tr>

                        <td>
                            <div class="btn-group-xs text-nowrap" role="group" aria-label="Basic radio toggle button group">

                                <a type="button" class="btn btn-outline-primary" href="{{ path('quittances_render_quittance', {'quittance_id': quittance.id}) }}"
                                   data-bs-toggle="tooltip"
                                   data-bs-offset="0,4"
                                   data-bs-placement="top"
                                   data-bs-html="true"
                                   title="<small>Voir la quittance {{ quittance.month }} {{ quittance.year }}</small>"
                                >
                                    <i class='bx bx-xs bxs-show'></i>
                                </a>

                                <a type="button" class="btn btn-outline-primary" href="{{ asset('documents/quittances/') }}{{ quittance.filename }}.pdf"
                                   download="{{ quittance.month }}_{{ quittance.year }}.pdf"
                                   data-bs-toggle="tooltip"
                                   data-bs-offset="0,4"
                                   data-bs-placement="top"
                                   data-bs-html="true"
                                   title="<small>télécharger la quittance {{ quittance.month }} {{ quittance.year }}</small>"
                                >
                                    <i class='bx bx-xs bxs-download'></i>
                                </a>

                                <a type="button" class="btn btn-outline-primary" href="{{ path('quittances_quittance_payed', {'id': quittance.id}) }}"
                                   data-bs-toggle="tooltip"
                                   data-bs-offset="0,4"
                                   data-bs-placement="top"
                                   data-bs-html="true"
                                   title="<small>Changer le statut de la quittance</small>"
                                >
                                    <i class='bx bx-xs bx-refresh'></i>
                                </a>

                                <a type="button" class="btn btn-danger" href="{{ path('quittances_delete_quittance', {'quittance_id': quittance.id}) }}"
                                   onclick="return confirm('Etes-vous sur de vouloir supprimer définitivement cette quittance?');"
                                   data-bs-toggle="tooltip"
                                   data-bs-offset="0,4"
                                   data-bs-placement="top"
                                   data-bs-html="true"
                                   title="<small>Supprimer la quittance</small>"
                                >
                                    <i class='bx bx-xs bxs-trash'></i>
                                </a>

                            </div>
                        </td>

                        <td>
                            {{ quittance.year }}
                        </td>

                        <td>
                            {{ quittance.month }}
                        </td>

                        <td>
                            {% if quittance.payed %}
                                <span class="badge bg-success"
                                      data-bs-toggle="tooltip"
                                      data-bs-offset="0,4"
                                      data-bs-placement="top"
                                      data-bs-html="true"
                                      title="<small>Ce loyer a été payé</small>"
                                >
                                    <small>
                                       Payée
                                    </small>
                                </span>
                            {% else %}
                                <span class="badge bg-warning"
                                      data-bs-toggle="tooltip"
                                      data-bs-offset="0,4"
                                      data-bs-placement="top"
                                      data-bs-html="true"
                                      title="<small>Ce loyer est en attente de payement</small>"
                                >
                                    <small>
                                        En attente
                                    </small>
                                </span>
                            {% endif %}
                        </td>

                        <td>
                            <small>
                                {{ quittance.createddate|format_datetime('short','short') }} (Heure de Paris)
                            </small>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
                <tfoot class="table-active">

                </tfoot>
            </table>
        </div>
    {% endif %}

{% endif %}
