<div class="column is-flex is-justify-content-center">
    {{ form_start(form, {'attr': {'class': 'column is-one-third'} }) }}
{#        {{ form_widget(form, {'attr': {'class': 'field has-text-centered'} } ) }}#}
    {% for child in form %}
        <div class="field has-text-centered">
            <div class="label">
                {{ form_label(child) }}
            </div>

            {{ form_widget(child, {'attr': {'class': 'input'} }) }}
            {{ form_help(child) }}
            {{ form_errors(child) }}
        </div>
    {% endfor %}
        <div class="field">
            <button class="button is-success">{{ button_label|default('Valider') }}</button>
        </div>
    {{ form_end(form) }}
</div>
