{% if route == 'locataire_new' %}
    {% set title_txt = 'Création un locataire' %}
    {% set btn_submit_txt = 'Valider' %}
{% elseif route == 'locataire_edit' %}
    {% set title_txt = locataire %}
    {% set btn_submit_txt = 'Enregistrer les modifications' %}
{% elseif route == 'bien_immo_new' %}
    {% set title_txt = 'Création d\'un bien immobilier' %}
    {% set btn_submit_txt = 'Valider' %}
{% elseif route == 'bien_immo_edit' %}
    {% set title_txt = bien_immo.adresse %}
    {% set btn_submit_txt = 'Enregistrer les modifications' %}
{% endif %}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Immobilier / </span>{{ title_txt }}</h4>
        <div class="row">
            <div class="accordion" id="accordionMain">

                <div class="row justify-content-between mb-2">
                    <div class="col-auto">
                        <a href="{{ path('immo_accueil') }}" class="btn btn-gray text-black">Retour</a>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary" onclick="submitForms()">{{ btn_submit_txt }}</button>
                    </div>
                </div>

                {{ form_start(form, {'attr':{'class':'form-to-submit'}}) }}
                {% for row in form %}
                    {% if row.vars.compound is defined and row.vars.compound %}
                        {% if row.vars.name != '_token' %}
                            {{ include('themes/form/_immo/form_section_generic.html.twig') }}
                        {% else %}
                            <div class="is-hidden">
                                {{ include('themes/form/_immo/form_section_generic.html.twig') }}
                            </div>
                        {% endif %}
                    {% elseif row.vars.compound is defined and not row.vars.compound %}
                        {% if row.vars.name != '_token' %}
                            {{ include('themes/form/_immo/form_generic.html.twig') }}
                        {% else %}
                            <div class="is-hidden">
                                {{ include('themes/form/_immo/form_generic.html.twig') }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {{ form_end(form) }}

{#                {{ include('themes/form/_immo/informations_compta.html.twig') }}#}
{#                {{ include('themes/form/_immo/informations_syndic.html.twig') }}#}
{#                {{ include('themes/form/_immo/documents.html.twig') }}#}
{#                {{ include('themes/form/_immo/parametres_gestion.html.twig') }}#}

                <div class="row justify-content-between">
                    <div class="col-auto">
                        <a href="{{ path('immo_accueil') }}" class="btn btn-gray text-black">Retour</a>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary" onclick="submitForms()">{{ btn_submit_txt }}</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>