<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Immobilier/</span>{% if bien_immo.id %}{{ bien_immo.adresse }}{% else %}Nouveau bien{% endif %}</h4>
        <div class="row">
            <div class="accordion" id="accordionExample">

                <div class="row justify-content-between mb-2">
                    <div class="col-auto">
                        <a href="{{ path('immo_accueil') }}" class="btn btn-gray text-black">Retour</a>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Créer ce bien</button>
                    </div>
                </div>

                {{ include('themes/form/_immo/informations_base.html.twig') }}
                {{ include('themes/form/_immo/informations_compta.html.twig') }}
                {{ include('themes/form/_immo/informations_syndic.html.twig') }}
                {{ include('themes/form/_immo/parametres_gestion.html.twig') }}

                <div class="row justify-content-between">
                    <div class="col-auto">
                        <a href="{{ path('immo_accueil') }}" class="btn btn-gray text-black">Retour</a>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Créer ce bien</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>