{% if form.vars.name == 'bien_immo' %}
    {% set locataire_twig = bien_immo.locataires.current %}
    {% set bien_immo_class = 'bien-immo' %}
    {% set logement_class = 'logement' %}
{% elseif form.vars.name == 'locataire' %}
    {% set locataire_twig = locataire %}
{% endif %}

{% if form.vars.name in ['bien_immo'] %}
    <div class="tabs is-centered is-boxed is-small mb-0">
        <ul>
            <li class="is-active" id="logement">
                <a>
                    <span class="icon is-small"><i class="fas fa-building" aria-hidden="true"></i></span>
                    <span>Bien immobilier</span>
                </a>
            </li>
            <li id="copropriete">
                <a>
                    <span class="icon is-small">
                        <i class="fas fa-users" aria-hidden="true"></i>
                    </span>
                    <span>Copropriété</span>
                </a>
            </li>
        </ul>
    </div>
{% endif %}


<div class="column is-flex is-justify-content-center">

    {{ form_start(form, {'attr': {'class': 'column is-one-third', 'id': 'form', 'onsubmit':'isLoading()'} }) }}

    {% if form.vars.name in ['bien_immo','locataire'] %}

        <div class="bien-immo copropriete is-hidden has-text-centered subtitle">
            <span class="has-text-weight-bold is-uppercase"><b>{{ bien_immo.coproName }}</b></span>
        </div>

        {% if locataire_twig is defined and locataire_twig and locataire_twig.logement %}
            <div class="field has-text-centered">
                <a class="button is-fullwidth is-small is-info" href="{{ path('quittances_edit_new_quittance', {'loc_id': locataire_twig.id }) }}" title="Editer une quittance de loyer pour {{ locataire_twig }}">
                    <span class="icon">
                        <i class="fas fa-lg fa-file-signature"></i>
                    </span>
                    <span>
                        Editer une quittance
                    </span>
                </a>
            </div>
        {% endif %}
    {% elseif form.vars.name in ['quittances'] %}
            <div class="field has-text-centered">
                <a class="button is-small is-info" onclick="toogleReadonlyClass()">
                    <span class="icon">
                        <i class="fas fa-lg fa-file-signature"></i>
                    </span>
                    <span>
                        Modifier les informations de la quittance
                    </span>
                </a>
            </div>
    {% endif %}

    {% for child in form %}
        <div class="field {% if form.vars.name == 'bien_immo' %}{% if 'copro' in child.vars.name %} is-hidden copropriete{% else %} {{ logement_class }}{% endif %} {{ bien_immo_class }}{% endif %}">

            {% if 'token' not in form_label(child) %}
                <div class="label is-size-7">
                    {{ form_label(child) }}
                </div>
            {% endif %}


            {% if child.vars.block_prefixes[1] == 'choice' %}

                {% if child.vars.name == 'echeance' %}
                    <div class="field has-addons">

                        <p class="control">
                            <a class="button is-static is-small">
                                Avant le
                            </a>
                        </p>

                        <div class="control has-icons-left is-expanded">
                            <div class="select is-small is-fullwidth">
                                {{ form_widget(child) }}
                            </div>
                            <div class="icon is-small is-left">
                                <i class="fas fa-calendar-day"></i>
                            </div>
                        </div>

                        <p class="control">
                            <a class="button is-static is-small">
                                du mois
                            </a>
                        </p>

                    </div>
                {% elseif child.vars.name in ['first_day','last_day'] %}
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-static is-small">
                                        {% if child.vars.name == 'first_day' %}
                                            du
                                        {% elseif child.vars.name == 'last_day' %}
                                            au
                                        {% endif %}
                                    </a>
                                </p>
                                <div class="control is-expanded">
                                    <div class="select is-small is-fullwidth">
                                        {{ form_widget(child) }}
                                    </div>
                                </div>
                            </div>
                {% elseif child.vars.name in ['locataires','logement'] %}
                    <div class="field has-addons mb-0">
                        <div class="control is-expanded">
                            <div class="select is-small is-fullwidth">
                                {{ form_widget(child) }}
                            </div>
                        </div>
                        <p class="control">
                            {% if child.vars.name == 'locataires' %}
                                <a href="#" id="redirect-adapt-link" class="button is-small is-info" title="Modifier le locataire">
                                    <span class="icon">
                                        <i class="fas fa-lg fa-pen"></i>
                                    </span>
                                </a>
                            {% else %}
                                <a href="#" id="redirect-adapt-link" class="button is-small is-info" title="Modifier le logement">
                                    <span class="icon">
                                        <i class="fas fa-lg fa-pen"></i>
                                    </span>
                                </a>
                            {% endif %}
                        </p>
                    </div>
                {% else %}
                    <div class="select is-small is-fullwidth">

                        {{ form_widget(child) }}

                    </div>
                {% endif %}
            {% elseif child.vars.name in ['loyer_hc','charges','solde','superficie','loyer_ttc'] %}
                    <div class="field has-addons mb-0">
                        <p class="control column px-0 py-0 is-two-thirds">
                            {{ form_widget(child) }}
                        </p>
                        <p class="control column px-0 py-0">
                            <a class="button is-static is-small is-fullwidth">
                                {% if child.vars.name in ['superficie'] %}
                                    m²
                                {% else %}
                                    €
                                    {% if child.vars.name in ['solde'] %}
                                        restants
                                    {% elseif child.vars.name in ['loyer_hc','charges']  %}
                                        / Mois
                                    {% endif %}
                                {% endif %}
                            </a>
                        </p>
                    </div>
            {% elseif 'token' not in form_label(child) %}
                <p class="control has-icons-left has-icons-right">
                    {{ form_widget(child) }}
                    {% if 'mail' in child.vars.name %}
                        <span class="icon is-small is-left">
                            <i class="fas fa-at"></i>
                        </span>
                    {% elseif 'phone' in child.vars.name or 'Phone' in child.vars.name %}
                        <span class="icon is-small is-left">
                            <i class="fas fa-phone"></i>
                        </span>
                    {% elseif ('street' in child.vars.name) or ('cp' in child.vars.name) or ('city' in child.vars.name) or ('building' in child.vars.name) or ('Adresse' in child.vars.name) %}
                        <span class="icon is-small is-left">
                            <i class="fas fa-map-marked-alt"></i>
                        </span>
                    {% elseif ('name' in child.vars.name) or ('Name' in child.vars.name) or ('Contact' in child.vars.name) %}
                        <span class="icon is-small is-left">
                            <i class="fas fa-id-card"></i>
                        </span>
                    {% endif %}
                </p>
            {% else %}
                {{ form_widget(child) }}
            {% endif %}


            {% if form_help(child) %}
                <span class="help is-info mt-0">
                    <span class="icon-text" style="flex-wrap: nowrap">
                        <span class="icon">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span>{{ form_help(child) }}</span>
                    </span>
                </span>
            {% endif %}

            {% if form_errors(child) %}
                <span class="tag is-danger">
                    {{ form_errors(child) }}
                </span>
            {% endif %}

        </div>
    {% endfor %}

        <div class="field has-text-centered">
            <button class="button is-success is-small" id="btn-submit">{{ button_label|default('Valider') }}</button>
        </div>

    {{ form_end(form) }}

</div>




<script>
    let tabs = document.querySelectorAll('.tabs').forEach(function (elem) {
        let lis = elem.querySelectorAll('li');
        lis.forEach(function (li) {
            li.addEventListener('click', function () {
                lis.forEach(el => el.classList.remove('is-active'));
                li.classList.add('is-active');
                let fields = document.querySelectorAll('.'+li.id);
                console.log(fields);
                let notfields = document.querySelectorAll('.bien-immo');
                notfields.forEach(notfield => notfield.classList.add('is-hidden'));
                fields.forEach(field => field.classList.remove('is-hidden'));
            })
        })
    })
</script>
