<div class="column is-flex is-justify-content-center">

    {{ form_start(form, {'attr': {'class': 'column is-one-third'} }) }}

    {% if form.vars.name in ['bien_immo','locataire'] %}

        {% if form.vars.name == 'bien_immo' %}
            {% set locataire_twig = bien_immo.locataires.current %}
        {% elseif form.vars.name == 'locataire' %}
            {% set locataire_twig = locataire %}
        {% endif %}

        {% if locataire_twig is defined and locataire_twig and locataire_twig.logement %}
            <div class="field has-text-centered">
                <a class="button is-fullwidth is-small is-info" href="{{ path('quittances_edit_new_quittance', {'loc_id': locataire_twig.id }) }}" title="Editer une quittance de loyer pour {{ locataire_twig }}">
                    <span class="icon">
                        <i class="fas fa-file-signature"></i>
                    </span>
                    <span>
                        Editer une quittance
                    </span>
                </a>
            </div>
        {% endif %}


    {% endif %}

    {% for child in form %}

        <div class="field">
            {% if 'token' not in form_label(child) %}
                <div class="label is-size-7">
                    {{ form_label(child) }}
                </div>
            {% endif %}


            {% if child.vars.block_prefixes[1] == 'choice' %}

                {% if child.vars.name == 'echeance' %}
                    <div class="field has-addons">

                        <p class="control">
                            <a class="button is-static is-small">
                                Avant le
                            </a>
                        </p>

                        <div class="control has-icons-left is-expanded">
                            <div class="select is-small is-fullwidth">
                                {{ form_widget(child) }}
                            </div>
                            <div class="icon is-small is-left">
                                <i class="fas fa-calendar-day"></i>
                            </div>
                        </div>

                        <p class="control">
                            <a class="button is-static is-small">
                                du mois
                            </a>
                        </p>

                    </div>
                {% elseif child.vars.name in ['first_day','last_day'] %}
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-static is-small">
                                        {% if child.vars.name == 'first_day' %}
                                            Du
                                        {% elseif child.vars.name == 'last_day' %}
                                            au
                                        {% endif %}
                                    </a>
                                </p>
                                <div class="control is-expanded">
                                    <div class="select is-small is-fullwidth">
                                        {{ form_widget(child) }}
                                    </div>
                                </div>
                            </div>
                {% elseif child.vars.name in ['locataires','logement'] %}
                    <div class="field has-addons mb-0">
                        <div class="control is-expanded">
                            <div class="select is-small is-fullwidth">
                                {{ form_widget(child) }}
                            </div>
                        </div>
                        <p class="control">
                            {% if child.vars.name == 'locataires' %}
                                <a href="#" id="redirect-adapt-link" class="button is-small is-info" title="Modifier le locataire">
                                    <span class="icon">
                                        <i class="fas fa-pen-square"></i>
                                    </span>
                                </a>
                            {% else %}
                                <a href="#" id="redirect-adapt-link" class="button is-small is-info" title="Modifier le logement">
                                    <span class="icon">
                                        <i class="fas fa-pen-square"></i>
                                    </span>
                                </a>
                            {% endif %}
                        </p>
                    </div>
                {% else %}
                    <div class="select is-small is-fullwidth">

                        {{ form_widget(child, {'attr': {'class': 'has-text-centered'} }) }}

                    </div>
                {% endif %}
            {% elseif child.vars.name in ['loyer_hc','charges','solde','superficie','loyer_ttc'] %}
                    <div class="field has-addons mb-0">
                        <p class="control is-expanded">
                            {{ form_widget(child) }}
                        </p>
                        <p class="control">
                            <a class="button is-static is-small">
                                {% if child.vars.name in ['superficie'] %}
                                    m²
                                {% else %}
                                    €
                                    {% if child.vars.name in ['solde'] %}
                                        restants
                                    {% elseif child.vars.name in ['loyer_hc','charges']  %}
                                        / Mois
                                    {% endif %}
                                {% endif %}
                            </a>
                        </p>
                    </div>
            {% else %}
                {{ form_widget(child) }}
            {% endif %}


            {% if form_help(child) %}
                <span class="help is-info mt-0">
                    <span class="icon-text" style="flex-wrap: nowrap">
                        <span class="icon">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span>{{ form_help(child) }}</span>
                    </span>
                </span>
            {% endif %}

            {% if form_errors(child) %}
                <span class="tag is-danger">
                    {{ form_errors(child) }}
                </span>
            {% endif %}

        </div>
    {% endfor %}

        <div class="field has-text-centered">
            <button class="button is-success is-small">{{ button_label|default('Valider') }}</button>
        </div>

    {{ form_end(form) }}
</div>
