{{ form_start(form_etat_des_lieux, {'attr': {'class': 'column is-two-fifths-desktop is-two-thirds-tablet has-background-light border-radius-2px box-shadow-bulma '~ form_etat_des_lieux.vars.name, 'id': 'form', 'onsubmit':'isLoading(this)'} }) }}

    {% for child in form_etat_des_lieux %}
        <div class="field">
            {% if 'token' not in form_label(child) %}
                <div class="label is-size-7">
                    {{ form_label(child) }}
                </div>
            {% endif %}

            {% if child.vars.block_prefixes[1] == 'choice' %}
                <div class="select is-small is-fullwidth">
                    {{ form_widget(child) }}
                </div>
            {% elseif child.vars.name in ['email'] %}
                <div class="field has-addons">
                    <div class="control is-expanded">
                        {{ form_widget(child) }}
                    </div>
                    <p class="control">
                        <a class="button is-small is-info">
                            <span class="icon">
                                <i class="fas fa-lg fa-envelope"></i>
                            </span>
                        </a>
                    </p>
                </div>
            {% elseif child.vars.name in ['phone'] %}
                <div class="field has-addons">
                    <div class="control is-expanded">
                        {{ form_widget(child) }}
                    </div>
                    <p class="control">
                        <a class="button is-small is-info">
                            <span class="icon">
                                <i class="fas fa-lg fa-phone"></i>
                            </span>
                        </a>
                    </p>
                </div>
            {% else %}
                {{ form_widget(child) }}
            {% endif %}

            {% if form_help(child) %}
                <span class="help is-info mt-0">
                    <span class="icon-text" style="flex-wrap: nowrap">
                        <span class="icon">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span>{{ form_help(child) }}</span>
                    </span>
                </span>
            {% endif %}

            {% if form_errors(child) %}
                <span class="tag is-danger">
                    {{ form_errors(child) }}
                </span>
            {% endif %}

            {% for sub_child in child.children %}
                {% if form_errors(sub_child) %}
                    <span class="tag is-danger">
                        {{ form_errors(sub_child) }}
                    </span>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

<div class="label is-size-7">
    <label for="">
        Ajouter des champs
    </label>
</div>
<div class="field has-text-centered">
    <div class="button is-info is-small" title="Ajouter un champs" onclick="addFieldForm(this.parentElement)">
        <span class="icon">
            <i class="fas fa-lg fa-plus"></i>
        </span>
    </div>
    <div class="button is-info is-small" title="Retirer un champs" onclick="removeFieldForm(this.parentElement)">
        <span class="icon">
            <i class="fas fa-lg fa-minus"></i>
        </span>
    </div>
</div>

<div class="field has-text-centered">
    <button class="button is-info is-small btn-submit">
        <span class="icon">
            <i class="fas fa-lg fa-plus"></i>
        </span>
        <span>Créer un état des lieux</span>
    </button>
</div>

{{ form_end(form_etat_des_lieux) }}


<script>
    function addFieldForm(nextElement) {
        var nbMaxField = 50;
        var previousElement = nextElement.previousElementSibling;
        if (parseInt(previousElement.id) < nbMaxField || !previousElement.classList.contains('field-added')) {
// crée un nouvel élément div
            var newDiv = document.createElement("div");
            // Ajout des classes au nouvel element
            newDiv.classList.add('field-added', 'field', 'has-text-centered', 'has-addons');
            newDiv.id = 'fields';
            var id = 1;
            if (previousElement && previousElement.classList.contains('field-added')) {
                id = parseInt(previousElement.id)  + 1;
                newDiv.id = id;
            }else {
                newDiv.id = id;
            }
            // crée le contenu html
            var html =
                "  <p class=\"control is-expanded\">\n" +
                "    <input class=\"input is-small\" type=\"text\" placeholder=\"Label du champs\" name='etat_des_lieux[field-"+id+"]'>\n" +
                "  </p>\n";
            // Ajout du contenu html dans le nouvelle element
            newDiv.innerHTML = html;
            // Positionner l'element créer
            nextElement.parentElement.insertBefore(newDiv, nextElement);
        }else {
            return 'Vous avez atteint le nombre maximal de champs'
        }
    }

    function removeFieldForm(nextElement) {
        var previousElement = nextElement.previousElementSibling;
        if (previousElement && previousElement.classList.contains('field-added')) {
            previousElement.remove();
        }
    }
</script>