{% if locataires|length == 0 %}
    <div class="is-flex-desktop is-flex-direction-column is-align-items-center">
        <div class="column is-flex is-justify-content-center is-align-items-center is-flex-direction-column box-shadow-bulma has-background-info border-radius-2px">
                    <span class="icon-text px-3 py-2 has-text-light is-flex is-justify-content-center is-align-items-center " style="line-height: normal">
                        <span class="icon">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span>
                            <b>Vous n'avez aucun locataire enregistrés</b>
                        </span>
                    </span>
            <a href="{{ path('locataire_new') }}#logement" class="button is-small is-info is-light">Ajouter un locataire</a>
        </div>
    </div>
{% else %}
    <div class="mb-2 is-flex is-justify-content-end">
        <a href="{{ path('locataire_new') }}" class="btn btn-sm btn-outline-primary">
            <span class="tf-icons bx bx-sm bxs-user-plus me-1"></span>
            <span>
                Ajouter un locataire
            </span>
        </a>
    </div>
    <div class="card p-3 perfect-scrollbar table-responsive">
        <table class="table table-hover table-sm dataTable">

            <caption>
                <small>
                    Vous avez un total de {{ locataires|length }} locataires enregistrés
                </small>
            </caption>

            <thead>
                <tr>
                    <th>
                        Genre
                    </th>
                    <th>
                        Nom
                    </th>
                    <th>
                        Prénom
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Tel
                    </th>
                    <th>
                        Logement
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            {% for locataire in locataires %}
                <tr>
                    <td>
                        <span class="text-info-onhover">
                            <span class="text-index-entity">
                                {{ include('includes/badges/gender.html.twig') }}
                            </span>
                        </span>
                    </td>
                    <td class="">
                        <span class="text-index-entity">
                            {{ locataire.lastname }}
                        </span>
                    </td>
                    <td class="">
                        <span class="text-index-entity">
                            {{ locataire.firstname }}
                        </span>
                    </td>
                    <td class="">
                        <span class="text-index-entity nowrap-text">
                            {% if locataire.email %}
                                <a href="mailto:{{ locataire.email }}"
                                   data-bs-toggle="tooltip"
                                   data-bs-offset="0,4"
                                   data-bs-placement="top"
                                   data-bs-html="true"
                                   title="<small>Contacter par email</small>"
                                >
                                    <small>{{ locataire.email }}</small>
                                </a>
                            {% else %}
                                {{ include('includes/badges/non_communique.html.twig') }}
                            {% endif %}
                        </span>
                    </td>
                    <td class="">
                        <span class="text-index-entity nowrap-text">
                            {% if locataire.phone %}
                                <a href="tel:{{ locataire.phone }}"
                                   data-bs-toggle="tooltip"
                                   data-bs-offset="0,4"
                                   data-bs-placement="top"
                                   data-bs-html="true"
                                   title="<small>Contacter par téléphone</small>"
                                >
                                    <small>{{ locataire.phone }}</small>
                                </a>
                            {% else %}
                                {{ include('includes/badges/non_communique.html.twig') }}
                            {% endif %}
                        </span>
                    </td>
                    <td class="">
                        <span class="text-index-entity nowrap-text"
                              data-bs-toggle="tooltip"
                              data-bs-offset="0,4"
                              data-bs-placement="top"
                              data-bs-html="true"
                              title="<small>{{ locataire.logement }}</small>"
                        >
                            {% if locataire.logement %}
                                <small>{{ locataire.logement|u.truncate(20,'...') }}</small>
                            {% else %}
                                {{ include('includes/badges/non_communique.html.twig') }}
                            {% endif %}
                        </span>
                    </td>
                    <td class="">
                        <div class="btn-group btn-group-xs" role="group" aria-label="Basic radio toggle button group">
                            <a type="button" class="btn btn-outline-primary" href="{{ path('locataire_show', {'id': locataire.id}) }}"
                               data-bs-toggle="tooltip"
                               data-bs-offset="0,4"
                               data-bs-placement="top"
                               data-bs-html="true"
                               title="<small>Voir le locataire</small>"
                            >
                                <i class='bx bx-xs bx-show-alt'></i>
                            </a>

                            <a type="button" class="btn btn-outline-primary" href="{{ path('locataire_edit', {'id': locataire.id}) }}"
                               data-bs-toggle="tooltip"
                               data-bs-offset="0,4"
                               data-bs-placement="top"
                               data-bs-html="true"
                               title="<small>Modifier le locataire</small>"
                            >
                                <i class='bx bx-xs bxs-edit-alt'></i>
                            </a>

                            {% if not locataire.logement %}
                                <span class="d-inline-block"
                                      tabindex="0"
                                      data-bs-toggle="popover"
                                      data-bs-offset="0,14"
                                      data-bs-trigger="hover focus"
                                      data-bs-placement="top"
                                      data-bs-html="true"
                                      data-bs-content="<small>Le locataire n'a pas de logement attribué</small>"
                                ></span>
                            {% endif %}
                            <a type="button" class="btn btn-outline-primary {% if not locataire.logement %}disabled{% endif %}"
                               href="{{ path('quittances_edit_new_quittance', {'loc_id': locataire.id}) }}"
                               data-bs-toggle="tooltip"
                               data-bs-offset="0,4"
                               data-bs-placement="top"
                               data-bs-html="true"
                               title="<small>Éditer une quittance</small>"
                            >
                                <i class='bx bx-xs bxs-file'></i>
                            </a>

                            <a type="button" class="btn btn-danger" href="{{ path('locataire_delete', {'id': locataire.id}) }}"
                               onclick="return confirm('Etes-vous sur de vouloir supprimer définitivement ce locataire?');"
                               data-bs-toggle="tooltip"
                               data-bs-offset="0,4"
                               data-bs-placement="top"
                               data-bs-html="true"
                               title="<small>Supprimer le locataire</small>"
                            >
                                <i class='bx bx-xs bxs-trash'></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="15" class=" is-size-6">
                            <span>
                                <i>Vide...</i>
                            </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
