{% extends 'base.html.twig' %}

{% block title %}Modifier un locataire{% endblock %}

{% block title_main %}Modifier le locataire {{ locataire.firstName }} {{ locataire.lastName }}{% endblock %}

{% block body %}

    {{ include('locataire/_form.html.twig', {'button_label': 'Valider'}) }}

    <a href="{{ path('locataire_index') }}" class="button is-dark">Retour à la liste des locataires</a>

    {{ include('locataire/_delete_form.html.twig') }}

{% endblock %}
