{% extends 'base.html.twig' %}

{% block title %}Locataire index{% endblock %}

{% block title_main %}Vos locataires{% endblock %}

{% block body %}
<section class="section is-flex-direction-column is-align-items-center">
    <div class="field" style="max-width: 100vw;overflow-y: auto">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Sexe</th>
                    <th>Moyen de paiement</th>
                    <th>Logement</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for locataire in locataires %}
                <tr>
                    <td class="is-size-7">{{ locataire.id }}</td>
                    <td class="is-size-7">{{ locataire.firstName }}</td>
                    <td class="is-size-7">{{ locataire.lastName }}</td>
                    <td class="is-size-7">
                        {% if locataire.email %}
                            <a href="mailto:{{ locataire.email }}">{{ locataire.email }}</a>
                        {% else %}
                            <i>Non renseigné</i>
                        {% endif %}
                    </td>
                    <td class="is-size-7">{{ locataire.gender }}</td>
                    <td class="is-size-7">{{ locataire.mode }}</td>
                    <td class="is-size-7">
                        {% if locataire.logement %}
                            <a class="fa-search-js" href="{{ path('bien_immo_show', {'id': locataire.logement.id}) }}">
                                <span class="icon-text has-text-info">
                                    <span>{{ locataire.logement }}</span>
                                    <span class="icon">
                                        <i class="fas fa-search fa-search-js"></i>
                                    </span>
                                </span>
                            </a>
                        {% else %}
                            <i>N/A</i>
                        {% endif %}
                    </td>
                    <td class="is-size-7">
                        <a href="{{ path('locataire_show', {'id': locataire.id}) }}" title="Voir les détails">
                            <span class="icon">
                                <i class="fas fa-lg fa-search"></i>
                            </span>
                        </a>

                        <a href="{{ path('locataire_edit', {'id': locataire.id}) }}" title="Modifier les informations du locataire">
                            <span class="icon">
                                <i class="fas fa-lg fa-pen-square"></i>
                            </span>
                        </a>

                        <a href="{{ path('quittances', {'loc_id': locataire.id }) }}" title="Editer une quittance de loyer">
                            <span class="icon">
                                <i class="fas fa-lg fa-file-contract"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">Aucun locataires enregistrés</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column has-text-centered">
        <a href="{{ path('locataire_new') }}" class="is-light button">Ajouter un locataire</a>
    </div>
</section>
{% endblock %}
