{% extends 'base.html.twig' %}

{% block title %}Locataire index{% endblock %}

{% block title_main %}Vos locataires{% endblock %}

{% block body %}
<section class="section is-flex-direction-column is-align-items-center">
    <div class="table-container">
        <table class="table is-narrow" style="width: 100%;">
            <thead>
                <tr class="has-text-centered">
                    <th><span class="is-size-7">{{ knp_pagination_sortable(locataires, 'Prénom', 'first_name') }}</span></th>
                    <th><span class="is-size-7">{{ knp_pagination_sortable(locataires, 'Nom', 'last_name') }}</span></th>
                    <th><span class="is-size-7">{{ knp_pagination_sortable(locataires, 'Email', 'email') }}</span></th>
                    <th><span class="is-size-7">{{ knp_pagination_sortable(locataires, 'Sexe', 'gender') }}</span></th>
                    <th><span class="is-size-7">{{ knp_pagination_sortable(locataires, 'Moyent de paiement', 'email') }}</span></th>
                    <th><span class="is-size-7">{{ knp_pagination_sortable(locataires, 'Logement', 'logement.building') }}</span></th>
                    <th><span class="is-size-7">Actions</span></th>
                </tr>
            </thead>
            <tbody>
            {% for locataire in locataires %}
                <tr class="has-text-centered">
                    <td class="is-size-7">{{ locataire.firstName }}</td>
                    <td class="is-size-7">{{ locataire.lastName }}</td>
                    <td class="is-size-7">
                        {% if locataire.email %}
                            <a href="mailto:{{ locataire.email }}">{{ locataire.email }}</a>
                        {% else %}
                            <i>Non renseigné</i>
                        {% endif %}
                    </td>
                    <td class="is-size-7">{{ locataire.gender }}</td>
                    <td class="is-size-7">{{ locataire.mode }}</td>
                    <td class="is-size-7">
                        {% if locataire.logement %}
                            <a class="fa-search-js" href="{{ path('bien_immo_show', {'id': locataire.logement.id}) }}">
                                <span class="has-text-info">
                                    <span>{{ locataire.logement }}</span>
                                    <span class="icon">
                                        <i class="fas fa-search fa-search-js"></i>
                                    </span>
                                </span>
                            </a>
                        {% else %}
                            <i>N/A</i>
                        {% endif %}
                    </td>
                    <td class="is-size-7">
                        <a href="{{ path('locataire_show', {'id': locataire.id}) }}" title="Voir les détails">
                            <span class="icon">
                                <i class="fas fa-lg fa-search"></i>
                            </span>
                        </a>

                        <a href="{{ path('locataire_edit', {'id': locataire.id}) }}" title="Modifier les informations du locataire">
                            <span class="icon">
                                <i class="fas fa-lg fa-pen-square"></i>
                            </span>
                        </a>

                        {% if locataire.logement %}
                            <a href="{{ path('quittances', {'loc_id': locataire.id }) }}" title="Editer une quittance de loyer">
                            <span class="icon">
                                <i class="fas fa-lg fa-file-contract"></i>
                            </span>
                            </a>
                        {% endif %}

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">Aucun locataires enregistrés</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column has-text-centered">
        <a href="{{ path('locataire_new') }}" class="is-light button">Ajouter un locataire</a>
    </div>
</section>
{% endblock %}
