{% extends 'base.html.twig' %}

{% block title %}Liste des Locataires{% endblock %}

{% block title_main %}Liste des <b>Locataires</b>{% endblock %}

{% block body %}
<section class="section is-flex-direction-column is-align-items-center">

    <div class="is-flex is-flex-direction-column is-align-items-center">
        <div class="tags has-addons mb-0">
            <span class="tag has-text-weight-bold">Nombre total de locataires</span>
            <span class="tag is-dark">{{ locataires.getTotalItemCount }}</span>
        </div>
        {{ knp_pagination_render(locataires) }}
    </div>

    <div class="table-container is-flex-desktop is-justify-content-center">
        <table class="table is-narrow">
            <thead>
                <tr class="has-text-centered">
                    <th><span class="is-size-7">Actions</span></th>
                    <th>
                        <span class="is-size-7">
                            {{ knp_pagination_sortable(locataires, 'Nom', 'last_name') }}
                        </span>
{#                        <span>#}
{#                            {{ knp_pagination_filter(locataires, {'mode': 'lastname'}) }}#}
{#                        </span>#}
                    </th>
                    <th><span class="is-size-7">{{ knp_pagination_sortable(locataires, 'Prénom', 'first_name') }}</span></th>
                    <th><span class="is-size-7">{{ knp_pagination_sortable(locataires, 'Email', 'email') }}</span></th>
                    <th><span class="is-size-7">Téléphone</span></th>
                    <th><span class="is-size-7">{{ knp_pagination_sortable(locataires, 'Sexe', 'gender') }}</span></th>
                    <th><span class="is-size-7">{{ knp_pagination_sortable(locataires, 'Moyent de paiement', 'mode') }}</span></th>
                    <th><span class="is-size-7">{{ knp_pagination_sortable(locataires, 'Logement', 'logement.building') }}</span></th>
                </tr>
            </thead>
            <tbody>
            {% for locataire in locataires %}
                <tr class="has-text-centered">
                    <td class="is-size-7">

                        <a href="{{ path('locataire_edit', {'id': locataire.id}) }}" title="Modifier les informations du locataire">
                            <span class="icon text-info-onhover">
                                <i class="fas fa-lg fa-user-edit"></i>
                            </span>
                        </a>

                        {% if locataire.logement %}
                            <a href="{{ path('quittances_edit_new_quittance', {'loc_id': locataire.id}) }}" title="Editer une quittance de loyer">
                                <span class="icon text-info-onhover">
                                    <i class="fas fa-lg fa-file-signature"></i>
                                </span>
                            </a>
                        {% endif %}

                        <a href="{{ path('locataire_delete', {'id': locataire.id}) }}" title="Supprimer le locataire" onclick="return confirm('Etes-vous sur de vouloir supprimer définitivement ce locataire?');">
                            <span class="icon has-text-danger">
                                <i class="far fa-lg fa-trash-alt"></i>
                            </span>
                        </a>

                    </td>

                    <td class="is-size-7 show-on-hover">
                        <span title="Voir les détails du locataire">
                            <span class="text-info-onhover has-text-dark">
                                <a href="{{ path('locataire_edit', {'id': locataire.id}) }}" class="has-text-weight-bold text-info-onhover icon-text">
                                    <span>
                                        {{ locataire.lastName }}
                                    </span>
                                    <span class="icon show-on-hover-target is-hidden-touch">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </a>
                            </span>
                        </span>
                    </td>
                    <td class="is-size-7 show-on-hover">
                        <span title="Voir les détails du locataire">
                            <span class="text-info-onhover has-text-dark">
                                <a href="{{ path('locataire_edit', {'id': locataire.id}) }}" class="has-text-weight-bold text-info-onhover icon-text">
                                    <span>
                                        {{ locataire.firstName }}
                                    </span>
                                    <span class="icon show-on-hover-target is-hidden-touch">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </a>
                            </span>
                        </span>
                    </td>
                    <td class="is-size-7 show-on-hover">
                        {% if locataire.email %}
                            <a href="mailto:{{ locataire.email }}" title="Envoyer un message">
                                <span class="text-info-onhover has-text-dark">
                                    <span>{{ locataire.email }}</span>
                                    <span class="icon show-on-hover-target is-hidden-touch">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </span>
                            </a>
                        {% else %}
                            <span>
                                <i class="non-renseigne">N/A</i>
                            </span>
                        {% endif %}
                    </td>
                    <td class="is-size-7 show-on-hover">
                        {% if locataire.phone %}
                            <a href="tel:{{ locataire.phone }}" title="Contacter">
                                <span class="text-info-onhover has-text-dark">
                                    <span>{{ locataire.phone }}</span>
                                    <span class="icon show-on-hover-target is-hidden-touch">
                                        <i class="fas fa-phone"></i>
                                    </span>
                                </span>
                            </a>
                        {% else %}
                            <span>
                                <i class="non-renseigne">N/A</i>
                            </span>
                        {% endif %}
                    </td>
                    <td class="is-size-7">{{ locataire.gender }}</td>
                    <td class="is-size-7">{{ locataire.mode }}</td>
                    <td class="is-size-7 show-on-hover">
                        {% if locataire.logement %}
                            <a href="{{ path('bien_immo_edit', {'id': locataire.logement.id}) }}" title="Voir les détails du logement">
                                <span class="text-info-onhover has-text-dark">
                                    <span>{{ locataire.logement }}</span>
                                    <span class="icon show-on-hover-target is-hidden-touch">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </span>
                            </a>
                        {% else %}
                            <i class="non-renseigne">N/A</i>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">Aucun locataires enregistrés</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column has-text-centered">
        <a href="{{ path('locataire_new') }}" class="is-light button is-small">Ajouter un locataire</a>
    </div>
</section>
{% endblock %}
