{% extends 'base.html.twig' %}

{% block title %}Locataire index{% endblock %}

{% block body %}
    <h1 class="tile">Vos locataires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                    <th>Prénom</th>
                <th>Nom</th>
                <th>Sexe</th>
                <th>Moyen de paiement</th>
                <th>Logement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for locataire in locataires %}
            <tr>
                <td>{{ locataire.id }}</td>
                <td>{{ locataire.firstName }}</td>
                <td>{{ locataire.lastName }}</td>
                <td>{{ locataire.gender }}</td>
                <td>{{ locataire.mode }}</td>
                <td>
                    {% if locataire.logement %}
                        <a href="{{ path('bien_immo_show', {'id': locataire.logement.id}) }}"> {{ locataire.logement }}, {{ locataire.logement.street }}, {{ locataire.logement.cp }} {{ locataire.logement.city }}</a>
                    {% else %}
                        <i>N/A</i>
                    {% endif %}
                </td>
                <td>
                    <div class="column">
                        <a href="{{ path('locataire_show', {'id': locataire.id}) }}">Détails</a>
                        <a href="{{ path('locataire_edit', {'id': locataire.id}) }}">Modifier</a>
                        <a href="{{ path('quittances', {'loc_id': locataire.id }) }}" >Quittance</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="buttons my-3 mx-3">
        <a href="{{ path('locataire_new') }}" class="is-light button">Ajouter un locataire</a>
    </div>
{% endblock %}
