{% extends 'base.html.twig' %}

{% block title %}Locataire{% endblock %}

{% block title_main %}Locataire : {{ locataire.firstName }} {{ locataire.lastName }}{% endblock %}

{% block body %}
<section class="section is-flex-desktop is-flex-direction-column is-align-items-center">
    <div class="my-3 mx-3">
        <div class="buttons">
            <a href="{{ path('locataire_index') }}" class="button is-light">Retour à la liste des locataires</a>
            <a href="{{ path('locataire_edit', {'id': locataire.id}) }}" class="button is-light">Modifier ce locataire</a>
        </div>
    </div>

    <div class="field" style="max-width: 100vw;overflow-y: auto">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ locataire.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ locataire.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ locataire.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>
                    {% if locataire.email %}
                        <a href="mailto:{{ locataire.email }}">{{ locataire.email }}</a>
                    {% else %}
                        <i>Non renseigné</i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ locataire.gender }}</td>
            </tr>
            <tr>
                <th>Mode de paiement</th>
                <td>{{ locataire.mode }}</td>
            </tr>
            <tr>
                <th>Logement</th>
                <td>
                    <a class="fa-search-js" href="{{ path('bien_immo_show', {'id': locataire.id }) }}">
                        <span class="icon-text has-text-info">
                            <span>{{ locataire.logement }}</span>
                            <span class="icon">
                                <i class="fas fa-search fa-search-js"></i>
                            </span>
                        </span>
                    </a>
                </td>
            </tr>
            <tr>
                <td><a href="{{ path('quittances', {'loc_id': locataire.id }) }}" class="tag is-dark">Editer une quittance</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    {{ include('locataire/_delete_form.html.twig') }}
</section>


{% endblock %}
