{% set months =
    {
        1:'Janvier',
        2:'Févier',
        3:'Mars',
        4:'Avril',
        5:'Mai',
        6:'Juin',
        7:'Juillet',
        8:'Août',
        9:'Septembre',
        10:'Octobre',
        11:'Novembre',
        12:'Décembre',
    }
%}
<div class="col-12 mb-4">
    <div class="card h-100">
        <div class="card-header">
            Status des loyer {{ 'now'|format_date(pattern='Y') }}
        </div>
        <div class="tab-content">
            <div class="table-responsive text-start overflow-hidden perfect-scrollbar ps" style="max-height: 300px">
                <table class="table table-sm table-borderless table-hover">
                    <thead class="bg-white"
                           style="position: sticky;top: 0;z-index: 1"
                    >
                        <tr>
                            <th class="bg-white" style="position: sticky;left: 0;">
                                Bien immo
                            </th>
                            {% for month in months %}
                                <th class="has-text-centered">
                                    {{ month }}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for bien in biens_immos|filter(bien => bien.locataire ) %}
                            <tr>
                                <td class="nowrap-text bg-white"
                                    style="position: sticky;left: 0;"
                                >
                                    <a href="{{ path('bien_immo_show', {'id': bien.id}) }}"
                                       data-bs-toggle="tooltip"
                                       data-bs-offset="0,4"
                                       data-bs-placement="top"
                                       data-bs-html="true"
                                       title="<small>{{ bien }}</small>"
                                    >
                                        <small class="badge bg-label-primary">
                                            {{ bien|u.truncate(20, '...') }}
                                        </small>
                                    </a>
                                </td>
                                {% for month in months %}
                                    <td class="has-text-centered">
                                        {% for quittance in bien.quittances|filter(quittance => quittance.month == month and quittance.year == 'now'|format_date(pattern='Y') and quittance.payed ) %}
                                            {% if loop.index == 1 %}
                                                <a href="{{ path('quittances_render_quittance', {'quittance_id': quittance.id}) }}"
                                                   class="badge badge-center is-badge-small bg-success"
                                                   data-bs-toggle="tooltip"
                                                   data-bs-offset="0,4"
                                                   data-bs-placement="top"
                                                   data-bs-html="true"
                                                   title="<small>Loyer payé</small>"
                                                >
                                                    <i class='bx bx-check'></i>
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <span class="badge badge-center bg-label-secondary"
                                                  data-bs-toggle="tooltip"
                                                  data-bs-offset="0,4"
                                                  data-bs-placement="top"
                                                  data-bs-html="true"
                                                  title="<small>Loyer non payé</small>"
                                            >
                                                    <i class='bx bx-x'></i>
                                                </span>
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-title d-flex gap-2 align-items-center">

            </div>
            {#
            <h1 class="display-1 card-title text-nowrap mb-2 has-text-centered text-primary">{{ total_loyers_percus_current_month|number_format(0,',','')|default(0) }}€</h1>
        #}
        </div>
    </div>
</div>
