<!-- Statistique des loyers -->
<div class="col-12 col-lg-4 order-2 mb-4">
    <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between pb-0">
            <div class="card-title">
                <h5 class=me-2">Synthèse</h5>
                {#
                <small class="text-muted">Totale des loyers perçus : {{ total_loyers_percus }}€</small>
                #}
            </div>
            {#
            <div class="dropdown">
                <button
                        class="btn p-0"
                        type="button"
                        id="orederStatistics"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                    <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                    <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                    <a class="dropdown-item" href="javascript:void(0);">Share</a>
                </div>
            </div>
            #}
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                {#
                <div class="d-flex flex-column align-items-center gap-1">
                    <h2 class="mb-2">{{ biens_immos|length }}</h2>
                    <span>Nb de Biens</span>
                </div>
                #}
                <div class="is-flex is-flex-direction-column align-items-center">
                    <div id="statistiqueBiensImmos"></div>
                    <div class="mt-1 p-2 has-text-centered">
                        <a href="{{ path('bien_immo_index') }}" type="button" class="btn btn-sm btn-outline-primary">
                            Mes logements
                        </a>
                    </div>
                </div>
                <div class="is-flex is-flex-direction-column align-items-center">
                    <div id="statistiqueLoyers"></div>
                    <div class="mt-1 p-2 has-text-centered">
                        <a href="{{ path('quittances_index') }}" type="button" class="btn btn-sm btn-outline-primary">
                            Mes quittances
                        </a>
                    </div>
                </div>
            </div>
            <p class="h5 mb-3 text-muted">Les dernières quittances</p>
            <ul class="p-0 m-0">
                {% for quittance in lastQuittances %}
                    {% if loop.index < 5 %}
                        <li class="mb-4 pb-1 border-bottom">
                            <div class="d-flex">
                                <div class="avatar flex-shrink-0 me-3">
                                    {% if quittance.payed %}
                                        <span class="avatar-initial rounded bg-label-success"
                                              data-bs-toggle="tooltip"
                                              data-bs-offset="0,4"
                                              data-bs-placement="top"
                                              data-bs-html="true"
                                              title="Paiement reçu"
                                        >
                                            <i class="bx bx-check"></i>
                                        </span>
                                    {% else %}
                                        <span class="avatar-initial rounded bg-label-secondary"
                                              data-bs-toggle="tooltip"
                                              data-bs-offset="0,4"
                                              data-bs-placement="top"
                                              data-bs-html="true"
                                              title="<small>Paiement en attente</small>"
                                        >
                                            <i class="bx bx-sm bxs-calendar-exclamation"></i>
                                        </span>
                                    {% endif %}
                                </div>
                                <a class="d-flex is-flex-direction-column w-100"
                                     href="{{ path('quittances_render_quittance', {'quittance_id': quittance.id}) }}"
                                     data-bs-toggle="tooltip"
                                     data-bs-offset="0,4"
                                     data-bs-placement="top"
                                     data-bs-html="true"
                                     title="<small>Voir la quittance du bien : {{ quittance.bienImmo }}</small>"
                                >
                                    <h6 class="mb-0 nowrap-text overflow-ellipsis" title="Quittance de {{ quittance.month }}"> Quittance de {{ quittance.month }}</h6>

                                    <small class="text-muted" >
                                        <span class="badge my-1 badge-center rounded-pill bg-secondary">
                                            <i class='bx bx-home'></i>
                                        </span>
                                        {{ quittance.bienImmo|u.truncate(30, '...') }}
                                    </small>

                                    <small class="text-muted">
                                        <span class="badge my-1 badge-center rounded-pill bg-secondary">
                                            <i class='bx bx-user'></i>
                                        </span>
                                        {{ quittance.locataire|u.truncate(30, '...') }}
                                    </small>
                                </a>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!--/ Order Statistics -->
