<div class="col-lg-4 col-md-4 col-12 mb-4">
    <div class="card">
        <div class="card-body">
            <div class="card-title d-flex align-items-start justify-content-between">
                <div class="avatar flex-shrink-0 me-3">
                    {% if last_quittance and last_quittance.payed %}
                        <a href="{{ path('quittances_quittance_payed', {'id': last_quittance.id}) }}" class="badge bg-label-success rounded ajax-quittance-payed-btn" title="dernier loyer reçus"><i class='bx bxs-calendar-check'></i></a>
                    {% elseif last_quittance %}
                        <a href="{{ path('quittances_quittance_payed', {'id': last_quittance.id}) }}" class="badge bg-label-warning rounded ajax-quittance-payed-btn" title="dernier loyer non reçus"><i class='bx bx-calendar-exclamation'></i></a>
                    {% else %}
                        <a href="{{ path('quittances_edit_new_quittance', {'loc_id': bien_immo.locataires.current.id }) }}" class="badge bg-label-danger rounded" title="aucune quittances de loyer trouvées"><i class='bx bxs-x-circle'></i></a>
                    {% endif %}
                </div>
                <div class="dropdown">
                    <button
                            class="btn p-0"
                            type="button"
                            id="cardOpt4"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt4">
                        <a class="dropdown-item" href="javascript:void(0);">Voir les quittances</a>
                        <a class="dropdown-item" href="javascript:void(0);">Détails</a>
                    </div>
                </div>
            </div>
            <span class="d-block mb-1">{{ bien_immo }}</span>
            <h3 class="card-title text-nowrap mb-2">€{{ bien_immo.loyerTtc }}</h3>
            <small class="text-info fw-semibold" title="Payement du loyer prévus tout les {{ bien_immo.echeance }} du mois"><i class="bx bx-calendar"></i>{{ bien_immo.echeance|format_number({min_integer_digit: 2}) }} {{ 'now'|format_date(pattern='MMMM', locale='fr') }}</small>
        </div>
    </div>
</div>
