    <header class="navbar is-light is-fixed-top">
{#        <div class="container has-text-centered">#}
            <div class="navbar-brand">
                <a href="{{ path('home') }}" class="navbar-item" title="Retour au menu principal">
                    <span class="icon">
                        <img src="{{ asset('build/images/edit-word-favicon.90147a61.png') }}" alt="Icon edit-word.com">
                    </span>
                </a>
                <a role="button" class="navbar-burger" data-target="navbarMenuHeroC" onclick="this.classList.toggle('is-active')">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>

            <div id="navbarMenu" class="navbar-menu is-size-5-mobile">

                <div class="navbar-end">

                    {% if app.user %}
                        <div class="navbar-item">
                            <div class="tags are-medium has-addons is-justify-content-center">
                                <span class="tag is-size-6-mobile is-primary" title="modifier mon compte">
                                    <a class="has-text-light" href="{{ path('user_edit', {'id': app.user.id}) }}#gestionnaire"><b class="is-hidden-touch">Connecté :</b> {{ app.user.username }}</a>
                                </span>
                                <a class="tag is-size-6-mobile is-danger" href="{{ path('app_logout') }}" style="text-decoration: none">
                                    <span class="icon">
                                        <i class="fas fa-lg fa-sign-out-alt"></i>
                                    </span>
                                    <span class="is-hidden-touch">
                                        Se déconnecté
                                    </span>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="navbar-item">
                            <span class="icon pr-3">
                                <i class="fas fa-lg fa-sign-in-alt"></i>
                            </span>
                            <span>
                                Connexion
                            </span>
                        </a>
                    {% endif %}

                    <div class="container has-text-centered">
                        {% include('includes/menus/aside_menu_base.html.twig') with {'hidden_status': 'is-hidden-desktop','text_color':'has-text-light'} %}
                    </div>
                </div>

            </div>

    </header>


