    <header class="navbar is-light is-fixed-top">

            <div class="navbar-brand">
                <a href="{{ path('home') }}" class="is-flex is-justify-content-center is-align-items-center" title="Retour au menu principal">
                    <span class="icon is-medium m-2">
                        <img src="{{ asset('build/images/edit-word-favicon.90147a61.png') }}" alt="Icon edit-word.com">
                    </span>
                </a>
                <button class="button is-medium is-primary borderless-radius is-hidden-desktop deploy-aside-menu-btn" id="deploy-aside-menu-btn" style="position: absolute;right: 0;top: 0;z-index: 6;height: 100%;" onclick="document.getElementById('aside-menu').style.right='0px';document.getElementById('aside-menu').style.visibility='visible';document.querySelector('html').style.overflow='hidden';document.getElementById('close-aside-menu-btn').classList.remove('is-hidden-touch')">
                    <span class="icon">
                        <i class="fas fa-lg fa-bars"></i>
                    </span>
                </button>
            </div>

            <div id="navbarMenu" class="navbar-menu is-size-5-mobile">

                <div class="navbar-start">
                    <a href="{{ path('home') }}" class="navbar-item">
                        Accueil
                    </a>

                    {% if is_granted('ROLE_PROPRIETAIRE') %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Immobilier
                        </a>

                        <div class="navbar-dropdown">

                            <a class="navbar-item" href="{{ path('immo_accueil') }}">
                                Vue d'ensemble
                            </a>
                            <hr class="dropdown-divider">

                            <a class="navbar-item" href="{{ path('bien_immo_index') }}">
                                Mes biens immobiliers
                            </a>
                            <a class="navbar-item" href="{{ path('bien_immo_new') }}#logement">
                                Ajouter un bien
                            </a>

                            <hr class="dropdown-divider">

                            <a class="navbar-item" href="{{ path('locataire_index') }}">
                                Mes locataires
                            </a>
                            <a class="navbar-item" href="{{ path('locataire_new') }}#locataire">
                                Ajouter un locataire
                            </a>
                        </div>

                    </div>
                    {% endif %}

                    {% if is_granted('ROLE_ENTREPRENEUR') %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Entreprenariat
                            </a>

                            <div class="navbar-dropdown">

                                <a class="navbar-item" href="{{ path('entreprenariat_home') }}">
                                    Vue d'ensemble
                                </a>
                                <hr class="dropdown-divider">

                                <a class="navbar-item" href="{{ path('entreprise_index') }}">
                                    Mes entreprises
                                </a>
                                <a class="navbar-item" href="{{ path('entreprise_new') }}">
                                    Ajouter une entreprise
                                </a>
                            </div>

                        </div>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Gestionnaires
                            </a>

                            <div class="navbar-dropdown">

                                <a class="navbar-item" href="{{ path('user_index') }}">
                                    Liste des gestionnaires
                                </a>
                                <a class="navbar-item" href="{{ path('user_new') }}">
                                    Ajouter un gestionnaire
                                </a>
                            </div>

                        </div>
                    {% endif %}
                </div>

                <div class="navbar-end">

                    {% if app.user %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                {{ app.user.username }}
                            </a>

                            <div class="navbar-dropdown">

                                <a class="navbar-item" href="{{ path('user_edit', {'id': app.user.id}) }}#gestionnaire">
                                    Modifier mon profil
                                </a>
                                <a class="navbar-item" href="{{ path('change_password', {'id': app.user.id}) }}#securite">
                                    Sécurité
                                </a>
                                <hr class="dropdown-divider">

                                <a href="{{ path('app_logout') }}" class="navbar-item">
                                    Se deconnecter
                                </a>
                            </div>

                        </div>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="navbar-item">
                            <span class="icon pr-3">
                                <i class="fas fa-lg fa-sign-in-alt"></i>
                            </span>
                            <span>
                                Connexion
                            </span>
                        </a>
                    {% endif %}

                    <div class="container has-text-centered">
                        {% include('includes/menus/aside_menu_base.html.twig') with {'hidden_status': 'is-hidden-desktop','text_color':'has-text-light'} %}
                    </div>
                </div>

            </div>

    </header>


