    <header class="navbar is-light is-fixed-top">
        <div class="container has-text-centered">
            <div class="navbar-brand">
                <a href="{{ path('home') }}" class="navbar-item">Menu principal</a>
                    <span class="navbar-burger" data-target="navbarMenuHeroC">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
            </div>

            <div id="navbarMenu" class="navbar-menu">

                <div class="navbar-start">

                    <a href="{{ path('immo_accueil') }}" class="navbar-item is-light">
                        <span class="icon-text">
                            <span class="icon">
                              <i class="fas fa-city"></i>
                            </span>
                            <span>Immobilier</span>
                        </span>
                    </a>

                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <a href="{{ path('entreprenariat_home') }}" class="navbar-item is-light">
                            <span class="icon-text">
                                <span class="icon">
                                  <i class="fas fa-user-tie"></i>
                                </span>
                                <span>Entreprenariat</span>
                            </span>
                        </a>
                    {% endif %}

                </div>

                <div class="navbar-end">
                    {% if is_granted("ROLE_SUPER_ADMIN") %}

                        <div class="navbar-item has-dropdown">
                            <a class="navbar-link">
                                Gestionnaires
                            </a>
                            <div class="dropdown-trigger">
                                <div class="navbar-dropdown">
                                    <a class="navbar-item" href="{{ path('user_index') }}" title="Accéder à la liste des gestionnaires">
                                        Liste des gestionnaires
                                    </a>
                                    <a class="navbar-item" href="{{ path('app_register') }}" title="Ajouter un gestionnaire">
                                        Ajouter un gestionnaire
                                    </a>
                                </div>
                            </div>

                        </div>

{#                        <a href="{{ path('app_register') }}" class="navbar-item" title="Ajouter un gestionnaire">#}
{#                            <span class="icon">#}
{#                                <i class="fas fa-user-plus"></i>#}
{#                            </span>#}
{#                        </a>#}

                    {% endif %}
                    {% if app.user %}
                        <div class="navbar-item">
                            <div class="tags has-addons is-justify-content-center">

                            <span class="tag" title="modifier mon compte">
                                <a href="{{ path('user_edit', {'id': app.user.id}) }}">Connecté : {{ app.user.username }}</a>
                            </span>
                                <a class="tag is-danger" href="{{ path('app_logout') }}">Se déconnecté</a>

                            </div>
                        </div>

                    {% else %}
                        <a href="{{ path('app_login') }}" class="navbar-item">Connexion</a>
                    {% endif %}
                </div>

            </div>

        </div>
    </header>

