    <header class="navbar is-light is-fixed-top">
        <div class="container has-text-centered">
            <div class="navbar-brand">
                <a href="{{ path('home') }}" class="navbar-item" title="Retour au menu principal">
                    <span class="icon is-large">
                        <img src="{{ asset('build/images/edit-word-favicon.90147a61.png') }}" alt="">
                    </span>
                </a>
                <a role="button" class="navbar-burger" data-target="navbarMenuHeroC" onclick="this.classList.toggle('is-active')">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>

            <div id="navbarMenu" class="navbar-menu is-size-5-mobile">

                <div class="navbar-start">

                    <a href="{{ path('immo_accueil') }}" class="navbar-item is-light show-on-hover">
                        <span class="icon-text">
                            <span class="icon">
                              <i class="fas fa-lg fa-city"></i>
                            </span>
                            <span class="show-on-hover-target is-hidden-touch">Immobilier</span>
                            <span class="is-hidden-desktop">Immobilier</span>
                        </span>
                    </a>

                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <a href="{{ path('entreprenariat_home') }}" class="navbar-item is-light show-on-hover">
                            <span class="icon-text">
                                <span class="icon">
                                  <i class="fas fa-lg fa-user-tie"></i>
                                </span>
                                <span class="show-on-hover-target is-hidden-touch">Entreprenariat</span>
                                <span class="is-hidden-desktop">Entreprenariat</span>
                            </span>
                        </a>
                    {% endif %}

                </div>

                <div class="navbar-end">
                    {% if is_granted("ROLE_SUPER_ADMIN") %}

                        <div class="navbar-item has-dropdown">
                            <span class="icon-text navbar-link">
                                <span class="icon">
                                  <i class="fas fa-lg fa-users-cog"></i>
                                </span>
                                <span>Gestionnaires</span>
                            </span>

                            <div class="dropdown-trigger">
                                <div class="navbar-dropdown is-size-5-mobile">
                                    <a class="navbar-item" href="{{ path('user_index') }}" title="Accéder à la liste des gestionnaires">
                                        Liste des gestionnaires
                                    </a>
                                    <a class="navbar-item" href="{{ path('app_register') }}" title="Ajouter un gestionnaire">
                                        Ajouter un gestionnaire
                                    </a>
                                </div>
                            </div>

                        </div>

                    {% endif %}
                    {% if app.user %}
                        <div class="navbar-item">
                            <div class="tags has-addons is-justify-content-center">
                                <span class="tag is-size-6-mobile is-primary" title="modifier mon compte">
                                    <a class="has-text-light" href="{{ path('user_edit', {'id': app.user.id}) }}#gestionnaire">Connecté : {{ app.user.username }}</a>
                                </span>
                                <a class="tag is-size-6-mobile is-danger" href="{{ path('app_logout') }}" style="text-decoration: none">
                                    <span class="icon">
                                        <i class="fas fa-lg fa-sign-out-alt"></i>
                                    </span>
                                    <span>
                                        Se déconnecté
                                    </span>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="navbar-item">
                            <span class="icon pr-3">
                                <i class="fas fa-lg fa-sign-in-alt"></i>
                            </span>
                            <span>
                                Connexion
                            </span>
                        </a>
                    {% endif %}
                </div>

            </div>

        </div>
    </header>


