{% import 'includes/macros.html.twig' as macros %}
<li class="d-flex mt-4 pb-1 border-bottom">
    <a href="{{ path('locataire_show', {'id': locataire.id}) }}"
       class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
       data-bs-toggle="tooltip"
       data-bs-offset="0,4"
       data-bs-placement="top"
       data-bs-html="true"
       title="<small>Voir le locataire</small>"
    >
        <div class="me-2">
            {#
            <small class="text-muted d-block mb-1" title="{{ locataire }}">{{ locataire[:20] ~ '...' }}</small>
            #}
            <h6 class="d-block mb-1" title="{{ locataire }}">{{ locataire }}</h6>
        </div>
        <div class="user-progress d-flex align-items-center gap-1">

            {% if locataire.mode == 'Espèces' %}
                <span class="badge badge-center bg-label-info"
                      data-bs-toggle="tooltip"
                      data-bs-offset="0,4"
                      data-bs-placement="top"
                      data-bs-html="true"
                      title="<small>Préférence de paiement en espèce</small>"
                >
                    <i class='bx bxs-coin-stack'></i>
                </span>
            {% elseif locataire.mode == 'Chèque' %}
                <span class="badge badge-center bg-label-info"
                      data-bs-toggle="tooltip"
                      data-bs-offset="0,4"
                      data-bs-placement="top"
                      data-bs-html="true"
                      title="<small>Préférence de paiement par chèque</small>"
                >
                    <i class='bx bxs-wallet'></i>
                </span>
            {% elseif locataire.mode == 'Virement bancaire' %}
                <span class="badge badge-center bg-label-info"
                      data-bs-toggle="tooltip"
                      data-bs-offset="0,4"
                      data-bs-placement="top"
                      data-bs-html="true"
                      title="<small>Préférence de paiement par virement bancaire</small>"
                >
                    <i class='bx bxs-credit-card'></i>
                </span>
            {% endif %}

            {% if locataire.logement %}
                <span class="badge badge-center bg-label-success"
                      data-bs-toggle="tooltip"
                      data-bs-offset="0,4"
                      data-bs-placement="top"
                      data-bs-html="true"
                      title="<small>Locataire logé</small>"
                >
                    <i class='bx bxs-home'></i>
                </span>
            {% else %}
                <span class="badge badge-center bg-label-danger"
                      data-bs-toggle="tooltip"
                      data-bs-offset="0,4"
                      data-bs-placement="top"
                      data-bs-html="true"
                      title="<small>Locataire non logé</small>"
                >
                    <i class='bx bxs-home'></i>
                </span>
            {% endif %}
        </div>
    </a>
</li>
