{% macro quittance_status_payed_btn(quittance) %}
    {% if quittance != null %}
        {% set quittance_render_url = path('quittances_render_quittance', {'quittance_id': quittance.id}) %}
        {% if quittance.payed %}
            {% set status_text = "<small>dernier loyer perçu</small><div class='d-flex justify-content-center'><a href='"~quittance_render_url~"' class='btn btn-xs btn-outline-primary'>Voir la quittance</a></div>" %}
            {% set status_badge_class = 'bg-label-success' %}
            {% set status_icon_class = 'bx bxs-calendar-check' %}
        {% elseif not quittance.payed %}
            {% set status_text = "<small>dernier loyer en attente</small><div class='d-flex justify-content-center'><a href='"~quittance_render_url~"' class='btn btn-xs btn-outline-primary'>Voir la quittance</a></div>" %}
            {% set status_badge_class = 'bg-label-warning' %}
            {% set status_icon_class = 'bx bx-calendar-exclamation' %}
        {% endif %}
    {% else %}
        {% set status_text = 'Aucune quittances trouvés' %}
        {% set status_badge_class = 'bg-label-danger' %}
        {% set status_icon_class = 'bx bxs-file' %}
    {% endif %}

    <span class="d-inline-block"
          tabindex="0"
          data-bs-toggle="popover"
          data-bs-offset="0,14"
          data-bs-placement="top"
          data-bs-trigger="hover focus"
          data-bs-html="true"
          data-bs-content="{{ status_text }}">
        <span class="badge {{ status_badge_class }} rounded">
            <i class='{{ status_icon_class }}'></i>
        </span>
    </span>
{% endmacro %}


{% macro form_template(form) %}
        {% for field in form %}

            {% if field.vars.block_prefixes.1 is defined %}
                {% set field_type_1 = field.vars.block_prefixes.1 %}
            {% endif %}
            {% if field.vars.block_prefixes.2 is defined %}
                {% set field_type_2 = field.vars.block_prefixes.2 %}
            {% endif %}

            {% if field.vars.placeholder is defined %}
                {% set placeholder = field.vars.placeholder %}
            {% elseif field.vars.attr.placeholder is defined %}
                {% set placeholder = field.vars.attr.placeholder %}
            {% else %}
                {% set placeholder = 'Tapez ici...' %}
            {% endif %}

            {% if field.vars.attr['data-units'] is defined %}
                {% set unit = field.vars.attr['data-units'] %}
            {% endif %}

            {% if field.vars.required == true %}
                {% set is_required = '*' %}
            {% else %}
                {% set is_required = '' %}
            {% endif %}

            <div class="mb-3">
                {% if form_errors(field) %}
                    <span class="badge bg-label-danger">Erreur</span>
                    <span class="help">
                        {{ form_errors(field) }}
                    </span>
                    {% set field_error_class = ' is-invalid' %}
                {% else %}
                    {% set field_error_class = '' %}
                {% endif %}
                {% if field_type_1 == 'text' %}
                    {% if field_type_2 == 'textarea' %}
                        <div class="input-group">
                            <span class="input-group-text">{{ is_required }}{{ form_label(field) }}</span>
                            {{ form_widget(field, {'attr':{'class':'form-control'~field_error_class, 'placeholder':placeholder, 'aria-label':form_label(field), 'rows':5}} ) }}
                        </div>
                    {% else %}
                        <div class="form-floating {{ form.vars.name }} {{ field.vars.name }}">
                            {{ form_widget(field, {'attr':{'class':'form-control'~field_error_class, 'placeholder':placeholder, 'aria-describedby':'floatingInputHelp_'~field.vars.name}} ) }}
                            <label for="{{ field.vars.full_name }}">{{ is_required }}{{ form_label(field) }}</label>
                        </div>
                    {% endif %}
                {% elseif field_type_1 == 'number' %}
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">{{ is_required }}{{ form_label(field) }}</span>
                        {{ form_widget(field, {'attr':{'class':'form-control has-text-centered'~field_error_class, 'placeholder':placeholder, 'type':'number'}} ) }}
                        {% if unit is defined %}
                            <span class="input-group-text">{{ unit }}</span>
                        {% endif %}
                    </div>
                {% elseif field_type_1 == 'choice' %}
                    {% if field_type_2 == 'entity' %}
                        <div class="input-group">
                            {{ form_widget(field, {'attr':{'class':'form-select'~field_error_class}}) }}
                            <a href="{{ path('locataire_new') }}" class="btn btn-outline-primary" type="button">Créer un nouveau locataire</a>
                        </div>
                    {% else %}
                        <div class="select-group">
                            <label for="{{ field.vars.full_name }}" class="form-label">{{ is_required }}{{ form_label(field) }}</label>
                            {{ form_widget(field, {'attr':{'class':'form-select'~field_error_class}}) }}
                        </div>
                    {% endif %}

                {% else %}
                    {{ form_widget(field, {'attr':{'class':''~field_error_class}}) }}
                {% endif %}
                {% if field.vars.help is defined %}
                    <div id="floatingInputHelp_{{ field.vars.name }}" class="form-text">{{ field.vars.help }}</div>
                {% endif %}
            </div>
        {% endfor %}
{% endmacro %}
