{% if field.vars.block_prefixes.1 is defined %}
    {% set field_type_1 = field.vars.block_prefixes.1 %}
{% endif %}
            {% if field.vars.block_prefixes.2 is defined %}
                {% set field_type_2 = field.vars.block_prefixes.2 %}
            {% endif %}

            {% if field.vars.placeholder is defined %}
                {% set placeholder = field.vars.placeholder %}
            {% elseif field.vars.attr.placeholder is defined %}
                {% set placeholder = field.vars.attr.placeholder %}
            {% else %}
                {% set placeholder = 'Tapez ici...' %}
            {% endif %}

            {% if field.vars.attr['data-units'] is defined %}
                {% set unit = field.vars.attr['data-units'] %}
            {% endif %}

            {% if field.vars.required == true %}
                {% set is_required = '*' %}
            {% else %}
                {% set is_required = '' %}
            {% endif %}

                    {% if form_errors(field) %}
                        <span class="badge bg-label-danger">Erreur</span>
                        <span class="help">
                                                {{ form_errors(field) }}
                                            </span>
                        {% set field_error_class = ' is-invalid' %}
                    {% else %}
                        {% set field_error_class = '' %}
                    {% endif %}

                    {% if field_type_1 == 'text' %}
                        {% if field_type_2 == 'textarea' %}
                            <div>
                                <label for="{{ field.vars.full_name }}" class="form-label">{{ is_required }}{{ form_label(field) }}</label>
                                {{ form_widget(field, {'attr':{'class':'form-control'~field_error_class, 'placeholder':placeholder, 'aria-label':form_label(field), 'rows':5}} ) }}
                            </div>
                        {% else %}
                            <div class="form-floating {{ form.vars.name }} {{ field.vars.name }}">
                                {{ form_widget(field, {'attr':{'class':'form-control'~field_error_class, 'placeholder':placeholder, 'aria-describedby':'floatingInputHelp_'~field.vars.name}} ) }}
                                <label for="{{ field.vars.full_name }}">{{ is_required }}{{ form_label(field) }}</label>
                            </div>
                        {% endif %}
                    {% elseif field_type_1 == 'number' %}
                        <label for="{{ field.vars.full_name }}" class="form-label">{{ is_required }}{{ form_label(field) }}</label>
                        <div class="input-group input-group-merge">
                            {{ form_widget(field, {'attr':{'class':'form-control has-text-centered'~field_error_class, 'placeholder':placeholder, 'type':'number'}} ) }}
                            {% if unit is defined %}
                                <span class="input-group-text">{{ unit }}</span>
                            {% endif %}
                        </div>
                    {% elseif field_type_1 == 'choice' %}
                        {% if field_type_2 == 'entity' %}
                            <label for="{{ field.vars.full_name }}" class="form-label">Selectionner un {{ field.vars.label }}</label>
                            <div class="input-group">
                                {{ form_widget(field, {'attr':{'class':'form-select'~field_error_class}}) }}
                                <a href="{{ path(field.vars.attr.route_entity~'_new') }}" class="btn btn-outline-primary" type="button" tabindex="0" data-bs-toggle="popover" data-bs-offset="0,14" data-bs-trigger="hover focus" data-bs-content="Créer un nouveau {{ field.vars.label }}">
                                    <span class="tf-icons bx bx-plus"></span>
                                </a>
                            </div>
                        {% else %}
                            <div class="select-group">
                                <label for="{{ field.vars.full_name }}" class="form-label">{{ is_required }}{{ form_label(field) }}</label>
                                {{ form_widget(field, {'attr':{'class':'form-select'~field_error_class}}) }}
                            </div>
                        {% endif %}
                    {% elseif field_type_1 == 'collection' %}
                        <ul class="Frais"
                            data-index="{{ form.Frais|length > 0 ? form.Frais|last.vars.name + 1 : 0 }}"
                            data-prototype="{{ form_widget(form.Frais.vars.prototype, {'attr':{'class':'row justify-content-center position-relative'~field_error_class}})|e('html_attr') }}"
                        >
                            {% if form.vars.value.frais is not empty %}
                                {% for child in field.children %}
                                    <li class="is-relative">
                                        {{ form_widget(child, {'attr':{'class':'row justify-content-center position-relative'~field_error_class}}) }}
                                        <a type="button" href="{{ path('frais_delete', {'id': child.vars.value.id}) }}" class="'btn btn-sm btn-danger btn-icon rounded-pill col-auto is-absolute bottom-0 end-0 me-3 ajax-del-frais">
                                            <i class='bx bx-minus'></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                {{ form_widget(form.Frais, {'attr':{'class':'row justify-content-center position-relative'~field_error_class}}) }}
                            {% endif %}
                        </ul>
                        <button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="Frais">
                            Ajouter
                        </button>
                    {% else %}
                        <label for="{{ field.vars.full_name }}" class="form-label">{{ field.vars.label }}</label>
                        {{ form_widget(field, {'attr':{'class':'form-control'~field_error_class}}) }}
                    {% endif %}
                    {% if field.vars.help is defined %}
                        <div id="floatingInputHelp_{{ field.vars.name }}" class="form-text">{{ field.vars.help }}</div>
                    {% endif %}
