<!-- Modal -->
<div class="modal modal-top fade" id="{{ modal_id }}" tabindex="-1" aria-hidden="true">
    {% if form is defined and field is defined%}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Soldes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row" id="{{ modal_id }}_collection" data-prototype="{{ form_widget(field.vars.prototype)|e('html_attr') }}">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="select-group">
                                {{ form_start(form.soldes) }}
                                    {{ form_row(form.soldes) }}
                                {{ form_end(form.soldes) }}
{#                                <label for="{{ field.vars.prototype.full_name }}" class="form-label">{{ is_required }}{{ form_label(field.vars.prototype) }}</label>#}
{#                                {{ form_row(field.vars.prototype, {'attr':{'class':'form-select'~field_error_class}}) }}#}
                            </div>
                            {% for solde in form.soldes %}
                                {{ form_widget(solde) }}
                            {%  endfor %}
                        </div>
                    </div>
{#                    <div class="row">#}
{#                        <div class="select-group">#}
{#                            <label for="{{ child.vars.full_name }}" class="form-label">{{ is_required }}{{ form_label(child) }}</label>#}
{#                            {{ form_widget(child, {'attr':{'class':'form-select'~field_error_class}}) }}#}
{#                        </div>#}
{#                    </div>#}
{#                    {% for child in field.children %}#}
{#                        <div class="row">#}
{#                            <div class="select-group">#}
{#                                <label for="{{ child.vars.full_name }}" class="form-label">{{ is_required }}{{ form_label(child) }}</label>#}
{#                                {{ form_widget(child, {'attr':{'class':'form-select'~field_error_class}}) }}#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Ajouter un solde</button>
                </div>
            </div>
        </div>
    {% endif %}
</div>