
<div class="column is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
{% if bien_immo.prestataire|length == 0 %}
    <span class="icon-text px-3 py-2 box-shadow-bulma has-background-info border-radius-2px has-text-light is-flex is-justify-content-center is-align-items-center has-text-centered" style="line-height: normal">
        <span class="icon">
            <i class="fas fa-info-circle"></i>
        </span>
        <span>
            <b>Aucun prestataires enregistrés</b>
        </span>
    </span>
{% else %}
        {% for prestataire in bien_immo.prestataire|sort %}
                <div class="column is-half is-full-touch px-0 pt-0">
                        <div class="card">
                                <header class="card-header has-background-info has-text-light pointer-mouse-hover" onclick="let cardFooter = this.parentElement.querySelector('.card-content'); if(cardFooter){cardFooter.classList.toggle('is-hidden');};this.parentElement.querySelector('.card-footer').classList.toggle('is-hidden');this.querySelector('i').classList.toggle('fa-angle-down');this.querySelector('i').classList.toggle('fa-angle-up')">
                                        <p class="card-header-title has-text-light is-justify-content-center is-uppercase">
                                                <b>{{ prestataire }}</b>
                                        </p>
                                        <button class="card-header-icon" aria-label="more options">
                                      <span class="icon">
                                              <i class="fas fa-lg fa-angle-down" aria-hidden="true"></i>
                                      </span>
                                        </button>
                                </header>
                                {% if prestataire.type or prestataire.infos or prestataire.contactName or prestataire.adresse or prestataire.phone or prestataire.email %}
                                    <div class="card-content is-hidden">
                                            <div class="content">
                                            <span class="has-text-centered is-size-7">
                                                    {% if prestataire.type %}
                                                            <b>Type :</b> {{ prestataire.type }}<br>
                                                    {% endif %}
                                                    {% if prestataire.contactName %}
                                                            <b>Contacte / Référant :</b> {{ prestataire.contactName }}<br>
                                                    {% endif %}
                                                    {% if prestataire.email %}
                                                            <b>@mail :</b> {{ prestataire.email }}<br>
                                                    {% endif %}
                                                    {% if prestataire.phone %}
                                                            <b>Tel :</b> {{ prestataire.phone }}<br>
                                                    {% endif %}
                                                    {% if prestataire.adresse %}
                                                            <b>Adresse :</b> {{ prestataire.adresse }}<br>
                                                    {% endif %}
                                                    {% if prestataire.infos %}
                                                            <b>Informations complémentaires :</b> <p>{{ prestataire.infos }}</p>
                                                    {% endif %}
                                            </span>
                                            </div>
                                    </div>
                                {% endif %}
                                <footer class="card-footer is-hidden">
                                        <a href="{{ path('edit_prestataire', {'id': bien_immo.id, 'presta_id': prestataire.id}) }}" class="card-footer-item">Modifier</a>
                                        <a class="card-footer-item" href="{{ path('remove_prestataire', {'id': bien_immo.id, 'presta_id': prestataire.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir retirer ce prestataire')">Retirer</a>
                                </footer>
                        </div>
                </div>
        {% endfor %}

{% endif %}
</div>
