
<div class="column is-flex is-justify-content-center">
{% if bien_immo.prestataire|length == 0 %}
        <i>Aucun prestataire n'a été enregistré pour l'instant</i>
{% else %}
        {% for prestataire in bien_immo.prestataire|sort %}
                <div class="card">
                        <header class="card-header">
                                <p class="card-header-title">
                                        {{ prestataire }}
                                </p>
                                <button class="card-header-icon" aria-label="more options">
                                      <span class="icon">
                                              <i class="fas fa-angle-down" aria-hidden="true"></i>
                                      </span>
                                </button>
                        </header>
                        <div class="card-content">
                                <div class="content">
                                        <span class="has-text-centered">
                                                Type : {{ prestataire.type }}<br>
                                                Contacte / Référant : {{ prestataire.contactName }}<br>
                                                @mail : {{ prestataire.email }}<br>
                                                Tel : {{ prestataire.phone }}<br>
                                                Adresse : {{ prestataire.adresse }}<br>
                                                Informations complémentaires : {{ prestataire.infos }}
                                        </span>
                                </div>
                        </div>
                        <footer class="card-footer">
                                <a href="#" class="card-footer-item">Save</a>
                                <a href="#" class="card-footer-item">Edit</a>
{#                                <a href="#" class="card-footer-item">Delete</a>#}
                                <a class="card-footer-item" href="{{ path('remove_prestataire', {'id': bien_immo.id, 'presta_id': prestataire.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir retirer ce prestataire')">Retirer</a>
                        </footer>
                </div>

        {% endfor %}

{% endif %}
</div>
