<div class="is-flex-desktop is-justify-content-space-between">
    <div class="column buttons has-text-centered-touch">
        <a href="{{ path('immo_accueil') }}" class="button is-dark bg-info-onhover">Vue d'ensemble</a>
        <a href="{{ path('bien_immo_index') }}" class="button is-dark bg-info-onhover">Vos biens</a>
        <a href="{{ path('locataire_index') }}" class="button is-dark bg-info-onhover">Vos locataires</a>
    </div>
    <div class="column buttons has-text-centered-touch has-text-right-desktop">
        <a href="{{ path('bien_immo_new') }}" class="button is-dark bg-info-onhover">Ajouter un bien</a>
        <a href="{{ path('locataire_new') }}" class="button is-dark bg-info-onhover">Ajouter un locataire</a>
    </div>
</div>
