<div class="buttons my-2 mx-2 is-flex is-justify-content-center is-align-items-center">

    <a class="button is-small" href="{{ path('bien_immo_edit', {'id': locataire.logement.id}) }}" title="Voir {{ locataire.logement }}">
            <span class="icon">
                <i class="fas fa-building"></i>
            </span>
        <span>Voir le logement</span>
    </a>

    <a class="button is-small" href="{{ path('locataire_edit', {'id': locataire.id}) }}" title="Voir {{ locataire }}">
            <span class="icon">
                <i class="fas fa-user"></i>
            </span>
        <span>Voir le locataire</span>
    </a>

    {% if 'quittances/render' in app.request.get('_route') %}
        <a class="button is-small" href="{{ path('quittances_edit_new_quittance', {'loc_id': locataire.id }) }}" title="Editer à nouveau une quittance pour {{ locataire }}">
            <span class="icon">
                <i class="fas fa-file-medical"></i>
            </span>
            <span>Editer à nouveau</span>
        </a>

        <a class="button is-small" href="{{ path('immo_send_quittance', {'id': quittance.id}) }}" title="Envoyer la quittance a {{ locataire.email }}" onclick="return confirm('Etes-vous sur de vouloir envoyer cette quittance au locataire?');">
            <span class="icon">
                <i class="fas fa-paper-plane"></i>
            </span>
            <span>Envoyer la quittance</span>
        </a>
    {% endif %}

</div>
