
<div class="d-grid gap-2 col-10 m-auto">

    <a type="button" class="btn btn-primary me-2" href="{{ path('quittances_index', {'bien_id': locataire.logement.id}) }}#files" title="Voir les quittances du logement {{ locataire.logement }}">
        <span class="tf-icons bx bx-pie-chart-alt me-1"></span> Voir toutes les quittances
    </a>

    <a type="button" class="btn btn-primary me-2" href="{{ path('bien_immo_edit', {'id': locataire.logement.id}) }}#logement" title="Voir {{ locataire.logement }}">
        <span class="tf-icons bx bx-pie-chart-alt me-1"></span> {{ locataire.logement }}
    </a>

    <a type="button" class="btn btn-primary me-2" href="{{ path('locataire_edit', {'id': locataire.id}) }}#locataire" title="Voir {{ locataire }}">
        <span class="tf-icons bx bx-pie-chart-alt me-1"></span> {{ locataire }}
    </a>

    {% if 'render' in app.request.get('_route') %}
        <a type="button" class="btn btn-primary me-2" href="{{ path('quittances_edit_new_quittance', {'loc_id': locataire.id }) }}" title="Editer à nouveau une quittance pour {{ locataire }}">
            <span class="tf-icons bx bx-pie-chart-alt me-1"></span> Editer à nouveau
        </a>

        <a type="button" class="btn btn-primary me-2" href="{{ path('quittances_send_quittance', {'id': quittance.id}) }}" title="Envoyer la quittance a {{ locataire.email }}" onclick="return confirm('Etes-vous sur de vouloir envoyer cette quittance au locataire?');">
            <span class="tf-icons bx bx-pie-chart-alt me-1"></span> Envoyer la quittance
        </a>
    {% endif %}

    {% if pdf_exist is defined and pdf_exist %}
        <a type="button" class="btn btn-primary me-2" href="{{ asset('documents/quittances/') }}{{ file_name }}.pdf" download="{{ file_name }}" title="télécharger {{ file_name }}.pdf">
            <span class="tf-icons bx bx-pie-chart-alt me-1"></span> Télécharger au format .pdf
        </a>
    {% endif %}

</div>
