<aside class="menu is-full-touch has-text-centered-touch {{ hidden_status }}">
    {% if app.user %}
        <div class="is-hidden-desktop">
            <div class="tags are-medium has-addons is-justify-content-center">
                <span class="tag is-size-6-mobile is-primary" title="modifier mon compte">
                    <a class="has-text-light" href="{{ path('user_edit', {'id': app.user.id}) }}#gestionnaire"><b class="is-hidden-touch">Connecté :</b> {{ app.user.username }}</a>
                </span>
                <a class="tag is-size-6-mobile is-danger" href="{{ path('app_logout') }}" style="text-decoration: none">
                    <span class="icon">
                        <i class="fas fa-lg fa-sign-out-alt"></i>
                    </span>
                    <span class="is-hidden-touch">
                        Se déconnecté
                    </span>
                </a>
            </div>
        </div>
    {% else %}
        <a href="{{ path('app_login') }}" class="tags has-addons are-medium is-hidden-desktop is-centered">
            <span class="tag is-primary">
                <span class="icon">
                    <i class="fas fa-lg fa-sign-in-alt"></i>
                </span>
            </span>
            <span class="tag is-info">
                Connexion
            </span>
        </a>
    {% endif %}

    {% if is_granted("ROLE_USER") %}
    <p class="menu-label">
        <span class="icon-text">
            <span class="icon">
                <i class="fas fa-city"></i>
            </span>
            <span>Immobilier</span>
        </span>
    </p>
    <ul class="menu-list">
        <li>
            <a href="{{ path('immo_accueil') }}" class="icon-text">
                <span class="icon">
                    <i class="fas fa-object-group"></i>
                </span>
                <span>
                    Vue d'ensemble
                </span>
            </a>
        </li>
        <li>
            <a>
                <b>Biens immobiliers</b>
            </a>
            <ul>
                <li>
                    <a href="{{ path('bien_immo_index') }}">Liste des biens immobiliers</a>
                </li>
                <li>
                    <a href="{{ path('bien_immo_new') }}#logement">Ajouter un bien</a>
                </li>
            </ul>
        </li>
        <li>
            <a>
                <b>Locataires</b>
            </a>
            <ul>
                <li>
                    <a href="{{ path('locataire_index') }}">Liste des locataires</a>
                </li>
                <li>
                    <a href="{{ path('locataire_new') }}#locataire">Ajouter un locataires</a>
                </li>
            </ul>
        </li>
    </ul>
    {% endif %}
    {% if is_granted("ROLE_ADMIN") %}
        <p class="menu-label">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-user-tie"></i>
                </span>
                <span>Entreprenariat</span>
            </span>
        </p>
        <ul class="menu-list">
            <li>
                <a href="{{ path('entreprenariat_home') }}" class="icon-text">
                    <span class="icon">
                        <i class="fas fa-object-group"></i>
                    </span>
                    <span>
                        Vue d'ensemble
                    </span>
                </a>
            </li>
            <li>
                <a href="{{ path('entreprise_index') }}">Liste des entreprises</a>
            </li>
            <li>
                <a href="{{ path('entreprise_new') }}">Ajouter une entreprise</a>
            </li>
        </ul>
    {% endif %}
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <p class="menu-label">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-users"></i>
                </span>
                <span>Gestionnaires</span>
            </span>
        </p>
        <ul class="menu-list">
            <li>
                <a href="{{ path('user_index') }}">Liste des gestionnaires</a>
            </li>
            <li>
                <a href="{{ path('user_new') }}#gestionnaire">Ajouter un gestionnaire</a>
            </li>
        </ul>
    {% endif %}
    {% if is_granted("ROLE_USER") %}
    <p class="menu-label">
        <span class="icon-text">
            <span class="icon">
                <i class="fas fa-id-badge"></i>
            </span>
            <span>Mon profil</span>
        </span>
    </p>

    <ul class="menu-list">
        <li>
            <a href="{{ path('user_edit', {'id': app.user.id}) }}#gestionnaire">Modifier mon profil</a>
        </li>
        <li>
            <a href="{{ path('change_password', {'id': app.user.id}) }}#securite">Modifier mon mot de passe</a>
        </li>
    </ul>
    {% endif %}
</aside>
