<div class="column is-flex p-0 box-shadow-bulma">

    <div class="column p-0 is-flex is-justify-content-center is-align-items-center is-expanded">


        <div class="column p-0 is-flex is-expanded">
            <div class="p-2 is-flex is-justify-content-center is-align-items-center">
                <div class="hovertext help-mouse-hover" data-hover="Locataire occupant">
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            {% if bien_immo.locataires.current %}
                <span class="column is-expanded">
                    {{ bien_immo.locataires.current }}
                </span>
            {% else %}
                <span class="column is-expanded">Sans loctaire</span>
            {% endif %}
        </div>


        {% if bien_immo.locataires.current %}
            <div class="is-flex">
                {% if bien_immo.locataires.current.email %}
                    <div class="column p-1 is-expanded">
                        <a href="mailto:{{ bien_immo.locataires.current.email }}" class="button is-small is-primary is-outlined is-fullwidth has-text-centered hovertext" data-hover="{{ bien_immo.locataires.current.email }}">
                            <span class="icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </a>
                    </div>
                {% endif %}
                {% if bien_immo.locataires.current.phone %}
                    <div class="column p-1 is-expanded">
                        <a href="tel:{{ bien_immo.locataires.current.phone }}" class="button is-small is-primary is-outlined is-fullwidth has-text-centered hovertext" data-hover="{{ bien_immo.locataires.current.phone }}">
                            <span class="icon">
                                <i class="fas fa-phone"></i>
                            </span>
                        </a>
                    </div>
                {% endif %}
                <div class="column p-1 is-expanded">
                    <a href="{{ path('locataire_edit', {'id': bien_immo.locataires.current.id}) }}#locataire" class="button is-small is-primary is-outlined is-fullwidth has-text-centered hovertext" data-hover="Modifier le locataire">
                        <span class="icon">
                            <i class="fas fa-user-edit"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="is-flex">
                <div class="column p-1 is-expanded">
                    <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}#logement" class="button is-small is-primary is-outlined is-fullwidth has-text-centered hovertext" data-hover="Ajouter un locataire">
                        <span class="icon">
                            <i class="fas fas fa-user-plus"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>

</div>