<div class="column is-flex p-0 box-shadow-bulma">

    <div class="column p-0 is-flex is-justify-content-center is-align-items-center is-expanded">

        <div class="column p-0 is-flex is-expanded">
            <div class="p-2 is-flex is-justify-content-center is-align-items-center">
                <div class="hovertext help-mouse-hover" data-hover="Statut du dernier loyer">
                    <span class="icon">
                        <i class="fas fa-hand-holding-usd"></i>
                    </span>
                </div>
            </div>
            <div class="column is-expanded">
                {% if last_quittance %}
                    <span class="">{{ last_quittance.month }} {{ last_quittance.date|date('Y') }}</span>
                {% else %}
                    <span class="is-italic">Aucune quittances disponibles</span>
                {% endif %}
            </div>
        </div>

        <div class="is-flex is-align-items-center">
            {% if last_quittance and last_quittance.payed %}
                <div class="column p-1 is-expanded">
                    <a class="button is-fullwidth is-success has-text-weight-bold ajax-quittance-payed-btn" href="{{ path('quittances_quittance_payed', {'id': last_quittance.id}) }}" title="Changer le statut de la quittance">
                        <span class="icon">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="txt is-italic is-hidden-touch">
                            Payée
                        </span>
                        <span class="txt is-italic is-hidden-desktop">
                            <i class="fas fa-coins"></i>
                        </span>
                    </a>
                </div>
            {% elseif last_quittance %}
            <div class="column p-1 is-expanded">
                <a class="button is-fullwidth is-warning has-text-weight-bold ajax-quittance-payed-btn" href="{{ path('quittances_quittance_payed', {'id': last_quittance.id}) }}" title="Changer le statut de la quittance">
                    <span class="icon">
                        <i class="fas fa-clock"></i>
                    </span>
                    <span class="txt is-italic is-hidden-touch">
                        Non payée
                    </span>
                    <span class="txt is-italic is-hidden-desktop">
                        <i class="fas fa-coins"></i>
                    </span>
                </a>
            </div>
            {% endif %}
            <div class="column p-1 is-expanded">
                <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}#files" class="button is-primary is-outlined is-fullwidth has-text-centered hovertext" data-hover="Voir toutes les quittances">
                    <span class="icon">
                        <i class="fas fa-search-dollar"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>

</div>
