<div class="table-container">
    <table class="table">
        <thead>
        <tr class="is-size-7">
            <th>N°</th>
            <th>Document</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tfoot>
        <tr class="is-size-7">
            <th>N°</th>
            <th>Document</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </tfoot>
        <tbody>
        {% for document in entity.documents|sort %}
            <tr class="is-size-7">
                <td class="has-background-primary has-text-light" title="Quittance N° {{ document.id }}">
                    <span class="has-text-light"><b>{{ document.id }}</b></span>
                </td>

                <td class="overflow-ellipsis-100px has-background-primary has-text-light" title="{{ document.title }}" style="width: 100%;">
                    <span class="has-text-light"><b>{{ document.title }}</b></span>
                </td>

                <td class="has-background-primary">
                    <span class="has-text-light">{{ document.createdDate|format_datetime(pattern="dd'/'M'/'YY", locale='fr')|capitalize }}</span>
                </td>

                <td class="column">
                    <a class="button is-primary is-outlined is-size-7 borderless-radius button-modal" title="Voir le document">
                        <div class="icon">
                            <i class="fas fa-lg fa-eye"></i>
                        </div>
                    </a>
                    {{ include('immo/documents/modal_box.html.twig') }}

                    <a class="button is-primary is-outlined is-size-7 borderless-radius" title="{{ document.fileName }}" href="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}" download="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}">
                        <div class="icon">
                            <i class="fas fa-lg fa-file-download"></i>
                        </div>
                    </a>
                    <a class="button is-danger is-outlined is-size-7 borderless-radius" href="{{ path('document_delete', {'id': document.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce document?')" title="Supprimer la document">
                    <span class="icon">
                        <i class="fas fa-lg fa-times"></i>
                    </span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{#
<div class="column mx-2 my-2 border-radius-2px border-dotted-2px" style="min-height: 30vh;">
    <div class="columns is-multiline is-flex is-flex-direction-row is-justify-content-space-evenly">
        {% for document in entity.documents %}
            {% set extension = document.fileName|split('.')|last %}
            <div class="box-shadow-bulma border-radius-2px mx-2 my-2 is-relative">

                <div class="column py-0 px-0 is-flex-tablet is-flex-direction-row has-background-light">

                    <a class="button borderless-radius is-small is-primary is-outlined is-fullwidth" title="{{ document.fileName }}" href="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}" download="{{ document.fileName }}">
                        <div class="icon">
                            <i class="fas fa-lg fa-file-download"></i>
                        </div>
                    </a>

                    <a class="column px-0 py-0 is-full-mobile" href="{{ path('document_delete', {'id': document.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce document?')" title="Supprimer le document">
                        <div class="is-3 button borderless-radius is-danger is-outlined is-small is-fullwidth">
                            <span class="icon">
                                <i class="fas fa-lg fa-times"></i>
                            </span>
                        </div>
                    </a>

                </div>

                <div class="is-white button-modal {{ document.createdDate|format_datetime(pattern="y", locale='fr') }} {{ document.createdDate|format_datetime(pattern="MMMM", locale='fr') }}">
                    {% if extension not in ['png','jpeg','jpg','bmp'] %}
                        <figure class="has-background-primary has-text-light is-flex is-flex-direction-column is-justify-content-space-evenly is-align-items-center hovertext zoom-mouse-hover" data-hover="{{ document.title }}" style="height: 120px;width: 96px">
                            <span class="icon">
                                <i class="fas fa-2x fa-file"></i>
                            </span>
                            <span class="overflow-ellipsis nowrap-text is-block is-size-7 px-2" style="width: inherit">
                                {{ document.title }}
                            </span>
                        </figure>
                    {% else %}
                        <figure class="image is-96x96 is-4by5 has-background-primary hovertext zoom-mouse-hover" data-hover="{{ document.title }}">
                            <img src="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}" style="object-fit: contain">
                        </figure>
                    {% endif %}
                </div>

                <div class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box-shadow-bulma border-radius-2px mx-2 my-2 is-relative">
                            {% if extension not in ['png','jpeg','jpg','bmp','pdf'] %}
                                <div class="is-white {{ document.createdDate|format_datetime(pattern="y", locale='fr') }} {{ document.createdDate|format_datetime(pattern="MMMM", locale='fr') }}">
                                    <figure class="has-background-light is-flex is-flex-direction-column is-justify-content-space-evenly is-align-items-center" style="min-height: 70vh">
                                    <span class="icon">
                                        <i class="fas fa-2x fa-file"></i>
                                    </span>
                                        <span class="overflow-ellipsis nowrap-text is-block is-size-7 px-2" style="width: inherit">
                                        {{ document.title }}
                                    </span>
                                    </figure>
                                </div>
                            {% elseif extension == 'pdf' %}
                                <figure class="image is-flex is-justify-content-center" style="height: 85vh">
                                    <iframe src="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}" width="650" class="iframe-pdf"></iframe>
                                </figure>
                            {% else %}
                                <div class="is-white {{ document.createdDate|format_datetime(pattern="y", locale='fr') }} {{ document.createdDate|format_datetime(pattern="MMMM", locale='fr') }}">
                                    <figure class="image is-flex is-justify-content-center">
                                        <img src="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}" style="max-height: 85vh; width: auto">
                                    </figure>
                                </div>
                            {% endif %}

                            <div class="column py-0 px-0 is-flex-tablet is-flex-direction-row has-background-light">

                                <a class="button borderless-radius is-small is-primary is-outlined is-fullwidth" title="{{ document.fileName }}" href="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}" download="{{ document.fileName }}">
                                    <div class="icon">
                                        <i class="fas fa-lg fa-file-download"></i>
                                    </div>
                                </a>

                                <a class="column px-0 py-0 is-full-mobile" href="{{ path('document_delete', {'id': document.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce document?')" title="Supprimer le document">
                                    <div class="is-3 button borderless-radius is-danger is-outlined is-small is-fullwidth">
                                        <span class="icon">
                                            <i class="fas fa-lg fa-times"></i>
                                        </span>
                                    </div>
                                </a>

                            </div>

                        </div>

                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                </div>

            </div>

        {% endfor %}
        {% if form.vars.name == 'bien_immo' and entity.locataires|length != 0 %}
            {% for document in entity.locataires.first.documents %}
                <div class="column box-shadow-bulma border-radius-2px has-background-light is-one-fifth is-one-third-mobile is-2-widescreen mx-2 my-2 is-relative">
                    <a style="max-width: 100px" class="is-white {{ document.createdDate|format_datetime(pattern="y", locale='fr') }} {{ document.createdDate|format_datetime(pattern="MMMM", locale='fr') }}" title="{{ document.fileName }}" href="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}" download="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}">
                                <span class="icon">
                                    <i class="fas fa-2x fa-file"></i>
                                </span>
                        <span class="overflow-ellipsis nowrap-text is-block is-size-7-mobile">
                                {{ document.title }}
                            </span>
                    </a>
                    <a class="icon mx-1 my-1 border-radius-2px is-absolute-top-0 is-right-0 is-medium has-background-dark has-text-light" href="{{ path('document_delete', {'id': document.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce document?')" title="Supprimer le document">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
#}
