{% if entity.documents|length != 0 %}

    <div class="table-container">
        <table class="table is-hoverable is-striped">
            <thead>
            <tr>
                <th class="has-background-primary has-text-left has-text-white has-text-weight-bold" colspan="100%">
                    Documents du locataire
                </th>
            </tr>
            <tr class="is-size-7">
                <th>Document</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr class="is-size-7">
                <th>Document</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </tfoot>
            <tbody>
            {% for document in entity.documents|sort((a, b) => b.createdDate <=> a.createdDate) %}
                <tr class="is-size-7">

                    <td class="overflow-ellipsis-100px has-text-dark has-text-left" title="{{ document.title }}" style="width: 100%;">
                        <span class="has-text-dark"><b>{{ document.title }}</b></span>
                    </td>

                    <td class="">
                        <span class="has-text-dark">{{ document.createdDate|format_datetime(pattern="dd'/'M'/'YY", locale='fr')|capitalize }}</span>
                    </td>

                    <td class="column">
                        <a class="button is-primary is-outlined is-size-7 borderless-radius button-modal" title="Voir le document">
                            <div class="icon">
                                <i class="fas fa-lg fa-eye"></i>
                            </div>
                        </a>
                        {{ include('immo/documents/modal_box.html.twig') }}

                        <a class="button is-primary is-outlined is-size-7 borderless-radius" title="{{ document.fileName }}" href="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}" download="{{ document.fileName }}">
                            <div class="icon">
                                <i class="fas fa-lg fa-file-download"></i>
                            </div>
                        </a>
                        <a class="button is-danger is-outlined is-size-7 borderless-radius" href="{{ path('document_delete', {'id': document.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce document?')" title="Supprimer la document">
                    <span class="icon">
                        <i class="fas fa-lg fa-times"></i>
                    </span>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endif %}


{% if entity.logement is defined and entity.logement.documents|length != 0 %}

    <div class="table-container">
        <table class="table is-hoverable is-striped">
            <thead>
            <tr>
                <th class="has-background-primary has-text-left has-text-white has-text-weight-bold" colspan="100%">
                    Documents du logement
                </th>
            </tr>
            <tr class="is-size-7">
                <th>Document</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr class="is-size-7">
                <th>Document</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </tfoot>
            <tbody>
            {% for document in entity.logement.documents|sort((a, b) => b.createdDate <=> a.createdDate) %}
                <tr class="is-size-7">

                    <td class="overflow-ellipsis-100px has-text-dark has-text-left" title="{{ document.title }}" style="width: 100%;">
                        <span class="has-text-dark"><b>{{ document.title }}</b></span>
                    </td>

                    <td class="">
                        <span class="has-text-dark">{{ document.createdDate|format_datetime(pattern="dd'/'M'/'YY", locale='fr')|capitalize }}</span>
                    </td>

                    <td class="column">
                        <a class="button is-primary is-outlined is-size-7 borderless-radius button-modal" title="Voir le document">
                            <div class="icon">
                                <i class="fas fa-lg fa-eye"></i>
                            </div>
                        </a>
                        {{ include('immo/documents/modal_box.html.twig') }}

                        <a class="button is-primary is-outlined is-size-7 borderless-radius" title="{{ document.fileName }}" href="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}" download="{{ document.fileName }}">
                            <div class="icon">
                                <i class="fas fa-lg fa-file-download"></i>
                            </div>
                        </a>
                        <a class="button is-danger is-outlined is-size-7 borderless-radius" href="{{ path('document_delete', {'id': document.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce document?')" title="Supprimer la document">
                    <span class="icon">
                        <i class="fas fa-lg fa-times"></i>
                    </span>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endif %}
