{% extends 'base.html.twig' %}

{% block title %}Télécharger la quittance{% endblock %}
{% block title_main %}Quittance de loyer pour {{ locataire }}{% endblock %}

{% block body %}

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-xl-6 col-md-4 col-12 is-flex is-flex-direction-column justify-content-start align-items-center">

                <div class="card mb-2 col-12 col-xl-8">
                    <div class="card-header bg-label-primary">
                        <b>{{ quittance.fullNameFile }}</b>
                    </div>
                        <div class="card-content">
                            <small>
                                Vous pouvez retrouver cette quittance également sur la page
                                <a type="button"
                                   class="btn btn-xs btn-primary"
                                   href="{{ path('quittances_index', {'bien_id':bien_immo.id})  }}"
                                   data-bs-toggle="tooltip"
                                   data-bs-offset="0,4"
                                   data-bs-placement="top"
                                   data-bs-html="true"
                                   title="<small>Se rendre sur la page quittances</small>"
                                >
                                    <span class="tf-icons bx bxs-archive"></span>
                                    Quittances
                                </a>
                            </small>
                        </div>
                </div>

                <div class="btn-group btn-group-sm mb-2 col-12 col-xl-8 " role="group" aria-label="Basic checkbox toggle button group">

                    <a type="button"
                       class="btn btn-outline-primary {% if not pdf_exist %}disabled{% endif %}"
                       href="{{ asset('documents/quittances/') }}{{ file_name }}.pdf"
                       download="Quittance - {{ quittance.month }} {{ quittance.year }} - {{ quittance.locataire }}"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-placement="top"
                       data-bs-html="true"
                       title="<small>Télécharger la quittance au format pdf</small>"
                    >
                        <span class="tf-icons bx bxs-download"></span>
                        Télécharger
                        <span class="tf-icons bx bx-md bxs-file-pdf"></span>
                    </a>

                    <a type="button"
                       class="btn btn-outline-primary {% if not docx_exist %}disabled{% endif %}"
                       href="{{ asset('documents/quittances/') }}{{ file_name }}.docx"
                       download="Quittance - {{ quittance.locataire }} - {{ quittance.month }} {{ quittance.year }}"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-placement="top"
                       data-bs-html="true"
                       title="<small>Télécharger la quittance au format word</small>"
                    >
                        <span class="tf-icons bx bxs-download"></span>
                        Télécharger
                        <span class="tf-icons bx bx-md bxs-file-doc"></span>
                    </a>

                </div>

                <div class="btn-group mb-2 col-12 col-xl-8 " role="group" aria-label="Basic checkbox toggle button group">

                    <a type="button"
                       class="btn btn-light disabled col-auto"
                    >
                        Statut
                    </a>

                    <a type="button"
                       class="btn text-dark {% if quittance.payed %}btn-success{% else %}btn-warning{% endif %} disabled col-10"
                    >
                        {% if quittance.payed %}
                            <span class="tf-icons bx bx-calendar-check"></span>
                            Payé
                        {% else %}
                            <span class="tf-icons bx bx-calendar-exclamation"></span>
                            Non payé
                        {% endif %}
                    </a>

                    <a type="button"
                       class="btn btn-primary col-auto"
                       href="{{ path('quittances_quittance_payed', {'id': quittance.id}) }}"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-placement="top"
                       data-bs-html="true"
                       title="<small>
                        {% if quittance.payed %}
                            Changer en loyer non payé
                        {% else %}
                            Changer en loyer payé
                        {% endif %}
                        </small>"
                    >
                        <span class="tf-icons bx bx-refresh"></span>
                    </a>

                </div>

                {% if 'render' in app.request.get('_route') %}
                    <a type="button"
                       class="btn btn-primary mb-2 col-12 col-xl-8"
                       href="{{ path('quittances_edit_new_quittance', {'loc_id': locataire.id }) }}"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-placement="top"
                       data-bs-html="true"
                       title="<small>Editer une autre quittance</small>"
                    >
                        <span class="tf-icons bx bx-redo"></span>
                        <span class="tf-icons bx bx-file"></span>
                        Editer à nouveau
                    </a>
                    <a type="button"
                       class="btn btn-primary mb-2 col-12 col-xl-8 {% if not quittance.locataire.email %}disabled{% endif %}"
                       href="{{ path('quittances_send_quittance', {'id': quittance.id}) }}"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-placement="top"
                       data-bs-html="true"
                       title="<small>Envoyer la quittance à {{ locataire.email }}</small>"
                       onclick="return confirm('Etes-vous sur de vouloir envoyer cette quittance au locataire?');"
                    >
                        <span class="tf-icons bx bxs-paper-plane"></span>
                        Envoyer la quittance
                    </a>
                {% endif %}

                <div class="btn-group mb-2 col-12 col-xl-8 " role="group" aria-label="Basic checkbox toggle button group">

                    <a type="button"
                       class="btn btn-primary"
                       href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}#logement"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-placement="top"
                       data-bs-html="true"
                       title="<small>Voir {{ bien_immo }}</small>"
                    >
                        <span class="tf-icons bx bxs-building-house"></span>
                        Logement
                    </a>

                    <a type="button"
                       class="btn btn-primary"
                       href="{{ path('locataire_edit', {'id': locataire.id}) }}#locataire"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-placement="top"
                       data-bs-html="true"
                       title="<small>Voir {{ locataire }}</small>"
                    >
                        <span class="tf-icons bx bxs-user"></span>
                        locataire
                    </a>

                </div>

                <a type="button"
                   class="btn btn-danger mb-2 col-12 col-xl-8"
                   href="{{ path('quittances_delete_quittance', {'quittance_id': quittance.id}) }}"
                   data-bs-toggle="tooltip"
                   data-bs-offset="0,4"
                   data-bs-placement="top"
                   data-bs-html="true"
                   onclick="return confirm('Etes-vous sur de vouloir supprimer définitivement cette quittance?');"
                   title="<small>Supprimer la quittance</small>"
                >
                    <span class="tf-icons bx bxs-trash"></span>
                    Supprimer
                </a>
            </div>
            <div class="card p-2 col-xl-6 col-md-8 col-12">
                <embed src="{{ asset('documents/quittances/') }}{{ file_name }}.pdf" height="680" width="100%" class="perfect-scrollbar">
            </div>

        </div>
    </div>

{% endblock %}
