{% if entity.quittances|length != 0 %}
<div class="table-container">
    <table class="table is-striped is-hoverable">
        <thead>
        <tr class="is-size-7">
            <th>N°</th>
            <th>Quittance</th>
            <th>Nom du fichier</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tfoot>
        <tr class="is-size-7">
            <th>N°</th>
            <th>Quittance</th>
            <th>Nom du fichier</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
        </tfoot>
        <tbody>
        {% set numero_quittance = 1 %}
        {% for quittance in entity.quittances|sort((a, b) => b.date <=> a.date) %}
            <tr class="is-size-7">
                <td class=" has-text-dark has-background-light" title="Quittance N° {{ quittance.id }}">
                    <span class="has-text-dark"><b>{{ quittance.id }}</b></span>
                </td>

                <td class="">
                    <span class="has-text-dark has-text-weight-bold">{{ quittance.date|format_datetime(pattern="MMMM '-' yyyy", locale='fr')|capitalize }}</span>
                </td>

                <td class="overflow-ellipsis-100px has-text-dark has-text-left" title="{{ quittance.fileName }}" style="width: 100%">
                    <span class="has-text-dark">{{ quittance.fileName }}</span>
                </td>

                <td>
                    {% if quittance.payed %}
                        <a class="button is-info is-size-7 borderless-radius has-text-weight-bold ajax-quittance-played-btn" href="{{ path('quittances_quittance_payed', {'id': quittance.id}) }}" title="Changer le statut de la quittance">
                                <span class="icon">
                                    <i class="fas fa-money-bill"></i>
                                </span>
                            <span class="txt">
                                    Payée
                                </span>
                        </a>
                    {% else %}
                        <a class="button is-warning is-size-7 borderless-radius has-text-weight-bold ajax-quittance-played-btn" href="{{ path('quittances_quittance_payed', {'id': quittance.id}) }}" title="Changer le statut de la quittance">
                                <span class="icon">
                                    <i class="fas fa-sync-alt"></i>
                                </span>
                            <span class="txt">
                                    Non payée
                                </span>
                        </a>
                    {% endif %}

                </td>

                <td>

                    <a class="button is-primary is-outlined is-size-7 borderless-radius" {% if quittance.locataire.email %}href="{{ path('quittances_send_quittance', {'id': quittance.id}) }}" title="Envoyer la quittance au locataire : {{ quittance.locataire.email }}" onclick="return confirm('Êtes-vous sûr de vouloir envoyer ce document?')"{% else %}title="Aucun email défini pour le locataire" disabled="true"{% endif %}>
                        <span class="icon">
                            <i class="fas fa-lg fa-paper-plane"></i>
                        </span>
                    </a>

                    <a class="button is-primary is-outlined is-size-7 borderless-radius button-modal" title="Voir le document">
                        <div class="icon">
                            <i class="fas fa-lg fa-eye"></i>
                        </div>
                    </a>
                    {{ include('immo/documents/quittance_modal_box.html.twig') }}

{#                    <div class="dropdown is-right is-hoverable">#}
{#                        <div class="dropdown-trigger">#}
{#                            <button class="button is-primary is-outlined is-size-7 borderless-radius" aria-haspopup="true" aria-controls="dropdown-menu">#}
{#                                <span class="icon">#}
{#                                    <i class="fas fa-lg fa-file-download"></i>#}
{#                                </span>#}
{#                            </button>#}
{#                        </div>#}
{#                        <div class="dropdown-menu" id="dropdown-menu" role="menu">#}
{#                            <div class="dropdown-content">#}
{#                                <a class="button is-primary is-outlined is-size-7 borderless-radius" {% if not quittance.pdfexist %}disabled="true" title="Fichier au format .pdf indisponible"{% endif %} {% if quittance.pdfexist %}title="{{ quittance.fileName }}.pdf" href="{{ asset('documents/quittances/') }}{{ quittance.fileName }}.pdf" download="{{ quittance.fileName }}"{% endif %}>#}
{#                                    <span class="icon">#}
{#                                        <i class="fas fa-lg fa-file-pdf"></i>#}
{#                                    </span>#}
{#                                </a>#}

{#                                <a class="button is-primary is-outlined is-size-7 borderless-radius" title="{{ quittance.fileName }}.docx" href="{{ asset('documents/quittances/') }}{{ quittance.fileName }}.docx" download="{{ quittance.fileName }}">#}
{#                                    <div class="icon">#}
{#                                        <i class="fas fa-lg fa-file-word"></i>#}
{#                                    </div>#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}


                    <a class="button is-danger is-outlined is-size-7 borderless-radius" href="{{ path('quittances_delete_quittance', {'quittance_id': quittance.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce document?')" title="Supprimer la quittance">
                    <span class="icon">
                        <i class="fas fa-lg fa-times"></i>
                    </span>
                    </a>
                </td>
            </tr>
            {% set numero_quittance = numero_quittance + 1 %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<div class="is-flex-tablet is-justify-content-center">
    {% if locataire_twig is defined and locataire_twig and locataire_twig.logement %}
        <a href="{{ path('quittances_edit_new_quittance', {'loc_id': locataire_twig.id }) }}" class="button is-info is-small borderless-radius" title="Editer une quittance de loyer pour {{ locataire_twig }}">
        <span class="icon">
            <i class="fas fa-lg fa-file-alt"></i>
            <i class="fas is-size-8 fa-plus"></i>
        </span>
            <span><b>Quittance</b></span>
        </a>
    {% elseif form.vars.name == 'locataire' and entity.logement is null %}
        <span class="has-text-dark is-flex is-flex-direction-column is-justify-content-center is-align-items-center box-shadow-bulma border-radius-2px has-background-light is-one-fifth is-full-mobile is-2-widescreen px-2 py-2 file is-hidden has-background-info" style="line-height: normal">
        <span>
            Pour éditer une quittance...
        </span>
        <span class="px-3">
            <a class="button is-small is-light is-outlined" title="Ajouter un logement au locataire" onclick="let btn = document.querySelector('div#locataire').nextElementSibling.click();">
                Ajouter un logement
            </a>
        </span>
    </span>
    {% endif %}
</div>

