{% extends 'base.html.twig' %}

{% block title %}Edition d'un devis{% endblock %}

{% block title_main %}Edition d'un devis{% endblock %}

{% block body %}

        <div class="hero-body">
            <div class="column py-0 px-0 has-text-centered is-flex is-justify-content-center is-white">
                {% form_theme form 'themes/form/form_errors.html.twig' %}
                {{ form_start(form, {'attr': {'class': 'is-half is-one-third-widescreen column py-0 px-0'}}) }}

                <div class="field">
                    <label class="label">Informations du client :</label>
                    <div class="field">
                        <label class="label is-size-7">{{ form_label(form.client_name) }}</label>
                        <div class="control">
                            {{ form_widget(form.client_name, {'attr': {'class':'input is-small has-text-centered'}}) }}
                            {{ form_errors(form.client_name) }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label is-size-7">{{ form_label(form.phone) }}</label>
                        <div class="control">
                            {{ form_widget(form.phone, {'attr': {'class':'input is-small has-text-centered'}}) }}
                            {{ form_errors(form.phone) }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label is-size-7">{{ form_label(form.email) }}</label>
                        <div class="control">
                            {{ form_widget(form.email, {'attr': {'class':'input is-small has-text-centered'}}) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label is-size-7">{{ form_label(form.adresse) }}</label>
                        <div class="control">
                            {{ form_widget(form.adresse, {'attr': {'class':'input is-small has-text-centered'}}) }}
                            {{ form_errors(form.adresse) }}
                        </div>
                    </div>
                </div>

                <hr>

                <div class="field">
                    <label class="label">Informations des prestations :</label>
                    <div class="is-flex-desktop field">
                        <div class="column">
                            <label class="label is-size-7">{{ form_label(form.quantity_1) }}</label>
                            <div class="field">
                                <div class="control">
                                    {{ form_widget(form.quantity_1, {'attr': {'class':'input is-small has-text-centered'}}) }}
                                </div>
                                {{ form_errors(form.quantity_1) }}
                            </div>

                            <label class="label is-size-7">{{ form_label(form.price_unit_ht_1) }}</label>
                            <div class="field has-addons">
                                <p class="control is-expanded">
                                    {{ form_widget(form.price_unit_ht_1, {'attr': {'class':'input is-small has-text-centered'}}) }}
                                </p>
                                <p class="control" title="Devis en Euros">
                                    <a class="button is-small is-static">
                                        €
                                    </a>
                                </p>
                            </div>
                            {{ form_errors(form.price_unit_ht_1) }}
                        </div>

                        <div class="field column is-three-fifths-desktop">
                            <label class="label is-size-7">{{ form_label(form.description_1) }}</label>
                            <div class="control">
                                {{ form_widget(form.description_1, {'attr': {'class':'textarea has-text-centered is-small', 'style':'resize:none;'}}) }}
                                {{ form_errors(form.description_1) }}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="control">
                    <button class="button is-small is-success">Editer le devis</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

{% endblock %}
