<div class="field">
    <label class="label">Informations du client :</label>
    <div class="field">
        <label class="label is-size-7">{{ form_label(form.client_name) }}</label>
        <div class="control">
            {{ form_widget(form.client_name, {'attr': {'class':'input is-small has-text-centered'}}) }}
            {{ form_errors(form.client_name) }}
        </div>
    </div>

    <div class="field">
        <label class="label is-size-7">{{ form_label(form.phone) }}</label>
        <div class="control">
            {{ form_widget(form.phone, {'attr': {'class':'input is-small has-text-centered'}}) }}
            {{ form_errors(form.phone) }}
        </div>
    </div>

    <div class="field">
        <label class="label is-size-7">{{ form_label(form.email) }}</label>
        <div class="control">
            {{ form_widget(form.email, {'attr': {'class':'input is-small has-text-centered'}}) }}
            {{ form_errors(form.email) }}
        </div>
    </div>

    <div class="field">
        <label class="label is-size-7">{{ form_label(form.adresse) }}</label>
        <div class="control">
            {{ form_widget(form.adresse, {'attr': {'class':'input is-small has-text-centered'}}) }}
            {{ form_errors(form.adresse) }}
        </div>
    </div>
</div>