{% extends 'base.html.twig' %}

{% set total_loyers = 0 %}
{% set total_charges = 0 %}
{% set total_revenu_ttc = 0 %}
{% set total_loyers_percus = 0 %}
{% set total_loyers_percus_current_month = 0 %}
{% set total_loyers_attentes = 0 %}
{% set nb_quittances_payed = 0  %}
{% set nb_quittances_not_payed = 0  %}
{% set nb_quittances_partial = 0  %}
{% set total_credit = 0 %}
{% set benefices = 0 %}
{% set total_frais = 0 %}
{% set total_biens_loges = 0 %}
{% set total_biens_vides = 0 %}

                {% set months = [1,2,3,4,5,6,7,8,9,10,11,12] %}
                {% set quittances_payed = [] %}
                {% set quittances_waiting = [] %}
                {% set quittances_by_month = [] %}
                {% for quittance in quittances %}
                    {% if quittance.payed %}
                        {% set quittances_payed = quittances_payed|merge([quittance]) %}
                    {% else %}
                        {% set quittances_waiting = quittances_waiting|merge([quittance]) %}
                    {% endif %}
                    {% if quittance.month|lower == 'now'|format_datetime(pattern='MMMM', locale='fr') and quittance.year == 'now'|format_datetime(pattern='r', locale='fr') and quittance.payed %}
                        {% set total_loyers_percus_current_month = total_loyers_percus_current_month + quittance.loyerttc %}
                    {% endif %}
                {% endfor %}

{% for bien_immo in biens_immos %}
    {% if bien_immo.locataire %}
        {% set total_loyers = total_loyers + bien_immo.loyerTtc %}

        {% if bien_immo.financement %}
            {% set total_credit = total_credit + bien_immo.financement.mensualites %}
        {% endif %}

        {% set total_biens_loges = total_biens_loges + 1 %}

        {% for frai in bien_immo.frais %}
            {% set total_frais = total_frais + frai.quantity %}
        {% endfor %}

        {% set benefices = benefices + bien_immo.beneficeNet %}
    {% else %}
        {% set total_biens_vides = total_biens_vides + 1 %}
    {% endif %}
{% endfor %}
{% set total_revenu_ttc = total_loyers + total_charges %}


{% for quittance in quittances %}
{#    {% set total_loyers = total_loyers + quittance.loyerTtc %}#}
    {% if quittance.payed %}
        {% set total_loyers_percus = total_loyers_percus + quittance.loyerTtc %}
        {% set nb_quittances_payed = nb_quittances_payed + 1 %}
    {% else %}
        {% set total_loyers_attentes = total_loyers_attentes + quittance.loyerTtc %}
        {% set nb_quittances_not_payed = nb_quittances_not_payed + 1 %}
    {% endif %}
{% endfor %}



{% block title %}Accueil{% endblock %}

{% block body %}

    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-lg-8 order-0">
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="d-flex align-items-end row">
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">Bienvenue sur votre espace personnel {{ app.user.firstname }}</h5>
                                    <p class="mb-4">
                                        Les status de vos biens sont régularisés
                                    </p>

                                    <!--
                                    <a href="javascript:;" class="btn btn-sm btn-outline-primary">View Badges</a>
                                    -->
                                </div>
                            </div>
                            <div class="col-sm-5 text-center text-sm-left">
                                <div class="card-body pb-0 px-0 px-md-4">
                                    <img
                                        {% if app.user.gender == 'M.' %}
                                            src="{{ asset('img/illustrations/undraw_windy_day_x-63-l.svg') }}"
                                        {% elseif app.user.gender == 'Mme.' %}
                                            src="{{ asset('img/illustrations/undraw_businesswoman_re_5n6b.svg') }}"
                                        {% else %}
                                            src="{{ asset('img/illustrations/undraw_house_searching_re_stk8.svg') }}"
                                        {% endif %}
                                        height="140"
                                        alt="View Badge User"
                                        data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                        data-app-light-img="illustrations/man-with-laptop-light.png"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for bien_immo in biens_immos|slice(0,2)|filter(bien_immo => bien_immo.locataire) %}
                        {% set last_quittance = bien_immo.quittances|sort((a, b) => a.date <=> b.date)|last %}
                        {{ include('includes/bien_card.html.twig') }}
                    {% endfor %}
                    <div class="col-12 col-lg-4 col-sm-12 col-md-12 mb-4">
                        <div class="col-12 mb-4">
                            {{ include('includes/all_biens_card.html.twig') }}
                        </div>
                        <div class="col-12">
                            {{ include('includes/new_bien_card.html.twig') }}
                        </div>
                    </div>
                </div>

            </div>

            {{ include('includes/blocks/total_frais.html.twig') }}

            <div class="col-12 col-lg-4 order-3 order-md-2">
                <div class="row h-100">
                    {{ include('includes/blocks/total_loyers_current_month.html.twig') }}
                </div>
            </div>

            <div class="col-12 col-lg-4 order-3 order-md-2">
                <div class="row h-100">
                    {{ include('includes/blocks/total_biens_immos.html.twig') }}
                </div>
            </div>

            <div class="col-12 col-lg-4 order-3 order-md-2">
                <div class="row h-100">
                    {{ include('includes/blocks/total_locataires.html.twig') }}
                </div>
            </div>

        </div>

        <div class="row">
            {{ include('includes/blocks/status_loyer_annuel.html.twig') }}
        </div>

        <div class="row">
            {{ include('includes/blocks/total_revenue.html.twig') }}

            {{ include('includes/block_locataires.html.twig') }}
        </div>

    </div>
    <!-- / Content -->

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <!-- Page JS -->
    {% include 'includes/js/dashboards-analytics.html.twig' %}
{% endblock %}
