<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Documents{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
{#        <link href="~bulma-calendar/dist/css/bulma-calendar.min.css" rel="stylesheet">#}
    {% endblock %}

{#    {% block javascripts %}#}
{#        {{ encore_entry_script_tags('app') }}#}
{#    {% endblock %}#}
</head>
<body class="has-navbar-fixed-top">

<section class="">

    {#     Définission de la variable section en fonction de ce que contient le nom de la route dans laquel on se trouve     #}
    {% set section = '' %}
    {% if 'immo' in app.request.get('_route') or 'locataire' in app.request.get('_route') or 'quittance' in app.request.get('_route') or 'loyer' in app.request.get('_route') %}
        {% set section = 'immobilier' %}
    {% elseif 'entreprenariat'in app.request.get('_route') or 'entreprise' in app.request.get('_route') or 'devis' in app.request.get('_route') or 'facture' in app.request.get('_route')  %}
        {% set section = 'entreprenariat' %}
    {% endif %}

    {{ include('includes/header.html.twig') }}

    <div class="hero is-small is-relative">
        <div class="title-main-background is-absolute-top-0" style="z-index: -2;{% block title_main_background_img %}{% endblock %}"></div>
        <div class="title-main-background is-absolute-top-0" style="z-index: -1;{% block title_main_background_layer %}background: rgba(2, 18, 34, 0.9);{% endblock %}"></div>
        <div class="hero-body">
            <h1 class="title has-text-light has-text-centered">
                <span class="icon-text is-align-items-center">

                    <span class="icon is-large">
                        {% if section == 'immobilier' %}
                            <i class="fas fa-city"></i>
                        {% elseif section == 'entreprenariat' %}
                            <i class="fas fa-user-tie"></i>
                        {% else %}
                            <i class="fas fa-mail-bulk"></i>
                        {% endif %}
                    </span>

                    <span>
                        {% block title_main %}Outil d'aministration de vos documents{% endblock %}
                    </span>
                </span>
            </h1>
        </div>
    </div>

    {% block nav_secondaire %}
        {{ include('includes/sub_header.html.twig') }}
    {% endblock %}

    {% block body %}{% endblock %}

</section>

    {{ include('includes/flash_message.html.twig') }}


{% block javascripts %}

    {#  BULMA CALENDAR  #}
{#    <script src="/node_modules/bulma-extensions/bulma-calendar/dist/bulma-calendar.min.js"></script>#}
{#    <script>#}
{#        // Initialize all input of date type.#}
{#        const calendars = bulmaCalendar.attach('[type="date"]', options);#}

{#        // Loop on each calendar initialized#}
{#        calendars.forEach(calendar => {#}
{#            // Add listener to select event#}
{#            calendar.on('select', date => {#}
{#                console.log(date);#}
{#            });#}
{#        });#}

{#        // To access to bulmaCalendar instance of an element#}
{#        const element = document.querySelector('#my-element');#}
{#        if (element) {#}
{#            // bulmaCalendar instance is available as element.bulmaCalendar#}
{#            element.bulmaCalendar.on('select', datepicker => {#}
{#                console.log(datepicker.data.value());#}
{#            });#}
{#        }#}
{#    </script>#}
{######################}

    <script>
        function ajaxEditFile(event){
            event.preventDefault();
            const url = this.href;

            axios.get(url).then(function (response) {
            })
        }
    </script>

    {#       SHOW ON HOVER       #}
    <script>

        let onHoverElements = document.querySelectorAll('.show-on-hover');
        onHoverElements.forEach(function(elem) {
            let targetToShow = elem.querySelectorAll('.show-on-hover-target');
                elem.addEventListener('mouseover', function () {
                    targetToShow.forEach(target => target.classList.add('show-on-hover-target-active'));
                });
                elem.addEventListener('mouseleave', function () {
                    targetToShow.forEach(target => target.classList.remove('show-on-hover-target-active'));
                });
            }
        )

    </script>

{#      REMOVE TIMER        #}
<script>
    function removeAfterTimer(element, time) {
        setTimeout(function () {
            element.style.transition = '5s';
            element.style.opacity = '0';
            setTimeout(function () {
                element.classList.add('is-hidden')
            },5000);
        },time + '000');
    }
</script>

    {#     REMOVE FLASH MSG BASE     #}
    <script>
        let objectToRemove = document.querySelectorAll('.remove-timer-5s');
        objectToRemove.forEach(elem => removeAfterTimer(elem, 10));
    </script>


{#     SCRIPT POUR AJOUT INFORMATION PRESTATIONS DEVIS     #}
<script>
    function addInfosPresta(elem) {
        let infosPrestaForms = document.getElementById('infos-prestations');

        for (i=0 ; i < infosPrestaForms.children.length ; i++){
            if (infosPrestaForms.children[i].classList.contains('is-hidden')){
                if (i === infosPrestaForms.children.length - 1){
                    elem.classList.add('is-hidden')
                } else {
                    elem.classList.remove('is-hidden')
                }
                if (i > 0){
                    elem.nextElementSibling.classList.remove('is-hidden')
                } else {
                    elem.nextElementSibling.classList.add('is-hidden')
                }
                infosPrestaForms.children[i].classList.toggle('is-hidden');
                break
            }
        }
    }

    function removeInfosPresta(elem) {
        let infosPrestaForms = document.getElementById('infos-prestations');

        for ( j=1 ; j <= infosPrestaForms.children.length ; j++){

            if (!infosPrestaForms.children[j].classList.contains('is-hidden')){

                if (j === infosPrestaForms.children.length - 1){
                    elem.classList.add('is-hidden')
                } else {
                    elem.classList.remove('is-hidden')
                }
                if (j >= 0){
                    elem.previousElementSibling.classList.remove('is-hidden')
                } else {
                    elem.previousElementSibling.classList.add('is-hidden')
                }
                infosPrestaForms.children[j].classList.toggle('is-hidden');
                break
            }
        }
    }
</script>


{#      CHANGE REDIRECTION FOR EDIT LOCATAIRE ON SELECT      #}
    <script>
        let selectLocataires = document.getElementById('bien_immo_locataires');
        if (selectLocataires) {
            selectLocataires.addEventListener('change', function (event) {
                console.log(event.target.value );
            })
        }
    </script>

{% endblock %}

</body>
</html>
