<!doctype html>
<html lang="fr"
      class="dark-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block meta_description %}Gestion de votre patrimoine immobilier, gestion de contrat de location. Editeur de bail.{% endblock %}">
    {# FAVICON #}
    <link rel="shortcut icon" href="{{ asset('img/favicon/KH-favicon.png') }}" type="image/x-icon">
    <title>KH immobilier | {% block title %}{% endblock %}</title>

    {#   DASHBOARD TEMPLATE   #}
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />
    <!-- Helpers -->
    <script src="{{ asset('vendor/js/helpers.js') }}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{{ asset('js/config.js') }}"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <!-- Icons. Uncomment required icon fonts -->
        <link rel="stylesheet" href="{{ asset('vendor/fonts/boxicons.css') }}" />
        <!-- Core CSS -->
        <link rel="stylesheet" href="{{ asset('vendor/css/core.css') }}" class="template-customizer-core-css" />
        <link rel="stylesheet" href="{{ asset('vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />
        <link rel="stylesheet" href="{{ asset('css/demo.css') }}" />
        <!-- Vendors CSS -->
        <link rel="stylesheet" href="{{ asset('vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />
        <!-- Page CSS -->
        <!-- Page -->
        <link rel="stylesheet" href="{{ asset('vendor/css/pages/page-auth.css') }}" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% endblock %}

{#    {% block javascripts %}#}
{#        {{ encore_entry_script_tags('app') }}#}
{#    {% endblock %}#}

</head>

{#     Définission de la variable section en fonction de ce que contient le nom de la route dans laquel on se trouve     #}
{% set section = '' %}
{% if 'immo' in app.request.get('_route') or 'locataire' in app.request.get('_route') or 'quittance' in app.request.get('_route') or 'loyer' in app.request.get('_route') or 'prestataire' in app.request.get('_route') %}
    {% set section = 'immobilier' %}
{% elseif 'entreprenariat'in app.request.get('_route') or 'entreprise' in app.request.get('_route') or 'devis' in app.request.get('_route') or 'facture' in app.request.get('_route')  %}
    {% set section = 'entreprenariat' %}
{% elseif 'user' in app.request.get('_route') or 'register' in app.request.get('_route') or 'login' in app.request.get('_route') or 'change_password' in app.request.get('_route')  %}
    {% set section = 'gestionnaire' %}
{% endif %}

{# Exclusion des route #}
{% set routes_exclude_for_aside = ['app_login','app_register','app_send_mail_confirm'] %}

{# Active routes for aside nav #}
{% set route = app.request.get('_route') %}

<body>
    <div {% if app.request.get('_route') not in routes_exclude_for_aside %}class="layout-wrapper layout-content-navbar"{% endif %}>
        <div {% if app.request.get('_route') not in routes_exclude_for_aside %}class="layout-container"{% endif %}>

{#     NAVIGATION ASIDE       #}
            {% block nav_aside %}{{ include('includes/menus/aside_menu.html.twig') }}{% endblock %}

            <!-- Layout container -->
            <div {% if app.request.get('_route') not in routes_exclude_for_aside %}class="layout-page"{% endif %}>
                <!-- Navbar -->

                <nav class="layout-navbar d-xl-none container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input
                                        type="text"
                                        class="form-control border-0 shadow-none"
                                        placeholder="Search..."
                                        aria-label="Search..."
                                />
                            </div>
                        </div>
                        -->

                    </div>
                </nav>

                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper">
{#  //////////////////       BODY       /////////////////////////  #}
                    {% block body %}{% endblock %}

                    <!-- Footer -->
                    {{ include('includes/menus/footer.html.twig') }}
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
</body>

    {{ include('includes/flash_message.html.twig') }}


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="{{ asset('vendor/libs/jquery/jquery.js') }}"></script>
<script src="{{ asset('vendor/libs/popper/popper.js') }}"></script>
<script src="{{ asset('vendor/js/bootstrap.js') }}"></script>
<script src="{{ asset('vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
<script src="{{ asset('vendor/js/menu.js') }}"></script>
<!-- endbuild -->
<!-- Vendors JS -->
<script src="{{ asset('vendor/libs/apex-charts/apexcharts.js') }}"></script>
<!-- Main JS -->
<script src="{{ asset('js/main.js') }}"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

{% block javascripts %}

    <script>
        function submitForms(){
            forms = document.querySelectorAll('.form-to-submit');
            forms.forEach(function (form) {
                form.submit();
            });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        {#       SCRIPT AJAX       #}

        let ajaxQuittancePayedBtns = document.querySelectorAll('.ajax-quittance-payed-btn');
        ajaxQuittancePayedBtns.forEach(function (btn) {
            btn.addEventListener('click',ajaxQuittancePayed)
        });
        function ajaxQuittancePayed(event){
            let element = this;
            let txt = element.querySelector('.txt');
            event.preventDefault();
            const url = this.href;
            element.classList.add('is-loading');
            axios.get(url).then(function (response) {
                if (element.classList.contains('bg-label-warning')){
                    element.classList.replace('bg-label-warning', 'bg-label-success');
                    element.title = "Dernier loyer reçus";
                    if (txt){
                        txt.innerHTML = 'Payée';
                    }
                    element.querySelector('i').classList.replace('bx-calendar-exclamation', 'bxs-calendar-check');
                }else{
                    element.classList.replace('bg-label-success', 'bg-label-warning');
                    if (txt){
                        txt.innerHTML = 'Non payée';
                    }
                    element.title = "Dernier loyer non reçus";
                    element.querySelector('i').classList.replace('bxs-calendar-check', 'bx-calendar-exclamation')
                }
                if (element.parentElement){element.parentElement.setAttribute('data-bs-content',element.title)}
                element.classList.remove('is-loading');
            });
        }

        {#     ##############################################     #}



        {#       SHOW ON HOVER       #}

        let onHoverElements = document.querySelectorAll('.show-on-hover');
        onHoverElements.forEach(function(elem) {
                let targetToShow = elem.querySelector('.show-on-hover-target');
                if (targetToShow){
                    const width = (targetToShow.scrollWidth) + "px";
                    elem.addEventListener('mouseover', function () {
                        targetToShow.classList.add('show-on-hover-target-active');
                        targetToShow.style.width = width;
                    });
                    elem.addEventListener('mouseleave', function () {
                        targetToShow.classList.remove('show-on-hover-target-active');
                        targetToShow.style.width = '0';
                    });
                }
            }
        );

        {#     ##############################################     #}




        {#      REMOVE TIMER        #}

        function removeAfterTimer(element, time) {
            setTimeout(function () {
                element.style.transition = '5s';
                element.style.opacity = '0';
                setTimeout(function () {
                    element.classList.add('is-hidden')
                },5000);
            },time + '000');
        }

        {#     ##############################################     #}


        {#     REMOVE FLASH MSG BASE     #}

        let objectToRemove = document.querySelectorAll('.remove-timer-5s');
        objectToRemove.forEach(elem => removeAfterTimer(elem, 10));

        {#     ##############################################     #}



        {#     SCRIPTS POUR AJOUT INFORMATION PRESTATIONS DEVIS     #}

        function addInfosPresta(elem) {
            let infosPrestaForms = document.getElementById('infos-prestations');

            for (i=0 ; i < infosPrestaForms.children.length ; i++){
                let child = infosPrestaForms.children[i];

                if (child.classList.contains('is-hidden')){
                    if (i === infosPrestaForms.children.length - 1){
                        elem.classList.add('is-hidden')
                    } else {
                        elem.classList.remove('is-hidden')
                    }
                    if (i > 0){
                        elem.nextElementSibling.classList.remove('is-hidden')
                    } else {
                        elem.nextElementSibling.classList.add('is-hidden')
                    }
                    child.classList.toggle('is-hidden');
                    break
                }
            }

        }

        function removeInfosPresta(elem) {
            let infosPrestaForms = document.getElementById('infos-prestations');

            for ( j=1 ; j <= infosPrestaForms.children.length ; j++){

                if (!infosPrestaForms.children[j].classList.contains('is-hidden')){

                    if (j === infosPrestaForms.children.length - 1){
                        elem.classList.add('is-hidden');
                    } else {
                        elem.classList.remove('is-hidden');
                    }
                    if (j >= 0){
                        elem.previousElementSibling.classList.remove('is-hidden');
                    } else {
                        elem.previousElementSibling.classList.add('is-hidden');
                    }

                    infosPrestaForms.children[j].classList.toggle('is-hidden');
                    break
                }
            }
        }

        {#     ##############################################     #}



        {#      CHANGE REDIRECTION FOR EDIT LOCATAIRE ON SELECT      #}

        let selectLocataires = document.getElementById('bien_immo_locataires');
        let selectLogement = document.getElementById('locataire_logement');
        let redirectLink = document.getElementById('redirect-adapt-link');

        if (selectLocataires) {
            selectLocataires.addEventListener('change',event => adaptRedirectLink(event, '/locataire/'));
            let id = selectLocataires.value;
            window.onload = modifRedirectLink(id, '/locataire/');
        }
        if (selectLogement) {
            selectLogement.addEventListener('change',event => adaptRedirectLink(event, '/bien/immo/'));
            let id = selectLogement.value;
            window.onload = modifRedirectLink(id, '/bien/immo/');
        }


        function adaptRedirectLink(event, entity) {
            let id = event.target.value;
            modifRedirectLink(id, entity);
        }


        function modifRedirectLink(id, entity) {
            if (id){
                let endingUrl = '';
                if (entity === '/bien/immo/') {
                    endingUrl = '/edit/#logement';
                } else if (entity === '/locataire/') {
                    endingUrl = '/edit/#locataire';
                }else {
                    endingUrl = '/edit/';
                }
                if (redirectLink){
                    redirectLink.href = entity+id+endingUrl;
                    redirectLink.removeAttribute('disabled', 'disabled');
                }
            } else {
                if (redirectLink){
                    redirectLink.href = '#';
                    redirectLink.setAttribute('disabled', 'disabled');
                }
            }
        }

        {#     ##############################################     #}




        {#    TOOGLE DISABLED      #}

        let disabledClass = document.querySelectorAll('.disabled');
        disabledClass.forEach(function (elem) {
            elem.setAttribute('disabled','disabled');
        });

        function toogleDisabledClass() {
            disabledClass.forEach(function (elem) {
                elem.toggleAttribute('disabled');
            });
        }


        {#    TOOTLGE READ-ONLY      #}

        let readonlyClass = document.querySelectorAll('.readonly');
        readonlyClass.forEach(function (elem) {
            elem.setAttribute('readonly','readonly');
            if (elem.hasAttribute('readonly')){
                elem.style.background = '#dbdbdb';
                elem.classList.add('remove-mouse-events');
            }else {
                elem.style.background = '#ffffff';
                elem.classList.remove('remove-mouse-events');
            }
        });

        function toogleReadonlyClass(btn) {
            let form = btn.closest('form');
            let inputs = form.querySelectorAll('.readonly');
            inputs.forEach(function (elem) {
                elem.toggleAttribute('readonly');
                if (elem.hasAttribute('readonly')){
                    elem.style.background = '#dbdbdb';
                    elem.classList.add('remove-mouse-events');
                }else {
                    elem.style.background = '#ffffff';
                    elem.classList.remove('remove-mouse-events');
                }
            });
        }

        {#     ##############################################     #}



        {#     IS-LOADING     #}

        function isLoading(el) {
            let btn = el.getElementsByClassName('btn-submit');
            if (btn[0]) {
                btn[0].classList.add('is-loading');
            }
        }

        {#     ##############################################     #}


        {#     NAVBAR-DROPDOWN     #}

        document.addEventListener('click', function (event) {
            let navbarDropdown = document.querySelectorAll('div.navbar-item.has-dropdown, div.navbar-item.has-dropdown > *, div.navbar-item.has-dropdown > * > *, .custom-dropdown');
            let navbarBurger = document.querySelectorAll('.navbar-burger');
            let sections = document.querySelectorAll('section');
            let navbarMenu = document.getElementById('navbarMenu');
            let target = event.target;

            // navbarDropdown.forEach(function (drop) {
            //     if (Array.from(navbarDropdown).find(node => node === target)) {
            //         drop.classList.toggle('is-active');
            //     }else {
            //         drop.classList.remove('is-active');
            //     }
            // });

            navbarBurger.forEach(function (drop) {
                if ( target.parentElement === drop || target === drop){
                    navbarMenu.classList.toggle('is-active');
                }else {
                    if (navbarMenu){
                        navbarMenu.classList.remove('is-active');
                    }
                    drop.classList.remove('is-active');
                }
            });

            sections.forEach(function (section) {
                section.addEventListener('click', function () {
                    if (navbarMenu){
                        navbarMenu.classList.remove('is-active');
                    }
                })
            })
        });

        {#     ##############################################     #}



        {#     ############   SCRIPT FOR TABS BIEN_IMMO   #############     #}

        let tabs = document.querySelectorAll('.tabs').forEach(function (elem) {
            let lis = elem.querySelectorAll('li');
            lis.forEach(function (li) {
                li.addEventListener('click', function () {
                    let id = li.previousElementSibling.id;
                    if (id){
                        window.location = '#' + id;
                        let fields = document.querySelectorAll('.'+id);
                        let notfields = document.querySelectorAll('.bien-immo');
                        lis.forEach(function (el) {
                            el.classList.remove('is-active');
                            el.querySelector('a').classList.remove('has-text-white','has-text-weight-bold');
                        });
                        li.classList.add('is-active');
                        li.querySelector('a').classList.add('has-text-white','has-text-weight-bold');

                        if ( id === 'files' ){
                            document.querySelectorAll('.file').forEach(el => el.classList.remove('is-hidden'));
                            document.querySelector('div#files-liste').classList.remove('is-hidden');
                        }else {
                            document.querySelectorAll('.file').forEach(el => el.classList.add('is-hidden'));
                            document.querySelector('div#files-liste').classList.add('is-hidden');
                        }

                        if ( id === 'copropriete' ){
                            // btnToHide.forEach(el => el.classList.add('is-hidden'));
                        }else {
                            // btnToHide.forEach(el => el.classList.remove('is-hidden'));
                        }

                        if ( id === 'prestataire' ){
                            document.querySelectorAll('.prestataire').forEach(function (el) {
                                if (el.previousElementSibling && el.previousElementSibling.querySelector('i').classList.contains('fa-angle-down')){
                                    el.classList.add('is-hidden');
                                }
                            });
                        }else {
                            document.querySelectorAll('.prestataire').forEach(el => el.classList.add('is-hidden'));
                            if (document.querySelector('div#prestataires-liste')){
                                document.querySelector('div#prestataires-liste').classList.add('is-hidden');
                            }
                        }

                        notfields.forEach(notfield => notfield.classList.add('is-hidden'));
                        fields.forEach(field => field.classList.remove('is-hidden'));
                    }
                })
            })
        });
        {#     ##############################################     #}




        {#     ############  SCRIPT FOR EDIT QUITTANCE   #############     #}
        let btn = document.querySelectorAll('.form-edit-btn');
        btn.forEach(function (ancrage) {

            ancrage.addEventListener('click', function () {
                toogleReadonlyClass(ancrage);
                let text = this.querySelector('span.text');
                // ancrage.classList.toggle('is-white');
                // ancrage.classList.toggle('is-info');
                ancrage.classList.toggle('is-focused');
                if (!ancrage.classList.contains('is-focused')) {
                    // ancrage.setAttribute('title', 'Modifier les informations');
                    // ancrage.querySelector('i').classList.toggle('fa-edit');
                    // ancrage.querySelector('i').classList.toggle('fa-lock');
                    if (text){
                        text.innerText ='Modifier';
                    }
                }else {
                    // ancrage.querySelector('i').classList.toggle('fa-edit');
                    // ancrage.querySelector('i').classList.toggle('fa-lock');
                    // ancrage.setAttribute('title', 'Vérouiller les informations');
                    if (text){
                        text.innerText ='Vérouiller';
                    }
                }
                //ancrage.querySelector('i').classList.toggle('fa-unlock');
                //ancrage.querySelector('i').classList.toggle('fa-lock');
            });

        });
        {#     ######################################################     #}


        {#     ############  REDIRECT TO ANCRAGE   #############     #}
        let header = document.documentURI;
        header = header.split('#');
        header = header[header.length - 1];
        if (header){
            let ancrage = document.getElementById(header);
            if (ancrage){
                if (ancrage.nextElementSibling){
                    ancrage.nextElementSibling.click();
                }
            }
        }
        {#     ######################################################     #}


        {#     ############  CHANGE MAIL:TO LINK   #############     #}
         let mailInput = document.querySelectorAll('input[type=email]');
         mailInput.forEach(function (input) {
             window.onload = changeMailHref();
             input.addEventListener('change', changeMailHref );

             function changeMailHref() {
                 if (input && input.parentElement && input.parentElement.nextElementSibling){
                     let ancrage = input.parentElement.nextElementSibling.querySelector('a');
                     if (ancrage){
                         if (!input.value){
                             ancrage.setAttribute('disabled', true);
                         }else {
                             ancrage.removeAttribute('disabled');
                         }
                         ancrage.href = 'mailto:'+input.value;
                     }
                 }
             }
         });
        {#     ######################################################     #}


        {#     ############  CHANGE NUM:TO LINK   #############     #}
        let phoneInput = document.querySelectorAll('input[type=tel]');
        phoneInput.forEach(function (input) {
            window.onload = changePhoneHref();
            input.addEventListener('change', changePhoneHref );

            function changePhoneHref() {
                if (input.parentElement){
                    if (input.parentElement.nextElementSibling){
                        let ancrage = input.parentElement.nextElementSibling.querySelector('a');
                        if (ancrage){
                            if (!input.value){
                                ancrage.setAttribute('disabled', true);
                            }else {
                                ancrage.removeAttribute('disabled');
                            }
                            ancrage.href = 'tel:'+input.value;
                        }
                    }
                }

            }
        });
        {#     ######################################################     #}




        {#     ############  CHANGE NUM:TO LINK   #############     #}
        let cardHeaders = document.querySelectorAll('.card-header.is-extendable');
        cardHeaders.forEach(function (cardHeader) {
            cardHeader.addEventListener('click', function () {
                let cardFooter = cardHeader.parentElement.querySelector('.card-footer');
                let cardContent = cardHeader.parentElement.querySelector('.card-content');
                let arrow = cardHeader.querySelector('button i');
                if(cardFooter){
                    cardFooter.classList.toggle('is-hidden')
                }
                if(cardContent){
                    cardContent.classList.toggle('is-hidden')
                }
                if (arrow && arrow.classList.contains('fa-angle-down')){
                    arrow.classList.replace('fa-angle-down', 'fa-angle-up');
                } else if(arrow && arrow.classList.contains('fa-angle-up')) {
                    arrow.classList.replace('fa-angle-up', 'fa-angle-down');
                }

            })
        });
        {#     ######################################################     #}


        // SCRIPT CHANGE FILENAME
        let fileUpload = document.getElementById('documents_file');
        let inputFile = document.getElementById('documents_title');
        if (fileUpload){
            fileUpload.onchange = function () {
                inputFile.value = fileUpload.files[0].name;
            };
        }


        // SCRIPT OPEN MODAL
        let buttonsModal = document.querySelectorAll('.button-modal');
        buttonsModal.forEach(function (btn) {
            btn.addEventListener('click',function () {
                if (btn.nextElementSibling && btn.nextElementSibling.classList.contains('modal')){
                    btn.nextElementSibling.classList.toggle('is-active');
                }
            })
        });

        // SCRIPT CLOSE MODAL
        let modalClose = document.querySelectorAll('.modal-close, .modal-background');
        modalClose.forEach(function (closeBtn) {
            closeBtn.addEventListener('click', function () {
                closeBtn.parentElement.classList.remove('is-active')
            })
        });





        ////// SCRIPT REMOVE READONLY ON NEW ENTITY FORMS
        {% if 'new' in app.request.get('_route') %}
            let forms = document.querySelectorAll('form');
            forms.forEach(function (form) {
                let formInputs = form.querySelectorAll('.readonly');
                formInputs.forEach(function (input) {
                    input.classList.remove('readonly');
                    input.removeAttribute('readonly');
                    input.style.background = '#ffffff';
                    input.classList.remove('remove-mouse-events');
                })
            });

        {% endif %}


        ////// SCRIPT MAKE HOVERTEXT DATA (TEXT) ON GOOD POSITION FROM WIDTHSCREEN REFERENCE
        let widthScreenHalf = window.innerWidth / 2;
        let hovertexts = document.querySelectorAll('.hovertext');
        hovertexts.forEach(function(hovertext){
            let hovertextXPos = hovertext.getBoundingClientRect().x;
            if (hovertextXPos >= widthScreenHalf){
                hovertext.classList.add('hovertext-right');
            }else {
                hovertext.classList.add('hovertext-left');
            }
        });


        // POUR PERFECT SCROLLBAR
        let perfectScrollbarElements = document.querySelectorAll('.perfect-scrollbar');
        perfectScrollbarElements.forEach(function (el) {
            new PerfectScrollbar(el, {
                wheelPropagation: false,
                wheelSpeed: .3
            });
        });

        let perfectScrollbarVerticalElements = document.querySelectorAll('.perfect-scrollbar-vertical');
        perfectScrollbarVerticalElements.forEach(function (el) {
            new PerfectScrollbar(el, {
                suppressScrollX: true,
                wheelPropagation: false,
                wheelSpeed: .3
            });
        });

        let perfectScrollbarHorizontalElements = document.querySelectorAll('.perfect-scrollbar-horizontal');
        perfectScrollbarHorizontalElements.forEach(function (el) {
            new PerfectScrollbar(el, {
                suppressScrollY: true,
                wheelPropagation: false,
                wheelSpeed: .3
            });
        });


    //    POPOVER SNEAT
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })

    </script>


{% endblock %}

</html>
