<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Documents{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
{#        <link href="~bulma-calendar/dist/css/bulma-calendar.min.css" rel="stylesheet">#}
    {% endblock %}

{#    {% block javascripts %}#}
{#        {{ encore_entry_script_tags('app') }}#}
{#    {% endblock %}#}
</head>
<body class="has-navbar-fixed-top">

{#     Définission de la variable section en fonction de ce que contient le nom de la route dans laquel on se trouve     #}
{% set section = '' %}
{% if 'immo' in app.request.get('_route') or 'locataire' in app.request.get('_route') or 'quittance' in app.request.get('_route') or 'loyer' in app.request.get('_route') or 'prestataire' in app.request.get('_route') %}
    {% set section = 'immobilier' %}
{% elseif 'entreprenariat'in app.request.get('_route') or 'entreprise' in app.request.get('_route') or 'devis' in app.request.get('_route') or 'facture' in app.request.get('_route')  %}
    {% set section = 'entreprenariat' %}
{% endif %}

<div id="main-background" style="background: center / cover url({{ asset('build/images/design_main_background.1d5a3f08.png') }})">
    {% block main_background %}
        <div style="height: 100%;width: 100%;background: rgba(255,255,255,.2);">

        </div>
    {% endblock %}
</div>

{% block header %}
    {{ include('includes/header.html.twig') }}
{% endblock %}

<section class="is-flex is-flex-direction-column body-section">

    {% block second_header %}
        <div class="hero is-small is-relative">
            <div class="title-main-background is-absolute-top-0" style="z-index: -2;{% block title_main_background_img %}{% endblock %}"></div>
            <div class="title-main-background is-absolute-top-0" style="z-index: -1;{% block title_main_background_layer %}background: rgba(2, 18, 34, 0.9);{% endblock %}"></div>
            <div class="hero-body">
                <h1 class="title has-text-light has-text-centered">
            <span class="icon-text is-align-items-center is-justify-content-center">

                <span class="icon is-large">
                    {% if section == 'immobilier' %}
                        <i class="fas fa-city"></i>
                           {% elseif section == 'entreprenariat' %}
                        <i class="fas fa-user-tie"></i>
                           {% else %}
                        <i class="fas fa-mail-bulk"></i>
                    {% endif %}
                </span>

                <span>
                    {% block title_main %}<b>Outil d'aministration de vos documents</b>{% endblock %}
                </span>

            </span>
                </h1>
            </div>
        </div>
    {% endblock %}

    {% block nav_secondaire %}
        {% if section == 'immobilier' or section == 'entreprenariat' %}
            <div class="has-background-light custom-dropdown" style="position: sticky;top: 3.25rem;z-index: 5">
                <div class="is-hidden-desktop is-flex is-justify-content-center pointer-mouse-hover box-shadow-bulma px-1 py-1"  onclick="if (document.querySelector('#nav-secondaire').classList.contains('is-hidden-touch')){this.querySelector('i').classList.replace('fa-chevron-down','fa-chevron-up')}else{this.querySelector('i').classList.replace('fa-chevron-up','fa-chevron-down')};document.querySelector('#nav-secondaire').classList.toggle('is-hidden-touch')">
                    <span class="icon">
                        <i class="fas fa-lg fa-chevron-down"></i>
                    </span>
                </div>
                <div class="is-hidden-touch box-shadow-bulma has-background-light" id="nav-secondaire">
                    {% if section == 'immobilier' %}
                        {{ include('includes/subs_headers/sub_header_immobilier.html.twig') }}
                    {% elseif section == 'entreprenariat' %}
                        {{ include('includes/subs_headers/sub_header_entreprenariat.html.twig') }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endblock %}

    <div class="column is-justify-content-center is-align-items-center is-flex-direction-column">
        {% block body %}{% endblock %}
    </div>

</section>

{% block footer %}
    {{ include('includes/footer.html.twig') }}
{% endblock %}

    {{ include('includes/flash_message.html.twig') }}


{% block javascripts %}

    {#  BULMA CALENDAR  #}
{#    <script src="/node_modules/bulma-extensions/bulma-calendar/dist/bulma-calendar.min.js"></script>#}
{#    <script>#}
{#        // Initialize all input of date type.#}
{#        const calendars = bulmaCalendar.attach('[type="date"]', options);#}

{#        // Loop on each calendar initialized#}
{#        calendars.forEach(calendar => {#}
{#            // Add listener to select event#}
{#            calendar.on('select', date => {#}
{#                console.log(date);#}
{#            });#}
{#        });#}

{#        // To access to bulmaCalendar instance of an element#}
{#        const element = document.querySelector('#my-element');#}
{#        if (element) {#}
{#            // bulmaCalendar instance is available as element.bulmaCalendar#}
{#            element.bulmaCalendar.on('select', datepicker => {#}
{#                console.log(datepicker.data.value());#}
{#            });#}
{#        }#}
{#    </script>#}
{######################}

    <script>
        function ajaxEditFile(event){
            event.preventDefault();
            const url = this.href;

            axios.get(url).then(function (response) {
            })
        }
    </script>

    {#       SHOW ON HOVER       #}
    <script>

        let onHoverElements = document.querySelectorAll('.show-on-hover');
        onHoverElements.forEach(function(elem) {
            let targetToShow = elem.querySelectorAll('.show-on-hover-target');
                elem.addEventListener('mouseover', function () {
                    targetToShow.forEach(target => target.classList.add('show-on-hover-target-active'));
                });
                elem.addEventListener('mouseleave', function () {
                    targetToShow.forEach(target => target.classList.remove('show-on-hover-target-active'));
                });
            }
        )

    </script>

{#      REMOVE TIMER        #}
<script>
    function removeAfterTimer(element, time) {
        setTimeout(function () {
            element.style.transition = '5s';
            element.style.opacity = '0';
            setTimeout(function () {
                element.classList.add('is-hidden')
            },5000);
        },time + '000');
    }
</script>

    {#     REMOVE FLASH MSG BASE     #}
    <script>
        let objectToRemove = document.querySelectorAll('.remove-timer-5s');
        objectToRemove.forEach(elem => removeAfterTimer(elem, 10));
    </script>


{#     SCRIPT POUR AJOUT INFORMATION PRESTATIONS DEVIS     #}
<script>
    function addInfosPresta(elem) {
        let infosPrestaForms = document.getElementById('infos-prestations');

        for (i=0 ; i < infosPrestaForms.children.length ; i++){
            let child = infosPrestaForms.children[i];

            if (child.classList.contains('is-hidden')){
                if (i === infosPrestaForms.children.length - 1){
                    elem.classList.add('is-hidden')
                } else {
                    elem.classList.remove('is-hidden')
                }
                if (i > 0){
                    elem.nextElementSibling.classList.remove('is-hidden')
                } else {
                    elem.nextElementSibling.classList.add('is-hidden')
                }
                child.classList.toggle('is-hidden');
                break
            }
        }

    }

    function removeInfosPresta(elem) {
        let infosPrestaForms = document.getElementById('infos-prestations');

        for ( j=1 ; j <= infosPrestaForms.children.length ; j++){

            if (!infosPrestaForms.children[j].classList.contains('is-hidden')){

                if (j === infosPrestaForms.children.length - 1){
                    elem.classList.add('is-hidden');
                } else {
                    elem.classList.remove('is-hidden');
                }
                if (j >= 0){
                    elem.previousElementSibling.classList.remove('is-hidden');
                } else {
                    elem.previousElementSibling.classList.add('is-hidden');
                }

                infosPrestaForms.children[j].classList.toggle('is-hidden');
                break
            }
        }
    }
</script>


{#      CHANGE REDIRECTION FOR EDIT LOCATAIRE ON SELECT      #}
    <script>
        let selectLocataires = document.getElementById('bien_immo_locataires');
        let selectLogement = document.getElementById('locataire_logement');
        let redirectLink = document.getElementById('redirect-adapt-link');

        if (selectLocataires) {
            selectLocataires.addEventListener('change',event => adaptRedirectLink(event, '/locataire/'));
            let id = selectLocataires.value;
            window.onload = modifRedirectLink(id, '/locataire/');
        }
        if (selectLogement) {
            selectLogement.addEventListener('change',event => adaptRedirectLink(event, '/bien/immo/'));
            let id = selectLogement.value;
            window.onload = modifRedirectLink(id, '/bien/immo/');
        }


        function adaptRedirectLink(event, entity) {
            let id = event.target.value;
            modifRedirectLink(id, entity);
        }


        function modifRedirectLink(id, entity) {
            if (id){
                redirectLink.href = entity+id+'/edit/';
                redirectLink.removeAttribute('disabled', 'disabled');
            } else {
                redirectLink.href = '#';
                redirectLink.setAttribute('disabled', 'disabled');
            }
        }

    </script>

    {#     ##############################################     #}


{#   GOOGLE AUTOCOMPLETION MAPS   #}
{#
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqvNG1NYQw7OsCHCh9fhoZr_sd2jFUI0c&libraries=places&callback=initMap">
    </script>
#}
{####################################}

    {#    TOOTLGE DISABLED      #}
    <script>
        let disabledClass = document.querySelectorAll('.disabled');
        disabledClass.forEach(function (elem) {
            elem.setAttribute('disabled','disabled');
        });

        function toogleDisabledClass() {
            disabledClass.forEach(function (elem) {
                elem.toggleAttribute('disabled');
            });
        }
    </script>

    {#    TOOTLGE READ-ONLY      #}
    <script>
        let readonlyClass = document.querySelectorAll('.readonly');
        readonlyClass.forEach(function (elem) {
            elem.setAttribute('readonly','readonly');
            if (elem.hasAttribute('readonly')){
                elem.style.background = '#dbdbdb';
                //elem.classList.add('not-allowed-onhover');
                elem.classList.add('remove-mouse-events');
            }else {
                elem.style.background = '#ffffff';
                //elem.classList.remove('not-allowed-onhover');
                elem.classList.remove('remove-mouse-events');
            }
        });

        function toogleReadonlyClass() {
            readonlyClass.forEach(function (elem) {
                elem.toggleAttribute('readonly');
                if (elem.hasAttribute('readonly')){
                    elem.style.background = '#dbdbdb';
                    //elem.classList.add('not-allowed-onhover');
                    elem.classList.add('remove-mouse-events');
                }else {
                    elem.style.background = '#ffffff';
                    //elem.classList.remove('not-allowed-onhover');
                    elem.classList.remove('remove-mouse-events');
                }
            });
        }
    </script>


    {#     IS-LOADING     #}
    <script>
        function isLoading(el) {
            let btn = el.getElementsByClassName('btn-submit');
            if (btn[0]) {
                btn[0].classList.add('is-loading');
            }
        }
    </script>
    {######################}


    {#     NAVBAR-DROPDOWN     #}
    <script>
        document.addEventListener('click', function (event) {
            let navbarDropdown = document.querySelectorAll('div.navbar-item.has-dropdown, custom-dropdown');
            let navbarBurger = document.querySelectorAll('.navbar-burger');
            let sections = document.querySelectorAll('section');
            let navbarMenu = document.getElementById('navbarMenu');
            let target = event.target;

            // if (document.querySelector('#nav-secondaire').classList.contains('is-hidden-touch'))
            // {
            //     this.querySelector('i').classList.replace('fa-chevron-down','fa-chevron-up')
            // }else{
            //     this.querySelector('i').classList.replace('fa-chevron-up','fa-chevron-down')
            // };
            // document.querySelector('#nav-secondaire').classList.toggle('is-hidden-touch');

            navbarDropdown.forEach(function (drop) {
               if ( target.parentElement === drop || target === drop){
                   drop.classList.toggle('is-active')
               }else {
                   drop.classList.remove('is-active');
               }
            });

            navbarBurger.forEach(function (drop) {
                if ( target.parentElement === drop || target === drop){
                    navbarMenu.classList.toggle('is-active')
                }
            });

            sections.forEach(function (section) {
                section.addEventListener('click', function () {
                    navbarMenu.classList.remove('is-active');
                })
            })
        });

    </script>
    {######################}

{% endblock %}

</body>
</html>
