

<!doctype html>
<html lang="fr"
      class="dark-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block meta_description %}Gestion de votre patrimoine immobilier, gestion de contrat de location. Editeur de bail.{% endblock %}">
    {#   GOOGLE SEARCH CONSOLE   #}
    <meta name="google-site-verification" content="D5XUAWmzvuawqdA6K0L4XkQ8v1TlUvDjXizimZpukRo" />
    {# FAVICON #}
    <link rel="shortcut icon" href="{{ asset('img/favicon/KH-favicon.png') }}" type="image/x-icon">
    <title>KH immobilier | {% block title %}{% endblock %}</title>

    {#   DASHBOARD TEMPLATE   #}
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />
    <!-- Helpers -->
    <script src="{{ asset('vendor/js/helpers.js') }}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{{ asset('js/config.js') }}"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <!-- Icons. Uncomment required icon fonts -->
        <link rel="stylesheet" href="{{ asset('vendor/fonts/boxicons.css') }}" />
        <!-- Core CSS -->
        <link rel="stylesheet" href="{{ asset('vendor/css/core.css') }}" class="template-customizer-core-css" />
        <link rel="stylesheet" href="{{ asset('vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />
        <link rel="stylesheet" href="{{ asset('css/demo.css') }}" />
        <!-- Vendors CSS -->
        <link rel="stylesheet" href="{{ asset('vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />
        <!-- Page CSS -->
        <!-- Page -->
        <link rel="stylesheet" href="{{ asset('vendor/css/pages/page-auth.css') }}" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!-- DATATABLE STYLESHEET -->
        <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/b-2.4.2/fh-3.4.0/r-2.5.0/sb-1.5.0/sp-2.2.0/sl-1.7.0/datatables.min.css" rel="stylesheet">

    {% endblock %}

{#    {% block javascripts %}#}
{#        {{ encore_entry_script_tags('app') }}#}
{#    {% endblock %}#}

</head>

{#   VARIABLES TWIG   #}
    {# Exclusion des route #}
    {% set routes_exclude_for_aside = ['app_login','app_register','app_send_mail','reset_password'] %}

    {# Active routes for aside nav #}
    {% set route = app.request.get('_route') %}

    {#     Définission de la variable section en fonction de ce que contient le nom de la route dans laquel on se trouve     #}
    {% set section = '' %}
    {% if route in ['immo','locataire','quittance','loyer','prestataire'] %}
        {% set section = 'Immobilier' %}
    {% elseif 'entreprenariat'in app.request.get('_route') or 'entreprise' in app.request.get('_route') or 'devis' in app.request.get('_route') or 'facture' in app.request.get('_route')  %}
        {% set section = 'Entreprenariat' %}
    {% elseif 'user' in app.request.get('_route') or 'register' in app.request.get('_route') or 'login' in app.request.get('_route') or 'change_password' in app.request.get('_route')  %}
        {% set section = 'Gestionnaire' %}
    {% endif %}

    {% if route == 'locataire_new' %}
        {% set title_txt = 'Création un locataire' %}
        {% set btn_submit_txt = 'Valider' %}
    {% elseif route == 'locataire_edit' %}
        {% set title_txt = locataire %}
        {% set btn_submit_txt = 'Enregistrer les modifications' %}
    {% elseif route == 'bien_immo_new' %}
        {% set title_txt = 'Création d\'un bien immobilier' %}
        {% set btn_submit_txt = 'Valider' %}
    {% elseif route == 'bien_immo_edit' %}
        {% set title_txt = bien_immo.adresse %}
        {% set btn_submit_txt = 'Enregistrer les modifications' %}
    {% endif %}

<body>

{{ include('includes/flash_message.html.twig') }}

    <div {% if app.request.get('_route') not in routes_exclude_for_aside %}class="layout-wrapper layout-content-navbar"{% endif %}>
        <div {% if app.request.get('_route') not in routes_exclude_for_aside %}class="layout-container"{% endif %}>

{#     NAVIGATION ASIDE       #}
            {% block nav_aside %}{{ include('includes/menus/aside_menu.html.twig') }}{% endblock %}

            <!-- Layout container -->
            <div {% if app.request.get('_route') not in routes_exclude_for_aside %}class="layout-page"{% endif %}>
                <!-- Navbar -->

                {% if app.request.get('_route') not in routes_exclude_for_aside %}
                <nav class="layout-navbar d-xl-none container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input
                                        type="text"
                                        class="form-control border-0 shadow-none"
                                        placeholder="Search..."
                                        aria-label="Search..."
                                />
                            </div>
                        </div>
                        -->

                    </div>
                </nav>
                <!-- / Navbar -->
                {% endif %}

                <!-- Content wrapper -->
                <div class="content-wrapper">
{#  //////////////////       BODY       /////////////////////////  #}
                    {% block body %}{% endblock %}

                    {% if app.request.get('_route') not in routes_exclude_for_aside %}
                    <!-- Footer -->
                    {{ include('includes/menus/footer.html.twig') }}
                    <!-- / Footer -->
                    {% endif %}

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
</body>



<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="{{ asset('vendor/libs/jquery/jquery.js') }}"></script>
<script src="{{ asset('vendor/libs/popper/popper.js') }}"></script>
<script src="{{ asset('vendor/js/bootstrap.js') }}"></script>
<script src="{{ asset('vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
<script src="{{ asset('vendor/js/menu.js') }}"></script>
<!-- endbuild -->
<!-- Vendors JS -->
<script src="{{ asset('vendor/libs/apex-charts/apexcharts.js') }}"></script>
<!-- Main JS -->
<script src="{{ asset('js/main.js') }}"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

{#   CDN JQUERY   #}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

{#   CDN DATATABLES   #}
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/b-2.4.2/fh-3.4.0/r-2.5.0/sb-1.5.0/sp-2.2.0/sl-1.7.0/datatables.min.js"></script>

{#   CDN AXIOS AJAX   #}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% block javascripts %}

    <script>
        let datatables = $('.datatable').DataTable();
    </script>

    {{ include('includes/js/js_with_twig_func.html.twig') }}

    <script>
        function submitForms(){
            forms = document.querySelectorAll('.form-to-submit');
            forms.forEach(function (form) {
                form.submit();
            });
        }
    </script>

{% endblock %}

</html>
