<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Documents{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

{#    {% block javascripts %}#}
{#        {{ encore_entry_script_tags('app') }}#}
{#    {% endblock %}#}
</head>
<body class="has-navbar-fixed-top">

<section class="">

{#    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}#}

    {{ include('includes/header.html.twig') }}

    <div class="hero is-small is-dark is-bold">
        <div class="hero-body">
            <h1 class="title has-text-centered">
                {% block title_main %}Outil d'aministration de vos documents{% endblock %}
            </h1>
        </div>
    </div>

    {% block nav_secondaire %}
        {% if 'immo' or 'locataire' or 'quittance' or 'loyer' in app.request.get('_route') %}
            {{ include('includes/sub_header_immo.html.twig') }}
        {% elseif 'entreprenariat' or 'entreprise' in app.request.get('_route')  %}
            {{ include('includes/sub_header_entreprenariat.html.twig') }}
        {% endif %}
    {% endblock %}

    {% block body %}{% endblock %}

</section>

    {{ include('includes/flash_message.html.twig') }}


    <script>
        function ajaxEditFile(event){
            event.preventDefault();
            const url = this.href;

            axios.get(url).then(function (response) {
            })
        }
    </script>


</body>
</html>
