<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block meta_description %}Gestion de votre patrimoine immobilier, gestion de contrat de location. Editeur de bail.{% endblock %}">
    <title>edit-word | {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
{#        <link href="~bulma-calendar/dist/css/bulma-calendar.min.css" rel="stylesheet">#}
    {% endblock %}

{#    {% block javascripts %}#}
{#        {{ encore_entry_script_tags('app') }}#}
{#    {% endblock %}#}

</head>
<body class="has-navbar-fixed-top">

{#     Définission de la variable section en fonction de ce que contient le nom de la route dans laquel on se trouve     #}
{% set section = '' %}
{% if 'immo' in app.request.get('_route') or 'locataire' in app.request.get('_route') or 'quittance' in app.request.get('_route') or 'loyer' in app.request.get('_route') or 'prestataire' in app.request.get('_route') %}
    {% set section = 'immobilier' %}
{% elseif 'entreprenariat'in app.request.get('_route') or 'entreprise' in app.request.get('_route') or 'devis' in app.request.get('_route') or 'facture' in app.request.get('_route')  %}
    {% set section = 'entreprenariat' %}
{% elseif 'user' in app.request.get('_route') or 'register' in app.request.get('_route') or 'login' in app.request.get('_route') or 'change_password' in app.request.get('_route')  %}
    {% set section = 'gestionnaire' %}
{% endif %}

<div id="main-background" style="background: center / contain no-repeat {% if section == 'immobilier' %}url({{ asset('build/images/houses.2ee42fc3.png') }});opacity:.2{% else %}url({{ asset('build/images/design_main_background.1d5a3f08.png') }}){% endif %};filter: grayscale(100%);-webkit-filter: grayscale(100%);">
    {% block main_background %}
        <div style="height: 100%;width: 100%;background: rgba(255,255,255,.5);">

        </div>
    {% endblock %}
</div>

{% block header %}
    {{ include('includes/header.html.twig') }}
{% endblock %}

<section class="is-flex is-flex-direction-column body-section">

    {% block second_header %}
        <div class="hero is-small is-relative">
            <div class="title-main-background is-absolute-top-0" style="z-index: -2;{% block title_main_background_img %}{% endblock %}"></div>
            <div class="title-main-background is-absolute-top-0" style="z-index: -1;{% block title_main_background_layer %}background: rgba(2, 18, 34, 0.9);{% endblock %}"></div>
            <div class="hero-body">
                <h1 class="title has-text-light has-text-centered">
            <span class="icon-text is-align-items-center is-justify-content-center">

                <span class="icon is-large">
                    {% if section == 'immobilier' %}
                        <i class="fas fa-city"></i>
                    {% elseif section == 'entreprenariat' %}
                        <i class="fas fa-user-tie"></i>
                    {% elseif section == 'gestionnaire' %}
                        {% if app.request.get('_route') == 'change_password' %}
                            <i class="fas fa-user-shield"></i>
                        {% else %}
                            <i class="fas fa-user-cog"></i>
                        {% endif %}
                    {% else %}
                        <i class="fas fa-mail-bulk"></i>
                    {% endif %}
                </span>

                <span>
                    {% block title_main %}<b>Outil d'aministration de vos documents</b>{% endblock %}
                </span>

            </span>
                </h1>
            </div>
        </div>
    {% endblock %}

{#    {% block nav_secondaire %}#}
{#        {% if section == 'immobilier' or section == 'entreprenariat' %}#}
{#            <div class="has-background-light custom-dropdown" style="position: sticky;top: 3.25rem;z-index: 5">#}
{#                <div class="is-hidden-desktop is-flex is-justify-content-center pointer-mouse-hover box-shadow-bulma px-1 py-1"  onclick="if (document.querySelector('#nav-secondaire').classList.contains('is-hidden-touch')){this.querySelector('i').classList.replace('fa-chevron-down','fa-chevron-up')}else{this.querySelector('i').classList.replace('fa-chevron-up','fa-chevron-down')};document.querySelector('#nav-secondaire').classList.toggle('is-hidden-touch')">#}
{#                    <span class="icon">#}
{#                        <i class="fas fa-lg fa-chevron-down"></i>#}
{#                    </span>#}
{#                </div>#}
{#                <div class="is-hidden-touch box-shadow-bulma has-background-light" id="nav-secondaire">#}
{#                    {% if section == 'immobilier' %}#}
{#                        {{ include('includes/subs_headers/sub_header_immobilier.html.twig') }}#}
{#                    {% elseif section == 'entreprenariat' %}#}
{#                        {{ include('includes/subs_headers/sub_header_entreprenariat.html.twig') }}#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}
{#    {% endblock %}#}

    <div class="column">
        {% block body %}{% endblock %}
    </div>

</section>

{% block footer %}
    {{ include('includes/footer.html.twig') }}
{% endblock %}

    {{ include('includes/flash_message.html.twig') }}


{% block javascripts %}

    {#  BULMA CALENDAR  #}
{#    <script src="/node_modules/bulma-extensions/bulma-calendar/dist/bulma-calendar.min.js"></script>#}
{#    <script>#}
{#        // Initialize all input of date type.#}
{#        const calendars = bulmaCalendar.attach('[type="date"]', options);#}

{#        // Loop on each calendar initialized#}
{#        calendars.forEach(calendar => {#}
{#            // Add listener to select event#}
{#            calendar.on('select', date => {#}
{#                console.log(date);#}
{#            });#}
{#        });#}

{#        // To access to bulmaCalendar instance of an element#}
{#        const element = document.querySelector('#my-element');#}
{#        if (element) {#}
{#            // bulmaCalendar instance is available as element.bulmaCalendar#}
{#            element.bulmaCalendar.on('select', datepicker => {#}
{#                console.log(datepicker.data.value());#}
{#            });#}
{#        }#}
{#    </script>#}
{######################}

    {#     SCRIPT POUR GOOGLE MAPS / PLACE AUTOCOMPLETION    #}
    {#
        <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqvNG1NYQw7OsCHCh9fhoZr_sd2jFUI0c&libraries=places&callback=initMap">
        </script>
    #}
    {##############################################}

    <script>

        {#       SCRIPT AJAX       #}

        //function ajaxEditFile(event){
        //    event.preventDefault();
        //    const url = this.href;

        //    axios.get(url).then(function (response) {
        //    })
        //}

        {#     ##############################################     #}



        {#       SHOW ON HOVER       #}

        let onHoverElements = document.querySelectorAll('.show-on-hover');
        onHoverElements.forEach(function(elem) {
            let targetToShow = elem.querySelectorAll('.show-on-hover-target');
                elem.addEventListener('mouseover', function () {
                    targetToShow.forEach(target => target.classList.add('show-on-hover-target-active'));
                });
                elem.addEventListener('mouseleave', function () {
                    targetToShow.forEach(target => target.classList.remove('show-on-hover-target-active'));
                });
            }
        );

        {#     ##############################################     #}




        {#      REMOVE TIMER        #}

        function removeAfterTimer(element, time) {
            setTimeout(function () {
                element.style.transition = '5s';
                element.style.opacity = '0';
                setTimeout(function () {
                    element.classList.add('is-hidden')
                },5000);
            },time + '000');
        }

        {#     ##############################################     #}


        {#     REMOVE FLASH MSG BASE     #}

        let objectToRemove = document.querySelectorAll('.remove-timer-5s');
        objectToRemove.forEach(elem => removeAfterTimer(elem, 10));

        {#     ##############################################     #}



        {#     SCRIPTS POUR AJOUT INFORMATION PRESTATIONS DEVIS     #}

        function addInfosPresta(elem) {
            let infosPrestaForms = document.getElementById('infos-prestations');

            for (i=0 ; i < infosPrestaForms.children.length ; i++){
                let child = infosPrestaForms.children[i];

                if (child.classList.contains('is-hidden')){
                    if (i === infosPrestaForms.children.length - 1){
                        elem.classList.add('is-hidden')
                    } else {
                        elem.classList.remove('is-hidden')
                    }
                    if (i > 0){
                        elem.nextElementSibling.classList.remove('is-hidden')
                    } else {
                        elem.nextElementSibling.classList.add('is-hidden')
                    }
                    child.classList.toggle('is-hidden');
                    break
                }
            }

        }

        function removeInfosPresta(elem) {
            let infosPrestaForms = document.getElementById('infos-prestations');

            for ( j=1 ; j <= infosPrestaForms.children.length ; j++){

                if (!infosPrestaForms.children[j].classList.contains('is-hidden')){

                    if (j === infosPrestaForms.children.length - 1){
                        elem.classList.add('is-hidden');
                    } else {
                        elem.classList.remove('is-hidden');
                    }
                    if (j >= 0){
                        elem.previousElementSibling.classList.remove('is-hidden');
                    } else {
                        elem.previousElementSibling.classList.add('is-hidden');
                    }

                    infosPrestaForms.children[j].classList.toggle('is-hidden');
                    break
                }
            }
        }

        {#     ##############################################     #}



        {#      CHANGE REDIRECTION FOR EDIT LOCATAIRE ON SELECT      #}

        let selectLocataires = document.getElementById('bien_immo_locataires');
        let selectLogement = document.getElementById('locataire_logement');
        let redirectLink = document.getElementById('redirect-adapt-link');

        if (selectLocataires) {
            selectLocataires.addEventListener('change',event => adaptRedirectLink(event, '/locataire/'));
            let id = selectLocataires.value;
            window.onload = modifRedirectLink(id, '/locataire/');
        }
        if (selectLogement) {
            selectLogement.addEventListener('change',event => adaptRedirectLink(event, '/bien/immo/'));
            let id = selectLogement.value;
            window.onload = modifRedirectLink(id, '/bien/immo/');
        }


        function adaptRedirectLink(event, entity) {
            let id = event.target.value;
            modifRedirectLink(id, entity);
        }


        function modifRedirectLink(id, entity) {
            if (id){
                let endingUrl = '';
                if (entity === '/bien/immo/') {
                    endingUrl = '/edit/#logement';
                } else if (entity === '/locataire/') {
                    endingUrl = '/edit/#locataire';
                }else {
                    endingUrl = '/edit/';
                }
                redirectLink.href = entity+id+endingUrl;
                redirectLink.removeAttribute('disabled', 'disabled');
            } else {
                redirectLink.href = '#';
                redirectLink.setAttribute('disabled', 'disabled');
            }
        }

        {#     ##############################################     #}




        {#    TOOTLGE DISABLED      #}

        let disabledClass = document.querySelectorAll('.disabled');
        disabledClass.forEach(function (elem) {
            elem.setAttribute('disabled','disabled');
        });

        function toogleDisabledClass() {
            disabledClass.forEach(function (elem) {
                elem.toggleAttribute('disabled');
            });
        }


        {#    TOOTLGE READ-ONLY      #}

        let readonlyClass = document.querySelectorAll('.readonly');
        readonlyClass.forEach(function (elem) {
            elem.setAttribute('readonly','readonly');
            if (elem.hasAttribute('readonly')){
                elem.style.background = '#dbdbdb';
                elem.classList.add('remove-mouse-events');
            }else {
                elem.style.background = '#ffffff';
                elem.classList.remove('remove-mouse-events');
            }
        });

        function toogleReadonlyClass() {
            readonlyClass.forEach(function (elem) {
                elem.toggleAttribute('readonly');
                if (elem.hasAttribute('readonly')){
                    elem.style.background = '#dbdbdb';
                    elem.classList.add('remove-mouse-events');
                }else {
                    elem.style.background = '#ffffff';
                    elem.classList.remove('remove-mouse-events');
                }
            });
        }

        {#     ##############################################     #}



        {#     IS-LOADING     #}

        function isLoading(el) {
            let btn = el.getElementsByClassName('btn-submit');
            if (btn[0]) {
                btn[0].classList.add('is-loading');
            }
        }

        {#     ##############################################     #}


        {#     NAVBAR-DROPDOWN     #}

        document.addEventListener('click', function (event) {
            let navbarDropdown = document.querySelectorAll('div.navbar-item.has-dropdown, div.navbar-item.has-dropdown > *, div.navbar-item.has-dropdown > * > *, custom-dropdown');
            let navbarBurger = document.querySelectorAll('.navbar-burger');
            let sections = document.querySelectorAll('section');
            let navbarMenu = document.getElementById('navbarMenu');
            let target = event.target;

            navbarDropdown.forEach(function (drop) {
                if (Array.from(navbarDropdown).find(node => node === target)) {
                    drop.classList.toggle('is-active');
                }else {
                    drop.classList.remove('is-active');
                }
            });

            navbarBurger.forEach(function (drop) {
                if ( target.parentElement === drop || target === drop){
                    navbarMenu.classList.toggle('is-active')
                }
            });

            sections.forEach(function (section) {
                section.addEventListener('click', function () {
                    navbarMenu.classList.remove('is-active');
                })
            })
        });

        {#     ##############################################     #}



        {#     ############   SCRIPT FOR TABS BIEN_IMMO   #############     #}

        let tabs = document.querySelectorAll('.tabs').forEach(function (elem) {
            let lis = elem.querySelectorAll('li');
            lis.forEach(function (li) {
                li.addEventListener('click', function () {
                    let id = li.previousElementSibling.id;
                    window.location = '#' + id;
                    let fields = document.querySelectorAll('.'+id);
                    let notfields = document.querySelectorAll('.bien-immo');
                    lis.forEach(el => el.classList.remove('is-active'));
                    li.classList.add('is-active');

                    if ( id === 'files' ){
                        document.querySelectorAll('.file').forEach(el => el.classList.remove('is-hidden'));
                        document.querySelector('div#files-liste').classList.remove('is-hidden');
                    }else {
                        document.querySelectorAll('.file').forEach(el => el.classList.add('is-hidden'));
                        document.querySelector('div#files-liste').classList.add('is-hidden');
                    }

                    if ( id === 'copropriete' ){
                        // btnToHide.forEach(el => el.classList.add('is-hidden'));
                    }else {
                        // btnToHide.forEach(el => el.classList.remove('is-hidden'));
                    }

                    if ( id === 'prestataire' ){
                        document.querySelectorAll('.prestataire').forEach(function (el) {
                            if (el.previousElementSibling && el.previousElementSibling.querySelector('i').classList.contains('fa-angle-down')){
                                el.classList.add('is-hidden');
                            }
                        });
                    }else {
                        document.querySelectorAll('.prestataire').forEach(el => el.classList.add('is-hidden'));
                        if (document.querySelector('div#prestataires-liste')){
                            document.querySelector('div#prestataires-liste').classList.add('is-hidden');
                        }
                    }

                    notfields.forEach(notfield => notfield.classList.add('is-hidden'));
                    fields.forEach(field => field.classList.remove('is-hidden'));
                })
            })
        });

        {#     ##############################################     #}




        {#     ############  SCRIPT FOR EDIT QUITTANCE   #############     #}

        let btn = document.querySelectorAll('.quittance-lock-btn');
        btn.forEach(function (ancrage) {

            ancrage.addEventListener('click', function () {
                toogleReadonlyClass();
                ancrage.classList.toggle('is-danger');
                if (ancrage.querySelector('i').classList.contains('fa-unlock')) {
                    ancrage.setAttribute('title', 'Modifier les informations de la quittance');
                }else {
                    ancrage.setAttribute('title', 'Vérouiler les informations de la quittance');
                }
                ancrage.querySelector('i').classList.toggle('fa-unlock');
                ancrage.querySelector('i').classList.toggle('fa-lock');
            });

        });

        {#     ######################################################     #}


        {#     ############  REDIRECT TO ANCRAGE   #############     #}

        let header = document.documentURI;
        header = header.split('#');
        header = header[header.length - 1];
        if (header){
            let ancrage = document.getElementById(header);
            if (ancrage){
                ancrage.nextElementSibling.click();
            }
        }

        {#     ######################################################     #}


        {#     ############  CHANGE MAIL:TO LINK   #############     #}
         let mailInput = document.querySelectorAll('input[type=email]');
         mailInput.forEach(function (input) {
             window.onload = changeMailHref();
             input.addEventListener('change', changeMailHref );

             function changeMailHref() {
                 if (input.parentElement){
                     let ancrage = input.parentElement.nextElementSibling.querySelector('a');
                     if (ancrage){
                         if (!input.value){
                             ancrage.setAttribute('disabled', true);
                         }else {
                             ancrage.removeAttribute('disabled');
                         }
                         ancrage.href = 'mailto:'+input.value;
                     }
                 }
             }
         });

        let phoneInput = document.querySelectorAll('input[type=tel]');
        phoneInput.forEach(function (input) {
            window.onload = changePhoneHref();
            input.addEventListener('change', changePhoneHref );

            function changePhoneHref() {
                if (input.parentElement){
                    let ancrage = input.parentElement.nextElementSibling.querySelector('a');
                    if (ancrage){
                        if (!input.value){
                            ancrage.setAttribute('disabled', true);
                        }else {
                            ancrage.removeAttribute('disabled');
                        }
                        ancrage.href = 'tel:'+input.value;
                    }
                }

            }
        });

        {#     ######################################################     #}

    </script>


{% endblock %}

</body>
</html>
