        <div class="card">
            {#
            <img src="" class="card-img-top" alt="...">
            #}
            <div class="card-body">
                <h5 class="card-title">
                    Détails du Frais
                </h5>
                <h4 class="card-text">

                    <span class="badge bg-label-info"
                          data-bs-toggle="tooltip"
                          data-bs-offset="0,4"
                          data-bs-placement="top"
                          data-bs-html="true"
                          title="<small>Intitulé du frais</small>"
                    >
                        {{ frais.name }}
                    </span>

                </h4>
            </div>
            <ul class="list-group list-group-flush">

                <li class="list-group-item"
                    data-bs-toggle="tooltip"
                    data-bs-offset="0,4"
                    data-bs-placement="top"
                    data-bs-html="true"
                    title="<small>Montant du frais</small>"
                >
                    <span class="badge badge-center rounded-pill bg-secondary me-2">
                        <i class='bx bx-money'></i>
                    </span>
                    <span class="badge bg-label-success">
                        {{ frais.quantity }}€
                    </span>
                </li>

                <li class="list-group-item"
                    data-bs-toggle="tooltip"
                    data-bs-offset="0,4"
                    data-bs-placement="top"
                    data-bs-html="true"
                    title="<small>Date du payement</small>"
                >
                    <span class="badge badge-center rounded-pill bg-secondary me-2">
                        <i class='bx bxs-calendar-event'></i>
                    </span>
                    {% if frais.date %}
                        <span class="badge bg-label-success">
                            {{ frais.date|format_date('short') }}
                        </span>
                    {% else %}
                        <span class="badge bg-label-secondary"
                              data-bs-toggle="tooltip"
                              data-bs-offset="0,4"
                              data-bs-placement="top"
                              data-bs-html="true"
                              title="<small>Non communiqué</small>"
                        >
                            N/C
                        </span>
                    {% endif %}
                </li>


                <li class="list-group-item"
                    data-bs-toggle="tooltip"
                    data-bs-offset="0,4"
                    data-bs-placement="top"
                    data-bs-html="true"
                    title="<small>Mensualisation</small>"
                >
                    <span class="badge badge-center rounded-pill bg-secondary me-2">
                        <i class='bx bx-revision'></i>
                    </span>
                    {% if frais.mensuel %}
                        <span class="badge bg-label-success"
                              data-bs-toggle="tooltip"
                              data-bs-offset="0,14"
                              data-bs-placement="top"
                              data-bs-trigger="hover focus"
                              data-bs-html="true"
                              title="<small>Frais mensualisé</small>"
                        >
                            Oui
                        </span>
                    {% else %}
                        <span class="badge bg-label-danger"
                              data-bs-toggle="tooltip"
                              data-bs-offset="0,14"
                              data-bs-placement="top"
                              data-bs-trigger="hover focus"
                              data-bs-html="true"
                              title="<small>Frais non mensualisé</small>"
                        >
                            Non
                        </span>
                    {% endif %}
                </li>

                <li class="list-group-item"
                    data-bs-toggle="tooltip"
                    data-bs-offset="0,4"
                    data-bs-placement="top"
                    data-bs-html="true"
                    title="<small>Bénéfice/Déficit</small>"
                >
                    <span class="badge badge-center rounded-pill bg-secondary me-2">
                        <i class='bx bx-sort-alt-2'></i>
                    </span>
                    {% if frais.benefice %}
                        <span class="badge bg-label-success"
                              data-bs-toggle="tooltip"
                              data-bs-offset="0,14"
                              data-bs-placement="top"
                              data-bs-trigger="hover focus"
                              data-bs-html="true"
                              title="<small>Frais en bénéfice</small>"
                        >
                            Bénéfice
                        </span>
                    {% else %}
                        <span class="badge bg-label-danger"
                              data-bs-toggle="tooltip"
                              data-bs-offset="0,14"
                              data-bs-placement="top"
                              data-bs-trigger="hover focus"
                              data-bs-html="true"
                              title="<small>Frais en déficit</small>"
                        >
                            Déficit
                        </span>
                    {% endif %}
                </li>

            </ul>

            <div class="card-body">
                <div class="is-flex is-justify-content-space-between">

                    <a href="{{ path('frais_edit', {'id': frais.id}) }}"
                       class="col-4 btn btn-icon rounded-pill btn-outline-primary is-flex align-items-center justify-content-center"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-placement="top"
                       data-bs-html="true"
                       title="<small>Modifier le frais</small>"
                    >
                        <i class='bx bxs-edit-alt'></i>
                    </a>

                    <a href="{{ path('frais_index') }}"
                       class="col-4 btn btn-icon rounded-pill btn-outline-primary is-flex align-items-center justify-content-center"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-placement="top"
                       data-bs-html="true"
                       title="<small>Voir tout mes frais</small>"
                    >
                        <i class='bx bx-list-ul'></i>
                    </a>

                    <a href="{{ path('frais_delete', {'id': frais.id}) }}" class="col-4 btn btn-icon rounded-pill btn-danger is-flex align-items-center justify-content-center"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-placement="top"
                       data-bs-html="true"
                       title="<small>Supprimer le frais</small>"
                       onclick="return confirm('Etes-vous sur de vouloir supprimer définitivement ce frais?');"
                    >
                        <i class='bx bxs-trash'></i>
                    </a>
                </div>
            </div>
        </div>

