{% if all_frais|length == 0 %}
    <div class="is-flex-desktop is-flex-direction-column is-align-items-center">
        <div class="column is-flex is-justify-content-center is-align-items-center is-flex-direction-column box-shadow-bulma has-background-info border-radius-2px">
                    <span class="icon-text px-3 py-2 has-text-light is-flex is-justify-content-center is-align-items-center " style="line-height: normal">
                        <span class="icon">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span>
                            <b>Vous n'avez aucun Frais enregistrés</b>
                        </span>
                    </span>
            <a href="{{ path('frais_new') }}" class="button is-small is-info is-light">Ajouter un frais</a>
        </div>
    </div>
{% else %}
    <div class="mb-2 is-flex is-justify-content-end">
        <a href="{{ path('frais_new') }}" class="btn btn-sm btn-outline-primary is-flex align-items-center">
            <span>
                Ajouter un frais
            </span>
        </a>
    </div>
            <div class="card p-3 perfect-scrollbar table-responsive">
                <table class="table table-sm table-hover dataTable">
                    <caption>
                        <small>
                            Vous avez un total de {{ all_frais|length }} Frais enregistrés
                        </small>
                    </caption>
                    <thead>
                    <tr class="">
                        <th>
                            Libelle
                        </th>

                        <th>
                            Montant
                        </th>

                        <th>
                            Date
                        </th>

                        <th>
                            Mensualisation
                        </th>

                        <th>
                            Bénéfice/Déficit
                        </th>

                        <th>
                            Bien immo
                        </th>

                        <th>
                            Actions
                        </th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for frais in all_frais %}
                        <tr class="">

                            <td title="{{ frais.name }}" class="nowrap-text">
                                {% if frais.name %}
                                    <span class="badge bg-label-primary"
                                          data-bs-toggle="tooltip"
                                          data-bs-offset="0,14"
                                          data-bs-placement="top"
                                          data-bs-trigger="hover focus"
                                          data-bs-html="true"
                                          title="<small>{{ frais.name }}</small>"
                                    >
                                        {{ frais.name|u.truncate(15, '...') }}
                                    </span>
                                {% else %}
                                    <span class="badge bg-label-secondary"
                                          data-bs-toggle="tooltip"
                                          data-bs-offset="0,14"
                                          data-bs-placement="top"
                                          data-bs-trigger="hover focus"
                                          data-bs-html="true"
                                          title="<small>Non communiqué</small>"
                                    >
                                    N/C
                                    </span>
                                {% endif %}
                            </td>

                            <td title="{{ frais.quantity }}">
                                <small class="nowrap-text">
                                    {{ frais.quantity }}€
                                </small>
                            </td>

                            {% if frais.date %}
                                <td title="{{ frais.date|format_date('short') }}">{{ frais.date|format_date('short') }}</td>
                            {% else %}
                                <td>
                                    <span class="badge bg-label-secondary"
                                          data-bs-toggle="tooltip"
                                          data-bs-offset="0,14"
                                          data-bs-placement="top"
                                          data-bs-trigger="hover focus"
                                          data-bs-html="true"
                                          title="<small>Non communiqué</small>"
                                    >
                                    N/C
                                    </span>
                                </td>
                            {% endif %}

                            {% if frais.mensuel %}
                                <td>
                                    <span class="badge bg-label-success"
                                          data-bs-toggle="tooltip"
                                          data-bs-offset="0,14"
                                          data-bs-placement="top"
                                          data-bs-trigger="hover focus"
                                          data-bs-html="true"
                                          title="<small>Frais mensualisé</small>"
                                    >
                                    Oui
                                    </span>
                                </td>
                            {% else %}
                                <td>
                                    <span class="badge bg-label-danger"
                                          data-bs-toggle="tooltip"
                                          data-bs-offset="0,14"
                                          data-bs-placement="top"
                                          data-bs-trigger="hover focus"
                                          data-bs-html="true"
                                          title="<small>Frais non mensualisé</small>"
                                    >
                                    Non
                                    </span>
                                </td>
                            {% endif %}

                            {% if frais.benefice %}
                                <td>
                                    <span class="badge bg-label-success"
                                          data-bs-toggle="tooltip"
                                          data-bs-offset="0,14"
                                          data-bs-placement="top"
                                          data-bs-trigger="hover focus"
                                          data-bs-html="true"
                                          title="<small>Frais en bénéfice</small>"
                                    >
                                    Bénéfice
                                    </span>
                                </td>
                            {% else %}
                                <td>
                                    <span class="badge bg-label-danger"
                                          data-bs-toggle="tooltip"
                                          data-bs-offset="0,14"
                                          data-bs-placement="top"
                                          data-bs-trigger="hover focus"
                                          data-bs-html="true"
                                          title="<small>Frais en déficit</small>"
                                    >
                                    Déficit
                                    </span>
                                </td>
                            {% endif %}

                            <td>
                                {% if frais.bienimmo is not empty %}
                                    <a class="btn btn-sm btn-outline-primary"
                                       href="{{ path('bien_immo_edit', {'id': frais.bienimmo.id}) }}"
                                       data-bs-toggle="tooltip"
                                       data-bs-offset="0,14"
                                       data-bs-placement="top"
                                       data-bs-trigger="hover focus"
                                       data-bs-html="true"
                                       title="<small>Voir les détails du bien {{ frais.bienimmo }}</small>"
                                    >
                                        <span>{{ frais.bienimmo }}</span>
                                    </a>
                                {% else %}
                                    <span class="badge bg-label-secondary"
                                          data-bs-toggle="tooltip"
                                          data-bs-offset="0,14"
                                          data-bs-placement="top"
                                          data-bs-trigger="hover focus"
                                          data-bs-html="true"
                                          title="<small>Frais non affilié à un logement</small>"
                                    >
                                    Non affilié
                                    </span>
                                {% endif %}
                            </td>

                            <td>
                                <div class="btn-group btn-group-xs" role="group" aria-label="Basic radio toggle button group">

                                    <a type="button" class="btn btn-outline-primary"
                                       href="{{ path('frais_show', {'id': frais.id}) }}"
                                       data-bs-toggle="tooltip"
                                       data-bs-offset="0,4"
                                       data-bs-placement="top"
                                       data-bs-html="true"
                                       title="<small>Voir les détails de ce Frais</small>"
                                    >
                                        <i class='bx bx-xs bx-show-alt'></i>
                                    </a>

                                    <a type="button" class="btn btn-outline-primary" href="{{ path('frais_edit', {'id': frais.id}) }}"
                                       data-bs-toggle="tooltip"
                                       data-bs-offset="0,4"
                                       data-bs-placement="top"
                                       data-bs-html="true"
                                       title="<small>Modifier le Frais</small>"
                                    >
                                        <i class='bx bx-xs bxs-edit-alt'></i>
                                    </a>

                                    <a type="button" class="btn btn-danger" href="{{ path('frais_delete', {'id': frais.id}) }}"
                                       onclick="return confirm('Etes-vous sur de vouloir supprimer définitivement ce frais?');"
                                       data-bs-toggle="tooltip"
                                       data-bs-offset="0,4"
                                       data-bs-placement="top"
                                       data-bs-html="true"
                                       title="<small>Supprimer le frais</small>"
                                    >
                                        <i class='bx bx-xs bxs-trash'></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="15" class=" is-size-6">
                            <span>
                                <i>Vide...</i>
                            </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
{% endif %}
