{% if biens_immos|length == 0 %}
    <div class="is-flex-desktop is-flex-direction-column is-align-items-center">
        <div class="column is-flex is-justify-content-center is-align-items-center is-flex-direction-column box-shadow-bulma has-background-info border-radius-2px">
                    <span class="icon-text px-3 py-2 has-text-light is-flex is-justify-content-center is-align-items-center " style="line-height: normal">
                        <span class="icon">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span>
                            <b>Vous n'avez aucun Biens immobiliers enregistrés</b>
                        </span>
                    </span>
            <a href="{{ path('bien_immo_new') }}#logement" class="button is-small is-info is-light">Ajouter un bien immobilier</a>
        </div>
    </div>
{% else %}
    <div class="mb-2 is-flex is-justify-content-end">
        <a href="{{ path('bien_immo_new') }}#logement" class="btn btn-sm btn-outline-primary">
                <span class="icon">
                    <i class="fas fa-lg fa-building"></i>
                    <i class="fas fa-plus"></i>
                </span>
            <span>
                Ajouter un bien
            </span>
        </a>
    </div>
            <div class="card px-3 pt-2 overflow-scroll perfect-scrollbar table-responsive">
                <table class="table table-sm table-hover">
                    <caption>
                        <small>
                            Vous avez un total de {{ biens_immos.getTotalItemCount }} Biens immobiliés enregistrés
                        </small>
                        {{ knp_pagination_render(biens_immos) }}
                    </caption>
                    <thead>
                    <tr class="">
                        <th>
                            <span>{{ knp_pagination_sortable(biens_immos, 'Libelle', 'libelle') }}</span>
                        </th>

                        <th>
                            <span>Actions</span>
                        </th>

                        <th>
                            <span>{{ knp_pagination_sortable(biens_immos, 'Rue', 'street') }}</span>
                        </th>

                        <th>
                            <span>{{ knp_pagination_sortable(biens_immos, 'Ville', 'city') }}</span>
                        </th>
                        <th>
                            <span>{{ knp_pagination_sortable(biens_immos, 'Type', 'type') }}</span>
                        </th>
                        <th>
                            <span>{{ knp_pagination_sortable(biens_immos, 'Superficie', 'superficie') }}</span>
                        </th>

                        <th>
                            <span>{{ knp_pagination_sortable(biens_immos, 'Loyer TTC', 'loyer_ttc') }}</span>
                        </th>

                        <th>
                            <span>{{ knp_pagination_sortable(biens_immos, 'Frais', 'frais') }}</span>
                        </th>

                        <th>
                            <span>Bénéf Net</span>
                        </th>

                        <th>
                            <span>{{ knp_pagination_sortable(biens_immos, 'Locataire', ['locataires.current.lastname']) }}</span>
                        </th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <th>
                                <span>{{ knp_pagination_sortable(biens_immos, 'Gestionnaire', ['user']) }}</span>
                            </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% set total_loyer_ttc = 0 %}
                    {% set total_loyer_hc = 0 %}
                    {% set total_charges = 0 %}
                    {% set total_solde = 0 %}
                    {% for bien_immo in biens_immos %}
                        {% set total_loyer_hc =  total_loyer_hc + bien_immo.loyerHc %}
                        <tr class="">

                            <td title="{{ bien_immo.libelle }}">
                                {% if bien_immo.libelle %}
                                    {{ bien_immo.libelle }}
                                {% else %}
                                    <span class="badge bg-label-secondary"
                                          data-bs-toggle="tooltip"
                                          data-bs-offset="0,14"
                                          data-bs-placement="top"
                                          data-bs-trigger="hover focus"
                                          data-bs-html="true"
                                          title="<small>Non communiqué</small>"
                                    >
                                    N/C
                                    </span>
                                {% endif %}
                            </td>

                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                                    <a type="button" class="btn btn-outline-primary" href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}#logement"
                                       data-bs-toggle="tooltip"
                                       data-bs-offset="0,4"
                                       data-bs-placement="top"
                                       data-bs-html="true"
                                       title="<small>Modifier le logement</small>"
                                    >
                                        <i class='bx bx-xs bxs-edit-alt'></i>
                                    </a>

                                    {% if bien_immo.locataires is empty %}
                                        <span class="d-inline-block"
                                              tabindex="0"
                                              data-bs-toggle="popover"
                                              data-bs-offset="0,14"
                                              data-bs-trigger="hover focus"
                                              data-bs-placement="top"
                                              data-bs-html="true"
                                              data-bs-content="<small>Aucun locataire n'occupe ce logement</small>"
                                        ></span>
                                    {% endif %}

                                    <a type="button" class="btn btn-outline-primary {% if bien_immo.locataires is empty %}disabled{% endif %}"
                                       href="{% if bien_immo.locataire %}{{ path('quittances_edit_new_quittance', {'loc_id': bien_immo.locataire.id }) }}{% endif %}"
                                       data-bs-toggle="tooltip"
                                       data-bs-offset="0,4"
                                       data-bs-placement="top"
                                       data-bs-html="true"
                                       title="<small>Éditer une quittance</small>"
                                    >
                                        <i class='bx bx-xs bxs-file'></i>
                                    </a>

                                    <a type="button" class="btn btn-danger" href="{{ path('bien_immo_delete', {'id': bien_immo.id}) }}"
                                       onclick="return confirm('Etes-vous sur de vouloir supprimer définitivement ce logement?');"
                                       data-bs-toggle="tooltip"
                                       data-bs-offset="0,4"
                                       data-bs-placement="top"
                                       data-bs-html="true"
                                       title="<small>Supprimer le logement</small>"
                                    >
                                        <i class='bx bx-xs bxs-trash'></i>
                                    </a>
                                </div>
                            </td>

                            <td>
                                <span class="text-index-entity">
                                    <small>{{ bien_immo.street }}</small>
                                </span>
                            </td>

                            <td title="{{ bien_immo.city }}">
                                <small class="nowrap-text">
                                    {{ bien_immo.city }}
                                </small>
                            </td>
                            <td title="{{ bien_immo.type }}">
                                <span class="badge bg-label-info">{{ bien_immo.type }}</span>
                            </td>
                            {% if bien_immo.superficie %}
                                <td title="{{ bien_immo.superficie }}">{{ bien_immo.superficie }} m²</td>
                            {% else %}
                                <td>
                            <span class="badge bg-label-secondary"
                                  data-bs-toggle="tooltip"
                                  data-bs-offset="0,14"
                                  data-bs-placement="top"
                                  data-bs-trigger="hover focus"
                                  data-bs-html="true"
                                  title="<small>Non communiqué</small>"
                            >
                                N/C
                            </span>
                                </td>
                            {% endif %}

                            <td title="{{ bien_immo.loyerTtc }} €">{{ bien_immo.loyerTtc|default(0) }} €</td>

                            {% set total_frais = 0 %}
                            {% for frais in bien_immo.frais %}
                                {% set total_frais = total_frais + frais.quantity %}
                            {% endfor %}
                            <td title="- {{ total_frais }} €">- {{ total_frais|default(0) }} €</td>

                            <td title="{{ bien_immo.beneficenet }} €">{{ bien_immo.beneficenet }} €</td>

                            <td>
                                {% if bien_immo.locataires is not empty %}
                                    <a class="btn btn-sm btn-outline-primary"
                                       href="{{ path('locataire_edit', {'id': bien_immo.locataires.current.id}) }}#locataire"
                                       data-bs-toggle="tooltip"
                                       data-bs-offset="0,14"
                                       data-bs-placement="top"
                                       data-bs-trigger="hover focus"
                                       data-bs-html="true"
                                       title="<small>Voir les détails du locataire {{ bien_immo.locataires.current }}</small>"
                                    >
                                        <span>{{ bien_immo.locataires.current }}</span>
                                    </a>
                                {% else %}
                                    <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}#logement"
                                       title="Ajouter un locataire à ce logement"
                                       onmouseover="this.querySelector('i').classList.replace('fa-user-slash','fa-user-plus')"
                                       onmouseleave="this.querySelector('i').classList.replace('fa-user-plus','fa-user-slash')"
                                    >
                                        <span class="icon is-hidden-touch">
                                            <i class="fas fa-user-slash"></i>
                                        </span>
                                        <span class="icon has-text-info is-hidden-desktop">
                                            <i class="fas fa-user-plus"></i>
                                        </span>
                                    </a>
                                    <span title="Logement actuellement sans locataire">Sans locataire</span>
                                {% endif %}
                            </td>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                {% if bien_immo.user %}
                                    <td title="{{ bien_immo.user }}">{{ bien_immo.user }}</td>
                                {% else %}
                                    <td>
                                        <span class="badge bg-label-secondary"
                                              data-bs-toggle="tooltip"
                                              data-bs-offset="0,14"
                                              data-bs-placement="top"
                                              data-bs-trigger="hover focus"
                                              title="Non communiqué"
                                        >
                                            N/C
                                        </span>
                                    </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="15" class=" is-size-6">
                            <span>
                                <i>Vide...</i>
                            </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
{% endif %}
