{% extends 'base.html.twig' %}

{% block title %}BienImmo index{% endblock %}

{% block body %}
    <h1>BienImmo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Building</th>
                <th>Street</th>
                <th>Cp</th>
                <th>City</th>
                <th>Loyer_hc</th>
                <th>Charges</th>
                <th>Loyer TTC</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set total_loyer_ttc = 0 %}
        {% set total_loyer_hc = 0 %}
        {% set total_charges = 0 %}
        {% for bien_immo in bien_immos %}
            {% set total_loyer_ttc =  total_loyer_ttc + (bien_immo.loyerHc + bien_immo.charges) %}
            {% set total_loyer_hc =  total_loyer_hc + bien_immo.loyerHc %}
            {% set total_charges =  total_charges + bien_immo.charges %}
            <tr>
                <td>{{ bien_immo.id }}</td>
                <td>{{ bien_immo.building }}</td>
                <td>{{ bien_immo.street }}</td>
                <td>{{ bien_immo.cp }}</td>
                <td>{{ bien_immo.city }}</td>
                <td>{{ bien_immo.loyerHc }} €</td>
                <td>{{ bien_immo.charges }} €</td>
                <td>{{ bien_immo.loyerHc + bien_immo.charges }} €</td>
                <td>
                    <a href="{{ path('bien_immo_show', {'id': bien_immo.id}) }}">show</a>
                    <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>
                <span>Total</span><br>
                {{ total_loyer_hc }} €
            </th>
            <th>
                <span>Total</span><br>
                {{ total_charges }} €
            </th>
            <th>
                <span>Total</span><br>
                {{ total_loyer_ttc }} €
            </th>
            <th></th>
        </tr>
        </tfoot>
    </table>

    <a href="{{ path('bien_immo_new') }}">Create new</a>
{% endblock %}
