{% extends 'base.html.twig' %}

{% block title %}Biens immobiliers{% endblock %}

{% block title_main %}Liste des Biens immobiliers{% endblock %}

{% block body %}
<section class="section is-flex-direction-column is-align-items-center">
    <div class="table-container">
        <table class="table is-narrow" style="width: 100%;">
            <thead>
                <tr class="has-text-centered">
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Titre', 'building') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Rue', 'street') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'CP', 'cp') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Ville', 'city') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Loyer HC', 'loyer_hc') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Charges', 'charges') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Loyer TTC', 'loyer_ttc') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Solde', 'solde') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Locataire', 'locataires.current') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% set total_loyer_ttc = 0 %}
            {% set total_loyer_hc = 0 %}
            {% set total_charges = 0 %}
            {% set total_solde = 0 %}
            {% for bien_immo in biens_immos %}
                {% set total_loyer_ttc =  total_loyer_ttc + (bien_immo.loyerHc + bien_immo.charges) %}
                {% set total_loyer_hc =  total_loyer_hc + bien_immo.loyerHc %}
                {% set total_charges =  total_charges + bien_immo.charges %}
                {% set total_solde = total_solde + bien_immo.solde.malusQuantity %}
                <tr class="has-text-centered">
                    <td class="is-size-7 has-text-weight-bold help-mouse-hover">
                        <a class="fa-search-js" href="{{ path('bien_immo_show', {'id': bien_immo.id}) }}" title="Voir les détails du logement">
                            <span class="text-info-onhover has-text-dark">
                                <span>{{ bien_immo.building }}</span>
                                <span class="icon">
                                    <i class="fas fa-search fa-search-js"></i>
                                </span>
                            </span>
                        </a>
                    </td>
                    <td class="is-size-7 help-mouse-hover" title="{{ bien_immo.street }}">{{ bien_immo.street }}</td>
                    <td class="is-size-7 help-mouse-hover" title="{{ bien_immo.cp }}">{{ bien_immo.cp }}</td>
                    <td class="is-size-7 help-mouse-hover" title="{{ bien_immo.city }}">{{ bien_immo.city }}</td>
                    <td class="is-size-7 help-mouse-hover" title="{{ bien_immo.loyerHc }} €">{{ bien_immo.loyerHc }} €</td>
                    <td class="is-size-7 help-mouse-hover" title="{{ bien_immo.charges }} €">{{ bien_immo.charges }} €</td>
                    <td class="is-size-7 help-mouse-hover" title="{{ bien_immo.loyerTtc }} €">{{ bien_immo.loyerTtc }} €</td>
                    <td class="is-size-7 help-mouse-hover" title="{{ bien_immo.solde.malusQuantity|number_format(2) }} €">{{ bien_immo.solde.malusQuantity|number_format(2) }} €</td>
                    <td class="is-size-7 help-mouse-hover">
                        {% if bien_immo.locataires is not empty %}
                            <a href="{{ path('remove_loctataire', {'id': bien_immo.id, 'loc_id': bien_immo.locataires.current.id}) }}" title="Retirer le locataire de ce logement" onclick="return confirm('Etes-vous sur de vouloir retirer le locataire du logement');" onmouseover="this.querySelector('i').classList.replace('fa-user','fa-user-minus')" onmouseleave="this.querySelector('i').classList.replace('fa-user-minus','fa-user')">
                                <span class="icon has-text-info text-black-onhover">
                                    <i class="fas fa-user"></i>
                                </span>
                            </a>
                            <a class="fa-search-js" href="{{ path('locataire_show', {'id': bien_immo.locataires.current.id}) }}" title="{{ bien_immo.locataires.current }}">
                                <span class="text-info-onhover has-text-dark">
                                    <span>{{ bien_immo.locataires.current }}</span>
                                    <span class="icon">
                                        <i class="fas fa-search fa-search-js"></i>
                                    </span>
                                </span>
                            </a>
                        {% else %}
                            <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}" title="Ajouter un locataire à ce logement" onmouseover="this.querySelector('i').classList.replace('fa-user-slash','fa-user-plus')" onmouseleave="this.querySelector('i').classList.replace('fa-user-plus','fa-user-slash')">
                                <span class="icon has-text-dark text-info-onhover">
                                    <i class="fas fa-user-slash"></i>
                                </span>
                            </a>
                            <span title="Logement actuellement sans locataire">Sans locataire</span>
                        {% endif %}
                    </td>
                    <td class="is-size-7 help-mouse-hover">
                        <a href="{{ path('bien_immo_show', {'id': bien_immo.id}) }}" title="Voir les détails">
                            <span class="icon">
                                <i class="fas fa-lg fa-search"></i>
                            </span>
                        </a>
                        <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}" title="Modifier le bien">
                            <span class="icon">
                                <i class="fas fa-lg fa-pen-square"></i>
                            </span>
                        </a>
                        {% if bien_immo.locataires is not empty %}
                            <a href="{{ path('quittances_edit_current_month_quittance', {'loc_id': bien_immo.locataires.current.id }) }}" title="Editer une quittance de loyer">
                                <span class="icon">
                                    <i class="fas fa-lg fa-file-contract"></i>
                                </span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Vous n'avez aucun Biens immobiliers enreggistrés</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="is-size-7 help-mouse-hover" title="Total loyers hors charges">
                    <span>{{ total_loyer_hc|number_format(2) }} €</span>
                </th>
                <th class="is-size-7 help-mouse-hover" title="Total charges">
                    <span>{{ total_charges|number_format(2) }} €</span>
                </th>
                <th class="is-size-7 help-mouse-hover" title="Total loyers">
                    <span>{{ total_loyer_ttc|number_format(2) }} €</span>
                </th>
                <th class="is-size-7 help-mouse-hover" title="Total soldes">
                    <span>{{ total_solde|number_format(2) }} €</span>
                </th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="column has-text-centered">
        <a href="{{ path('bien_immo_new') }}" class="button is-small is-light">Ajouter un Bien</a>
    </div>
</section>
{% endblock %}
