{% extends 'base.html.twig' %}

{% block title %}Biens immobiliers{% endblock %}

{% block title_main %}Liste des <b>Biens immobiliers</b>{% endblock %}

{% block body %}
<section class="section is-flex-direction-column is-align-items-center">

    <div class="is-flex is-flex-direction-column is-align-items-center">
        <div class="tags has-addons mb-0">
            <span class="tag has-text-weight-bold">Nombre total de bien immobilier</span>
            <span class="tag is-dark">{{ biens_immos.getTotalItemCount }}</span>
        </div>
        {{ knp_pagination_render(biens_immos) }}
    </div>

    {% if biens_immos|length == 0 %}
        <div class="is-flex-desktop is-flex-direction-column is-align-items-center">
            <div class="column is-flex is-justify-content-center is-align-items-center is-flex-direction-column box-shadow-bulma has-background-info border-radius-2px">
                    <span class="icon-text px-3 py-2 has-text-light is-flex is-justify-content-center is-align-items-center has-text-centered" style="line-height: normal">
                        <span class="icon">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span>
                            <b>Vous n'avez aucun Biens immobiliers enregistrés</b>
                        </span>
                    </span>
                <a href="{{ path('bien_immo_new') }}" class="button is-small is-info is-light">Ajouter un bien immobilier</a>
            </div>
        </div>
    {% else %}
        <div class="table-container is-flex is-justify-content-center">
            <table class="table is-narrow">
                <thead>
                <tr class="has-text-centered">
                    <th>
                        <span class="is-size-7">Actions</span>
                    </th>
                    <th class="sticky-left px-0 py-0">
                        <span class="is-size-7 has-background-white child-sticky-left px-2">{{ knp_pagination_sortable(biens_immos, 'Rue', 'street') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'CP', 'cp') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Ville', 'city') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Type', 'type') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Superficie', 'superficie') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Loyer HC', 'loyer_hc') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Charges', 'charges') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Loyer TTC', 'loyer_ttc') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Echéance', 'echeance') }}</span>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Solde', 'solde') }}</span>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Copropriété', ['bien_immo.copropriete.name']) }}</span>
                    </th>
                    </th>
                    <th>
                        <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Locataire', ['locataires.current.lastname']) }}</span>
                    </th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>
                            <span class="is-size-7">{{ knp_pagination_sortable(biens_immos, 'Gestionnaire', ['user']) }}</span>
                        </th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% set total_loyer_ttc = 0 %}
                {% set total_loyer_hc = 0 %}
                {% set total_charges = 0 %}
                {% set total_solde = 0 %}
                {% for bien_immo in biens_immos %}
                    {% set total_loyer_ttc =  total_loyer_ttc + (bien_immo.loyerHc + bien_immo.charges) %}
                    {% set total_loyer_hc =  total_loyer_hc + bien_immo.loyerHc %}
                    {% set total_charges =  total_charges + bien_immo.charges %}
                    {% set total_solde = total_solde + bien_immo.solde.malusQuantity %}
                    <tr class="has-text-centered">
                        <td class="is-size-7">

                            <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}" title="Modifier le logement">
                            <span class="icon text-info-onhover">
                                <i class="fas fa-lg fa-edit"></i>
                            </span>
                            </a>

                            {% if bien_immo.locataires is not empty %}
                                <a href="{{ path('quittances_edit_new_quittance', {'loc_id': bien_immo.locataires.current.id }) }}" title="Editer une quittance de loyer">
                                <span class="icon text-info-onhover">
                                    <i class="fas fa-lg fa-file-signature"></i>
                                </span>
                                </a>
                            {% endif %}

                            <a href="{{ path('bien_immo_delete', {'id': bien_immo.id}) }}" title="Supprimer le logement" onclick="return confirm('Etes-vous sur de vouloir supprimer définitivement ce logement?');">
                            <span class="icon has-text-danger">
                                <i class="far fa-lg fa-trash-alt"></i>
                            </span>
                            </a>

                        </td>
                        <td class="is-size-7 has-text-weight-bold show-on-hover sticky-left px-0 py-0">
                        <span class="text-info-onhover has-text-dark">
                            <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}" class="has-text-weight-bold text-info-onhover icon-text has-background-white child-sticky-left px-2" title="{{ bien_immo.street }}">
                                <span class="text-index-bien-immo">
                                    {{ bien_immo.street }}
                                </span>
                                <span class="icon show-on-hover-target is-hidden-touch">
                                    <i class="fas fa-search"></i>
                                </span>
                            </a>
                        </span>
                        </td>
                        <td class="is-size-7" title="{{ bien_immo.cp }}">{{ bien_immo.cp }}</td>
                        <td class="is-size-7" title="{{ bien_immo.city }}">{{ bien_immo.city }}</td>
                        <td class="is-size-7" title="{{ bien_immo.type }}">{{ bien_immo.type }}</td>
                        {% if bien_immo.superficie %}
                            <td class="is-size-7" title="{{ bien_immo.superficie }}">{{ bien_immo.superficie }} m²</td>
                        {% else %}
                            <td class="is-size-7" title="Non renseignée"><i class="non-renseigne">N/A</i></td>
                        {% endif %}
                        <td class="is-size-7" title="{{ bien_immo.loyerHc }} €">{{ bien_immo.loyerHc }} €</td>
                        <td class="is-size-7" title="{{ bien_immo.charges }} €">{{ bien_immo.charges }} €</td>
                        <td class="is-size-7" title="{{ bien_immo.loyerTtc|number_format(2) }} €">{{ bien_immo.loyerTtc|number_format(2) }} €</td>
                        <td class="is-size-7" title="{{ bien_immo.echeance }} €">{{ bien_immo.echeance }} du mois</td>
                        <td class="is-size-7" title="{{ bien_immo.solde.malusQuantity|number_format(2) }} €">{{ bien_immo.solde.malusQuantity|number_format(2) }} €</td>
                        <td class="is-size-7">
                            {% if bien_immo.copropriete.name %}
                                <span class="is-size-7" title="{{ bien_immo.copropriete.name }}">{{ bien_immo.copropriete.name }}</span>
                            {% else %}
                                <span class="is-size-7" title="Non renseigné"><i class="non-renseigne">N/A</i></span>
                            {% endif %}
                        </td>
                        <td class="is-size-7">
                            {% if bien_immo.locataires is not empty %}
                                <a href="{{ path('remove_loctataire', {'id': bien_immo.id, 'loc_id': bien_immo.locataires.current.id}) }}" title="Retirer le locataire de ce logement" onclick="return confirm('Etes-vous sur de vouloir retirer le locataire du logement');" onmouseover="this.querySelector('i').classList.replace('fa-user','fa-user-minus')" onmouseleave="this.querySelector('i').classList.replace('fa-user-minus','fa-user')">
                                <span class="icon has-text-info text-black-onhover is-hidden-touch">
                                    <i class="fas fa-user"></i>
                                </span>
                                    <span class="icon is-hidden-desktop">
                                    <i class="fas fa-user-minus"></i>
                                </span>
                                </a>
                                <a class="show-on-hover" href="{{ path('locataire_edit', {'id': bien_immo.locataires.current.id}) }}" title="Voir les détails du locataire {{ bien_immo.locataires.current }}">
                                <span class="text-info-onhover has-text-dark">
                                    <span><b>{{ bien_immo.locataires.current }}</b></span>
                                    <span class="icon show-on-hover-target is-hidden-touch">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </span>
                                </a>
                            {% else %}
                                <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}" title="Ajouter un locataire à ce logement" onmouseover="this.querySelector('i').classList.replace('fa-user-slash','fa-user-plus')" onmouseleave="this.querySelector('i').classList.replace('fa-user-plus','fa-user-slash')">
                                <span class="icon has-text-dark text-info-onhover is-hidden-touch">
                                    <i class="fas fa-user-slash"></i>
                                </span>
                                    <span class="icon has-text-info is-hidden-desktop">
                                    <i class="fas fa-user-plus"></i>
                                </span>
                                </a>
                                <span title="Logement actuellement sans locataire">Sans locataire</span>
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            {% if bien_immo.user %}
                                <td class="is-size-7" title="{{ bien_immo.user }}">{{ bien_immo.user }}</td>
                            {% else %}
                                <td class="is-size-7" title="Non renseignée"><i class="non-renseigne">N/A</i></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="15" class="has-text-centered is-size-6">
                            <span>
                                <i>Vide...</i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th class="sticky-left px-0 py-0"><span style="background: #f5f5f5;height: 20px;width: 100%"></span></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="is-size-7" title="Total loyers hors charges">
                        <span>{{ total_loyer_hc|number_format(2) }} €</span>
                    </th>
                    <th class="is-size-7" title="Total charges">
                        <span>{{ total_charges|number_format(2) }} €</span>
                    </th>
                    <th class="is-size-7" title="Total loyers">
                        <span>{{ total_loyer_ttc|number_format(2) }} €</span>
                    </th>
                    <th></th>
                    <th class="is-size-7" title="Total soldes">
                        <span>{{ total_solde|number_format(2) }} €</span>
                    </th>
                    <th></th>
                    <th></th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th></th>
                    {% endif %}
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="column has-text-centered">
            <a href="{{ path('bien_immo_new') }}" class="button is-small is-light">Ajouter un Bien</a>
        </div>
    {% endif %}

{#  POUR GOOGLE MAPS SEARCH  #}
{#    <input type="text" id="autocomplete" placeholder="Indiquer une adresse">#}
{#  ##############  #}

</section>
{% endblock %}
