{% extends 'base.html.twig' %}

{% block title %}Biens immobiliers{% endblock %}

{% block title_main %}Listes des Biens immobiliers{% endblock %}

{% block body %}
<section class="section is-flex-desktop is-flex-direction-column is-align-items-center">
    <div class="field" style="max-width: 100vw;overflow-y: auto">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <span>Complément d'adresse</span>
                    </th>
                    <th>
                        <span>Rue</span>
                    </th>
                    <th>
                        <span>CP</span>
                    </th>
                    <th>
                        <span>Ville</span>
                    </th>
                    <th>
                        <span>Loyer HC</span>
                    </th>
                    <th>
                        <span>Charges</span>
                    </th>
                    <th>
                        <span>Loyer TTC</span>
                    </th>
                    <th>
                        <span>Solde</span>
                    </th>
                    <th>
                        <span>Locataire</span>
                    </th>
                    <th>
                        <span>Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% set total_loyer_ttc = 0 %}
            {% set total_loyer_hc = 0 %}
            {% set total_charges = 0 %}
            {% set total_solde = 0 %}
            {% for bien_immo in bien_immos %}
                {% set total_loyer_ttc =  total_loyer_ttc + (bien_immo.loyerHc + bien_immo.charges) %}
                {% set total_loyer_hc =  total_loyer_hc + bien_immo.loyerHc %}
                {% set total_charges =  total_charges + bien_immo.charges %}
                {% set total_solde = total_solde + bien_immo.solde.malusQuantity %}
                <tr>
                    <td>{{ bien_immo.building }}</td>
                    <td>{{ bien_immo.street }}</td>
                    <td>{{ bien_immo.cp }}</td>
                    <td>{{ bien_immo.city }}</td>
                    <td>{{ bien_immo.loyerHc }} €</td>
                    <td>{{ bien_immo.charges }} €</td>
                    <td>{{ (bien_immo.loyerHc + bien_immo.charges)|number_format(2) }} €</td>
                    <td>{{ bien_immo.solde.malusQuantity|number_format(2) }} €</td>
                    <td>
                        {% if bien_immo.locataires is not empty %}
                            <a href="{{ path('remove_loctataire', {'id': bien_immo.id, 'loc_id': bien_immo.locataires.current.id}) }}" title="Retirer le locataire de ce logement">
                                <span class="icon">
                                    <i class="fas fa-user-minus"></i>
                                </span>
                            </a>
                            <a class="fa-search-js" href="{{ path('locataire_show', {'id': bien_immo.locataires.current.id}) }}">
                                <span class="icon-text has-text-info">
                                    <span>{{ bien_immo.locataires.current }}</span>
                                    <span class="icon">
                                        <i class="fas fa-search fa-search-js"></i>
                                    </span>
                                </span>
                            </a>
                        {% else %}
                            <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}" title="Ajouter un locataire à ce logement">
                                <span class="icon">
                                    <i class="fas fa-user-plus"></i>
                                </span>
                            </a>
                            Sans locataire
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('bien_immo_show', {'id': bien_immo.id}) }}" title="Voir les détails">
                            <span class="icon">
                                <i class="fas fa-lg fa-search"></i>
                            </span>
                        </a>
                        <a href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}" title="Modifier le bien">
                            <span class="icon">
                                <i class="fas fa-lg fa-pen-square"></i>
                            </span>
                        </a>
                        {% if bien_immo.locataires is not empty %}
                            <a href="{{ path('quittances', {'loc_id': bien_immo.locataires.current.id }) }}" title="Editer une quittance de loyer">
                                <span class="icon">
                                    <i class="fas fa-lg fa-file-contract"></i>
                                </span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Vous n'avez aucun Biens immobiliers enreggistrés</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <span>{{ total_loyer_hc }} €</span>
                </th>
                <th>
                    <span>{{ total_charges }} €</span>
                </th>
                <th>
                    <span>{{ total_loyer_ttc }} €</span>
                </th>
                <th>
                    <span>{{ total_solde }} €</span>
                </th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="column has-text-centered">
        <a href="{{ path('bien_immo_new') }}" class="button is-light">Ajouter un Bien</a>
    </div>
</section>
{% endblock %}
