{% extends 'base.html.twig' %}

{% block title %}{{ bien_immo.building }}{% endblock %}

{% block title_main %}Votre bien : {{ bien_immo.building }}{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Complément d'adresse</th>
                <td>{{ bien_immo.building }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ bien_immo.street }}</td>
            </tr>
            <tr>
                <th>CP</th>
                <td>{{ bien_immo.cp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ bien_immo.city }}</td>
            </tr>
            <tr>
                <th>Loyer HC</th>
                <td>{{ bien_immo.loyerHc }} €</td>
            </tr>
            <tr>
                <th>Charges</th>
                <td>{{ bien_immo.charges }} €</td>
            </tr>
            <tr>
                <th>Loyer TTC</th>
                <td>{{ bien_immo.loyerHc + bien_immo.charges }} €</td>
            </tr>
            <tr>
                <th>Solde</th>
                <td>{{ bien_immo.solde }} €</td>
            </tr>
        </tbody>
    </table>

    <h2 class="title has-text-centered">Locataire(s)</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Sexe</th>
            <th>Moyen de paiement</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for locataire in locataires %}
            <tr>
                <td>{{ locataire.firstName }}</td>
                <td>{{ locataire.lastName }}</td>
                <td>{{ locataire.gender }}</td>
                <td>{{ locataire.mode }}</td>
                <td>
                    <a href="{{ path('locataire_show', {'id': locataire.id}) }}">Détails</a>
                    <a href="{{ path('locataire_edit', {'id': locataire.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun locataire n'est attribué à ce logement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="column">
        <div class="buttons is-justify-content-space-between has-text-centered">
            <a class="button is-light" href="{{ path('bien_immo_index') }}">Retour à la liste des Biens immobiliers</a>

            <a class="button is-light" href="{{ path('bien_immo_edit', {'id': bien_immo.id}) }}">Modifier ce bien</a>
        </div>

    </div>


    {{ include('bien_immo/_delete_form.html.twig') }}
{% endblock %}
