
<div class="is-flex-desktop is-justify-content-space-between">
    <div class="column has-text-centered-touch">
        <a href="{{ path('immo_accueil') }}" class="button is-small is-dark bg-info-onhover">
            <span class="icon">
                <i class="fas fa-lg fa-object-group"></i>
            </span>
            <span>
                Vue d'ensemble
            </span>
        </a>
        <a href="{{ path('bien_immo_index') }}" class="button is-small is-dark bg-info-onhover">
            <span class="icon">
                <i class="fas fa-lg fa-city"></i>
            </span>
            <span>
                Vos biens
            </span>

        </a>
        <a href="{{ path('locataire_index') }}" class="button is-small is-dark bg-info-onhover">
            <span class="icon">
                <i class="fas fa-lg fa-users"></i>
            </span>
            <span>
                Vos locataires
            </span>

        </a>
    </div>
    <div class="column has-text-centered-touch has-text-right-desktop">
        <a href="{{ path('bien_immo_new') }}" class="button is-small is-dark bg-info-onhover">
            <span class="icon px-3">
                <i class="fas fa-lg fa-building"></i>
                <i class="fas fa-plus"></i>
            </span>
            <span>
                Ajouter un bien
            </span>
        </a>
        <a href="{{ path('locataire_new') }}" class="button is-small is-dark bg-info-onhover">
            <span class="icon">
                <i class="fas fa-lg fa-user-plus"></i>
            </span>
            <span>
                Ajouter un locataire
            </span>
        </a>
    </div>
</div>
