
<div class="buttons is-justify-content-center">
{#    <div class="column pb-0 pt-2 is-flex-touch is-flex-direction-column has-text-centered-touch">#}

        <a href="{{ path('immo_accueil') }}" class="button is-primary is-hidden-touch">
            <span class="icon">
                <i class="fas fa-lg fa-object-group"></i>
            </span>
            <span>
                Vue d'ensemble
            </span>
        </a>
        <a href="{{ path('immo_accueil') }}" class="button is-primary is-hidden-desktop">
            <span class="icon">
                <i class="fas fa-lg fa-object-group"></i>
            </span>
        </a>

        <a href="{{ path('bien_immo_index') }}" class="button is-primary is-hidden-touch">
            <span class="icon">
                <i class="fas fa-lg fa-city"></i>
            </span>
            <span>
                Vos biens
            </span>
        </a>
        <a href="{{ path('bien_immo_index') }}" class="button is-primary is-hidden-desktop">
            <span class="icon">
                <i class="fas fa-lg fa-city"></i>
            </span>
        </a>

        <a href="{{ path('locataire_index') }}" class="button is-primary is-hidden-touch">
            <span class="icon">
                <i class="fas fa-lg fa-users"></i>
            </span>
            <span>
                Vos locataires
            </span>
        </a>
        <a href="{{ path('locataire_index') }}" class="button is-primary is-hidden-desktop">
            <span class="icon">
                <i class="fas fa-lg fa-users"></i>
            </span>
        </a>

{#    </div>#}
{#    <div class="column pb-0 pt-2 is-flex-touch is-flex-direction-column has-text-centered-touch has-text-right-desktop">#}
        <a href="{{ path('bien_immo_new') }}#logement" class="button is-primary is-hidden-touch">
            <span class="icon px-3">
                <i class="fas fa-lg fa-building"></i>
                <i class="fas is-size-8 fa-plus"></i>
            </span>
            <span>Ajouter un bien</span>
        </a>
        <a href="{{ path('bien_immo_new') }}#logement" class="button is-primary is-hidden-desktop">
            <span class="icon px-3">
                <i class="fas fa-lg fa-building"></i>
                <i class="fas is-size-8 fa-plus"></i>
            </span>
        </a>

        <a href="{{ path('locataire_new') }}#locataire" class="button is-primary is-hidden-touch">
            <span class="icon">
                <i class="fas fa-lg fa-user-plus"></i>
            </span>
            <span>Ajouter un locataire</span>
        </a>
        <a href="{{ path('locataire_new') }}#locataire" class="button is-primary is-hidden-desktop">
            <span class="icon">
                <i class="fas fa-lg fa-user-plus"></i>
            </span>
        </a>

</div>
