{% extends 'base.html.twig' %}

{% block title %}Télécharger la quittance{% endblock %}
{% block title_main %}Quittance de loyer pour {{ locataire.gender }} {{ locataire.lastName|upper }} {{ locataire.firstName }}{% endblock %}

{% block body %}

    <div class="column is-flex is-justify-content-center is-align-items-center">
       <iframe src="{{ asset('build/quittances/') }}{{ file_name }}.pdf" width="450" height="700" align="middle"></iframe>
    </div>


    <div class="column">
        <div class="my-2 mx-2 has-text-centered">
            <a href="{{ asset('build/quittances/') }}{{ file_name }}.pdf" class="button" download="{{ file_name }}">
            <span class="icon">
                <i class="fa fa-download"></i>
            </span>
                <span>{{ file_name }} (.pdf)</span>
            </a>
        </div>
        <div class="my-2 mx-2 has-text-centered">
            <a href="{{ asset('build/quittances/') }}{{ file_name }}.docx" class="button" download="{{ file_name }}">
            <span class="icon">
                <i class="fa fa-download"></i>
            </span>
                <span>{{ file_name }} (.docx)</span>
            </a>
        </div>

    </div>


{% endblock %}
