{% if form.vars.name == 'bien_immo' %}
        {% set entity = bien_immo %}
{% elseif form.vars.name == 'locataire' %}
        {% set entity = locataire %}
{% endif %}

{% if form.vars.name == 'bien_immo' and entity.locataires.current is null %}
        <span class="icon-text px-3 py-2 box-shadow-bulma has-background-primary border-radius-2px has-text-light is-flex is-justify-content-center is-align-items-center has-text-centered" style="line-height: normal">
                <span class="icon">
                    <i class="fas fa-info-circle"></i>
                </span>
                <span>
                    <b>Ce logement ne possède actuellement aucun locataire ...</b>
                </span>
                <span class="px-3">
                        <a class="button is-small is-light is-outlined" title="Ajouter un locataire au logement" onclick="let btn = document.querySelector('div#logement').nextElementSibling.click();">
                                Ajouter un locataire
                        </a>
                </span>
        </span>
{% elseif 'new' not in app.request.get('_route') %}

    <p class="title is-5">Quittances de loyers</p>
    <p class="subtitle is-6">Visionner & éditer des quittances de loyers</p>

                <div class="columns is-multiline is-flex is-flex-direction-row is-justify-content-center">

                    {% for quittance in entity.quittances|sort %}
                        <div class="column box-shadow-bulma border-radius-2px has-background-light is-one-fifth is-one-third-mobile is-1-widescreen mx-2 my-2 is-relative">
                            <div class="is-flex is-justify-content-center is-align-items-center">
                                {% if quittance.pdfexist %}
                                    <a style="max-width: 100px" class="is-white {{ quittance.createdDate|format_datetime(pattern="y", locale='fr') }} {{ quittance.createdDate|format_datetime(pattern="MMMM", locale='fr') }}" title="{{ quittance.fileName }}.pdf" href="{{ asset('documents/quittances/') }}{{ quittance.fileName }}.pdf" download="{{ asset('documents/uploaded_files/') }}{{ quittance.fileName }}">
                                        <span class="icon">
                                            <i class="fas fa-2x fa-file-pdf"></i>
                                        </span>
                                        <span class="overflow-ellipsis nowrap-text is-block is-size-7-mobile">
                                        {{ quittance.fileName }}
                                        </span>
                                        <span class="is-dark" title="Fichier édité le {{ quittance.createdDate|format_datetime(pattern="dd'/'M'/'y", locale='fr')|capitalize }}">{{ quittance.createdDate|format_datetime(pattern="dd'/'M'/'y", locale='fr')|capitalize }}</span>
                                    </a>
                                    <a class="icon is-medium is-absolute-top-0 is-left-0 is-white" title="{{ quittance.fileName }}.docx" href="{{ asset('documents/quittances/') }}{{ quittance.fileName }}.docx" download="{{ asset('documents/uploaded_files/') }}{{ quittance.fileName }}">
                                        <i class="fas fa-lg fa-file-word"></i>
                                    </a>
                                {% else %}
                                    <a style="max-width: 100px" class="is-white {{ quittance.createdDate|format_datetime(pattern="y", locale='fr') }} {{ quittance.createdDate|format_datetime(pattern="MMMM", locale='fr') }}" title="{{ quittance.fileName }}.docx" href="{{ asset('documents/quittances/') }}{{ quittance.fileName }}.docx" download="{{ asset('documents/uploaded_files/') }}{{ quittance.fileName }}">
                                        <span class="icon">
                                            <i class="fas fa-2x fa-file-word"></i>
                                        </span>
                                        <span class="overflow-ellipsis nowrap-text is-block is-size-7-mobile">
                                        {{ quittance.fileName }}
                                        </span>
                                        <span class="is-dark" title="Fichier édité le {{ quittance.createdDate|format_datetime(pattern="dd'/'M'/'y", locale='fr')|capitalize }}">{{ quittance.createdDate|format_datetime(pattern="dd'/'M'/'y", locale='fr')|capitalize }}</span>
                                    </a>
                                {% endif %}
                            </div>

                            <a class="icon is-absolute-top-0 is-right-0 is-medium" href="{{ path('quittances_delete_quittance', {'quittance_id': quittance.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce document?')" title="Supprimer la quittance">
                                <i class="fas fa-lg fa-times"></i>
                            </a>
                        </div>
                    {% endfor %}

                    {% if locataire_twig is defined and locataire_twig and locataire_twig.logement %}
                        <a href="{{ path('quittances_edit_new_quittance', {'loc_id': locataire_twig.id }) }}" class="column has-text-light is-flex is-flex-direction-column is-justify-content-center is-align-items-center box-shadow-bulma border-radius-2px has-background-light is-one-fifth is-one-third-mobile is-1-widescreen mx-2 my-2 is-relative file is-hidden has-background-info" title="Editer une quittance de loyer pour {{ locataire_twig }}">
                            <span class="icon">
                                <i class="fas fa-2x fa-file-alt"></i>
                                <i class="fas fa-plus"></i>
                            </span>
                            <span><b>Quittance</b></span>
                        </a>
                    {% elseif form.vars.name == 'locataire' and entity.logement is null %}
                        <span class="has-text-light is-flex is-flex-direction-column is-justify-content-center is-align-items-center box-shadow-bulma border-radius-2px has-background-light is-one-fifth is-one-third-mobile is-1-widescreen mx-2 my-2 px-2 py-2 file is-hidden has-background-info" style="line-height: normal">
                            <span>
                                Pour éditer une quittance...
                            </span>
                            <span class="px-3">
                                <a class="button is-small is-light is-outlined" title="Ajouter un logement au locataire" onclick="let btn = document.querySelector('div#locataire').nextElementSibling.click();">
                                    Ajouter un logement
                                </a>
                            </span>
                        </span>
                    {% endif %}

                </div>

    <hr style="border-bottom: rgba(0,0,0,.2) solid 1px">

    <p class="title is-5">Autres documents</p>
    <p class="subtitle is-6">Uploader & consulter les documents du locataires</p>

    <div class="is-flex-desktop">

        {{ form_start(form_documents) }}
        <div class="file has-name is-boxed is-justify-content-center is-align-items-center mx-2 my-2">
            <label class="file-label">
                    {{ form_widget(form_documents.file) }}
                <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-2x fa-file-upload"></i>
                    </span>
                    <span class="file-label overflow-ellipsis" id="file-label" style="max-width: 130px;">
                        Choisir un fichier…
                    </span>
                </span>
                <div class="field has-addons">

                    <p class="control">
                        <a class="button is-static is-small">
                            Nom du fichier
                        </a>
                    </p>

                    <div class="control is-expanded">
                        <div class="is-small is-fullwidth">
                            {{ form_widget(form_documents.title) }}
                        </div>
                    </div>

                </div>
{#                {{ form_widget(form_documents.title) }}#}
                <button class="button is-info is-small borderless-radius" type="submit"><b>Valider</b></button>
            </label>
        </div>
        {{ form_end(form_documents) }}


        <div class="column mx-2 my-2 border-radius-2px border-dotted-3px" style="min-height: 30vh;">
            <div class="columns is-multiline is-flex is-flex-direction-row is-justify-content-center">
                {% for document in entity.documents %}
                    <div class="column box-shadow-bulma border-radius-2px has-background-light is-one-fifth is-one-third-mobile is-2-widescreen mx-2 my-2 is-relative">
                        <a style="max-width: 100px" class="is-white {{ document.createdDate|format_datetime(pattern="y", locale='fr') }} {{ document.createdDate|format_datetime(pattern="MMMM", locale='fr') }}" title="{{ document.fileName }}" href="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}" download="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}">
                                <span class="icon">
                                    <i class="fas fa-2x fa-file"></i>
                                </span>
                            <span class="overflow-ellipsis nowrap-text is-block is-size-7-mobile">
                                {{ document.title }}
                            </span>
                        </a>
                        <a class="icon is-absolute-top-0 is-right-0 is-medium" href="{{ path('document_delete', {'id': document.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce document?')" title="Supprimer le document">
                            <i class="fas fa-lg fa-times"></i>
                        </a>
                    </div>
                {% endfor %}
                {% if form.vars.name == 'bien_immo' and entity.locataires|length != 0 %}
                    {% for document in entity.locataires.first.documents %}
                        <div class="column box-shadow-bulma border-radius-2px has-background-light is-one-fifth is-one-third-mobile is-2-widescreen mx-2 my-2 is-relative">
                            <a style="max-width: 100px" class="is-white {{ document.createdDate|format_datetime(pattern="y", locale='fr') }} {{ document.createdDate|format_datetime(pattern="MMMM", locale='fr') }}" title="{{ document.fileName }}" href="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}" download="{{ asset('documents/uploaded_files/') }}{{ document.fileName }}">
                                <span class="icon">
                                    <i class="fas fa-2x fa-file"></i>
                                </span>
                                <span class="overflow-ellipsis nowrap-text is-block is-size-7-mobile">
                                {{ document.title }}
                            </span>
                            </a>
                            <a class="icon is-absolute-top-0 is-right-0 is-medium" href="{{ path('document_delete', {'id': document.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce document?')" title="Supprimer le document">
                                <i class="fas fa-lg fa-times"></i>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endif %}


{#      #}
<script>
    let fileUpload = document.getElementById('documents_file');
    let inputFile = document.getElementById('documents_title');
    // let title = document.getElementById('file-label');
    // fileUpload.ondrop = function (event){
    //     console.log('drop');
    // };
    fileUpload.onchange = function () {
        inputFile.value = fileUpload.files[0].name;
        // title.innerText = fileUpload.files[0].name;
    }
</script>
