{% extends 'base.html.twig' %}

{% block title %}Liste des gestionnaires{% endblock %}
{% block title_main %}Liste des gestionnaires{% endblock %}
{% block body %}
<section class="section is-flex-direction-column is-align-items-center">
    <div class="table-container">
        <table class="table is-narrow has-text-centered" style="width: 100%;">
            <thead>
                <tr>
                    <th class="is-size-7">Email</th>
                    <th class="is-size-7">Nom</th>
                    <th class="is-size-7">Prénom</th>
                    <th class="is-size-7">Roles</th>
                    <th class="is-size-7">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="is-size-7">{{ user.email }}</td>
                    <td class="is-size-7">{{ user.lastName }}</td>
                    <td class="is-size-7">{{ user.firstName }}</td>
                    <td class="is-size-7">
                        {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                            Super gestionnaire
                        {% else %}
                            Standard
                        {% endif %}
{#                        {{ user.roles ? user.roles|json_encode : '' }}#}
                    </td>
                    <td class="is-size-7">
                        <a href="{{ path('user_show', {'id': user.id}) }}">Détails</a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Il n'y à aucun profile enregistrés</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<div class="column has-text-centered">
    <a class="button is-light is-small" href="{{ path('user_new') }}">Ajouter un gestionnaire</a>
</div>
{% endblock %}
