{% extends 'base.html.twig' %}

{% block title %}Gestionnaire : {{ user.lastName }} {{ user.firstName }}{% endblock %}
{% block title_main %}Gestionnaire : {{ user.lastName }} {{ user.firstName }}{% endblock %}
{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a class="button is-light is-small" href="{{ path('user_index') }}">Retour à la liste des gestionnaires</a>

    <a class="button is-light is-small" href="{{ path('user_edit', {'id': user.id}) }}">Valider</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
