{% extends 'base.html.twig' %}

{% block title %}Télécharger le devis{% endblock %}

{% block body %}
    <div class="column is-flex is-justify-content-center is-align-items-center">
        <iframe src="{{ asset('build/devis/') }}{{ file_name }}.pdf" width="450" height="700" align="middle"></iframe>
    </div>

    <div class="column is-flex is-justify-content-center is-align-items-center">
        <a href="{{ asset('build/devis/') }}{{ file_name }}.pdf" class="button" download="{{ file_name }}">
            <span class="icon">
                <i class="fa fa-download"></i>
            </span>
            <span>{{ file_name }}</span>
        </a>
    </div>
{% endblock %}
